Repository nhost/nhost, pull requests merged in 2022-12, with the labels that each got.

#1296 chore(deps): remove unused deps, sync @types/react and @types/react-dom
  .changeset/popular-seahorses-applaud.md
  .changeset/three-cameras-end.md
  dashboard/package.json
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/nextjs/package.json
  examples/react-apollo/package.json
  examples/react-gqty/package.json
  packages/react-apollo/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dashboard, sdk, nextjs, react, examples

#1308 chore: improve docker-compose example
  .changeset/fair-students-enjoy.md
  .github/renovate.json
  examples/docker-compose/docker-compose.yaml
  examples/docker-compose/package.json
  examples/docker-compose/test/docker-compose.test.ts
  pnpm-lock.yaml
Labels: examples

#1312 Chore(docker-compose): fix tests
  examples/docker-compose/test/docker-compose.test.ts
Labels: examples

#1316 docs clarifications
  docs/docs/authentication/users.mdx
Labels: documentation

#1250 chore(dashboard): deprecate old DNS name
  .changeset/spicy-paws-fly.md
  dashboard/public/assets/BR.svg
  dashboard/src/components/applications/HasuraData.tsx
  dashboard/src/components/settings/environmentVariables/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/components/settings/signInMethods/AppleProviderSettings/AppleProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/DiscordProviderSettings/DiscordProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/FacebookProviderSettings/FacebookProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/GitHubProviderSettings/GitHubProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/GoogleProviderSettings/GoogleProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/LinkedInProviderSettings/LinkedInProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/ProvidersUpdatedAlert/ProvidersUpdatedAlert.tsx
  dashboard/src/components/settings/signInMethods/ProvidersUpdatedAlert/index.ts
  dashboard/src/components/settings/signInMethods/SpotifyProviderSettings/SpotifyProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/TwitchProviderSettings/TwitchProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/TwitterProviderSettings/TwitterProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/WindowsLiveProviderSettings/WindowsLiveProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/WorkOsProviderSettings/WorkOsProviderSettings.tsx
  dashboard/src/components/users/AddUser.tsx
  dashboard/src/gql/app/getAppByWorkspaceAndName.graphql
  dashboard/src/gql/settings/confirmProvidersUpdated.gql
  dashboard/src/gql/user/getOneUser.gql
  dashboard/src/hooks/dataBrowser/useCreateColumnMutation/useCreateColumnMutation.ts
  dashboard/src/hooks/dataBrowser/useCreateRecordMutation/useCreateRecordMutation.ts
  dashboard/src/hooks/dataBrowser/useCreateTableMutation/useCreateTableMutation.ts
  dashboard/src/hooks/dataBrowser/useDatabaseQuery/useDatabaseQuery.ts
  dashboard/src/hooks/dataBrowser/useDeleteColumnMutation/useDeleteColumnMutation.ts
  dashboard/src/hooks/dataBrowser/useDeleteRecordMutation/useDeleteRecordMutation.ts
  dashboard/src/hooks/dataBrowser/useDeleteTableMutation/useDeleteTableMutation.ts
  dashboard/src/hooks/dataBrowser/useMetadataQuery/useMetadataQuery.ts
  dashboard/src/hooks/dataBrowser/useTableQuery/useTableQuery.ts
  dashboard/src/hooks/dataBrowser/useTrackForeignKeyRelationsMutation/useTrackForeignKeyRelationsMutation.ts
  dashboard/src/hooks/dataBrowser/useTrackTableMutation/useTrackTableMutation.ts
  dashboard/src/hooks/dataBrowser/useUpdateColumnMutation/useUpdateColumnMutation.ts
  dashboard/src/hooks/dataBrowser/useUpdateRecordMutation/useUpdateRecordMutation.ts
  dashboard/src/hooks/dataBrowser/useUpdateTableMutation/useUpdateTableMutation.ts
  dashboard/src/hooks/overview/useDatabaseSizeOfApplication/fetchProjectDatabaseSize.ts
  dashboard/src/hooks/overview/useDatabaseSizeOfApplication/useDatabaseSizeOfApplication.ts
  dashboard/src/hooks/useCurrentWorkspaceAndApplication.tsx
  dashboard/src/hooks/useFiles.ts
  dashboard/src/hooks/useRemoteApplicationGQLClient.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/functions.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/functions/[functionId].tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/graphql.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/sign-in-methods/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/storage/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/[userId].tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/types/application.ts
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/helpers.ts
Labels: dashboard

#1328 fix(dashboard): prevent error on GraphQL page
  .changeset/dry-garlics-return.md
  dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

#1329 fix(dashboard): use correct Hasura slug
  .changeset/strong-yaks-flow.md
  dashboard/src/components/applications/HasuraData.tsx
Labels: dashboard

#1338 Fix typo
  docs/docs/authentication/sign-in-methods/4-linkedin.mdx
Labels: documentation

#1341 refactor: nhost react providers
  .changeset/big-pumpkins-march.md
  dashboard/src/pages/_app.tsx
  dashboard/src/utils/testUtils.tsx
  docs/docs/quickstarts/nextjs.mdx
  docs/docs/quickstarts/react.mdx
  docs/docs/reference/docgen/nextjs/content/nhost-client/index.mdx
  docs/docs/reference/docgen/nextjs/types/nhost-next-client-constructor-params.mdx
  docs/docs/reference/docgen/nextjs/types/nhost-provider-props.mdx
  docs/docs/reference/docgen/react/types/nhost-provider-props.mdx
  docs/docs/reference/nextjs/index.mdx
  docs/docs/reference/react/apollo.mdx
  docs/docs/reference/react/index.mdx
  docs/docs/reference/react/protecting-routes.mdx
  examples/codegen-react-apollo/src/App.tsx
  examples/codegen-react-query/src/App.tsx
  examples/nextjs/pages/_app.tsx
  examples/react-apollo/src/main.tsx
  examples/react-gqty/src/App.tsx
  packages/nextjs/README.md
  packages/nextjs/src/index.ts
  packages/react/src/provider.tsx
Labels: documentation, dashboard, sdk, nextjs, react, examples

#1355 chore(dashboard): revert `@types/react` bump
  dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

#1352 Add a section on managing local seed data
  docs/docs/cli/local-development.mdx
Labels: documentation

#1361 fix(dashboard): do not show error when submitting Apple provider settings
  .changeset/warm-countries-peel.md
  dashboard/src/components/settings/signInMethods/AppleProviderSettings/AppleProviderSettings.tsx
  dashboard/src/utils/settings/settingsConstants/settingsConstants.tsx
Labels: dashboard

#1365 Windows Live Provider displayed link updated to match backend url
  .changeset/rude-singers-carry.md
  dashboard/src/components/settings/signInMethods/WindowsLiveProviderSettings/WindowsLiveProviderSettings.tsx
Labels: dashboard

#1371 fix(dashboard): don't break UI when region is nullish
  .changeset/hip-pumpkins-begin.md
  dashboard/src/components/overview/OverviewProjectInfo/OverviewProjectInfo.tsx
  dashboard/src/hooks/useCurrentWorkspaceAndApplication.tsx
Labels: dashboard

#1377 fix(dashboard): don't break the UI when project is not loaded yet
  dashboard/CHANGELOG.md
  dashboard/package.json
  dashboard/src/components/overview/OverviewProjectInfo/OverviewProjectInfo.tsx
Labels: dashboard

#1390 fix: React 18 strict mode and other improvements
  .changeset/config.json
  .changeset/empty-wolves-exercise.md
  .changeset/rotten-flowers-hope.md
  .changeset/twenty-toes-jump.md
  dashboard/src/components/settings/environmentVariables/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/hooks/useAppClient.ts
  docs/docs/quickstarts/nextjs.mdx
  docs/docs/reference/nextjs/index.mdx
  examples/nextjs/components/protected-route.tsx
  examples/nextjs/pages/_app.tsx
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/internal-client.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/machines/authentication/machine.typegen.ts
  packages/hasura-auth-js/src/types/client.ts
  packages/hasura-auth-js/tests/changeEmail.test.ts
  packages/hasura-auth-js/tests/changePassword.test.ts
  packages/hasura-auth-js/tests/enableMfa.test.ts
  packages/nextjs/src/get-session.ts
  packages/nextjs/src/index.ts
  packages/nhost-js/src/clients/nhost.ts
  packages/react/package.json
  packages/react/src/provider.tsx
  packages/vue/package.json
  pnpm-lock.yaml
Labels: documentation, dashboard, sdk, nextjs, react, examples, vue

#1372 Update of Vue Quickstart documentation
  docs/docs/quickstarts/vue.mdx
  examples/vue-quickstart/src/components/Footer.vue
  examples/vue-quickstart/src/pages/index.vue
  examples/vue-quickstart/src/pages/profile.vue
  examples/vue-quickstart/src/pages/sign-in.vue
  examples/vue-quickstart/src/pages/sign-up.vue
Labels: documentation, examples, vue

#1381 docs update
  docs/docs/authentication/email-templates.mdx
  docs/docs/authentication/index.mdx
  docs/docs/authentication/tokens.mdx
  docs/docs/authentication/users.mdx
  docs/docs/database/index.mdx
  docs/docs/graphql/permissions.mdx
  docs/docs/platform/environment-variables.mdx
  docs/docs/platform/multiple-environments.mdx
  docs/docs/quickstarts/redwoodjs.mdx
  docs/static/img/database/connection-info.png
  docs/static/img/permission-variables-preview.png
  docs/static/img/platform/environment-variables/environment-variables.png
  docs/static/videos/nhost-database-reset-password.mp4
Labels: documentation

#1395 revert code to previously working
  packages/hasura-auth-js/src/hasura-auth-client.ts
Labels: sdk

#1396 Integrations and README updates
  .github/workflows/contributors.yaml
  README.md
  config/tsconfig.base.json
  integrations/apollo/.eslintrc.js
  integrations/apollo/CHANGELOG.md
  integrations/apollo/README.md
  integrations/apollo/package.json
  integrations/apollo/src/index.ts
  integrations/apollo/src/ws.ts
  integrations/apollo/tests/main.test.ts
  integrations/apollo/tsconfig.json
  integrations/react-apollo/.eslintrc.js
  integrations/react-apollo/CHANGELOG.md
  integrations/react-apollo/README.md
  integrations/react-apollo/package.json
  integrations/react-apollo/src/hooks.tsx
  integrations/react-apollo/src/index.ts
  integrations/react-apollo/src/provider.tsx
  integrations/react-apollo/tests/main.test.ts
  integrations/react-apollo/tsconfig.json
  packages/hasura-auth-js/auth.typedoc.json
  packages/hasura-storage-js/storage.typedoc.json
  packages/nextjs/nextjs.typedoc.json
  packages/nhost-js/nhost-js.typedoc.json
  packages/react/react.typedoc.json
  packages/vue/vue.typedoc.json
  pnpm-lock.yaml
Labels: sdk, nextjs, react, vue

#1412 test(docker-compose): more retries
  examples/docker-compose/test/docker-compose.test.ts
Labels: examples

#1406 chore: deprecate axios
  .changeset/kind-cycles-explain.md
  packages/hasura-auth-js/src/types/hasura-auth/common.ts
  packages/nhost-js/src/clients/functions/index.ts
  packages/nhost-js/src/clients/functions/types.ts
  packages/nhost-js/src/clients/graphql/index.ts
  packages/nhost-js/src/clients/graphql/types.ts
  packages/nhost-js/src/index.ts
  packages/nhost-js/src/utils/types.ts
Labels: sdk

#1422 fix(dashboard): close modals when navigating
  .changeset/fresh-dodos-rescue.md
  dashboard/src/components/common/DialogProvider/DialogProvider.tsx
  dashboard/src/components/dataBrowser/ColumnAutocomplete/ColumnAutocomplete.test.tsx
  dashboard/src/utils/testUtils.tsx
Labels: dashboard

#1439 chore: create changesest from Renovate bumps
  .changeset/unrepeatable-expenditure-blackshirt.md
Labels: dependencies

#1440 chore: create changesest from Renovate bumps
  .changeset/connotations-mickey-correlated.md
Labels: dependencies

#1432 Fix/allow override of the accept-encoding header
  .changeset/tall-plants-ring.md
  packages/nhost-js/src/clients/graphql/index.ts
Labels: sdk

#1442 chore: build docgen with vite
  packages/docgen/package.json
  packages/docgen/tsup.config.ts
  pnpm-lock.yaml
Labels: sdk
