Repository nhost/nhost, pull requests merged in 2022-05, with the labels that each got.

#445 docs: intro, architecture and quickstarts
  docs/docs/platform/_category_.json
  docs/docs/platform/authentication/_category_.json
  docs/docs/platform/cli.md
  docs/docs/platform/database/_category_.json
  docs/docs/platform/environment-variables.md
  docs/docs/platform/github-integration.md
  docs/docs/platform/graphql/_category_.json
  docs/docs/platform/index.md
  docs/docs/platform/index.mdx
  docs/docs/platform/nhost/_category_.json
  docs/docs/platform/nhost/index.md
  docs/docs/platform/overview/_category_.json
  docs/docs/platform/overview/architecture.md
  docs/docs/platform/quickstarts/_category_.json
  docs/docs/platform/quickstarts/nextjs.md
  docs/docs/platform/quickstarts/react.md
  docs/docs/platform/serverless-functions/_category_.json
  docs/docs/platform/serverless-functions/event-triggers.md
  docs/docs/platform/storage/_category_.json
  docs/docusaurus.config.js
  docs/src/css/custom.css
  docs/static/img/architecture/nhost-diagram.png
Labels: documentation

#516 Docs intro of Nhost
  docs/docs/platform/index.mdx
Labels: documentation

#485 Add content for the Next.js quickstart guide
  docs/docs/platform/quickstarts/nextjs.md
  docs/docs/platform/quickstarts/nextjs.mdx
Labels: documentation

#484 Create "Get started with Nhost CLI" guide
  docs/docs/platform/overview/get-started-with-nhost-cli.md
Labels: documentation

#494 Add content for the React quickstart guide
  docs/docs/platform/quickstarts/react.md
  docs/docs/platform/quickstarts/react.mdx
Labels: documentation

#514 Fix signIn/signUp typo
  docs/docs/reference/docgen/javascript/auth/content/hasura-auth-client/content/01-sign-up.mdx
  packages/hasura-auth-js/src/hasura-auth-client.ts
Labels: documentation

#539 chore: @nhost/react release notes
  .changeset/new-experts-burn.md
Labels: sdk

#517 Docs guides
  docs/docs/platform/overview/get-started-with-nhost-cli.md
  docs/docs/platform/quickstarts/nextjs.md
  docs/docs/platform/quickstarts/nextjs.mdx
  docs/docs/platform/quickstarts/react.md
  docs/docs/platform/quickstarts/react.mdx
  docs/static/img/architecture/cli/cli-installed.png
  docs/static/img/architecture/cli/cli-login.png
  docs/static/img/architecture/cli/cli-select-app.png
  docs/static/img/architecture/cli/connect-repo-step-1.png
  docs/static/img/architecture/cli/connect-repo-step-2.png
  docs/static/img/architecture/cli/connect-repo-step-3.png
  docs/static/img/architecture/cli/create-app-step-1.png
  docs/static/img/architecture/cli/create-app-step-2.png
  docs/static/img/architecture/cli/create-github-repo.png
  docs/static/img/architecture/cli/create-table-step-1.png
  docs/static/img/architecture/cli/create-table-step-2.png
  docs/static/img/architecture/cli/deployments.png
  docs/static/img/architecture/cli/hasura-console.png
  docs/static/img/architecture/cli/permissions-1.png
  docs/static/img/architecture/cli/permissions-2.png
  docs/static/img/architecture/cli/permissions-3.png
  docs/static/img/quickstarts/app-dashboard.png
  docs/static/img/quickstarts/create-app-step-1.png
  docs/static/img/quickstarts/create-app-step-2.png
  docs/static/img/quickstarts/hasura-permissions-1.png
  docs/static/img/quickstarts/hasura-permissions-2.png
  docs/static/img/quickstarts/hasura-permissions-3.png
Labels: documentation

#554 Remove outdated mention to minio.
  docs/docs/platform/overview/architecture.md
Labels: documentation

#561 chore: Authentication related tests
  .changeset/odd-hotels-listen.md
  config/vite.lib.config.js
  package.json
  packages/core/src/errors.ts
  packages/core/src/machines/change-password.ts
  packages/core/src/machines/enable-mfa.ts
  packages/core/src/machines/enable-mfa.typegen.ts
  packages/core/src/machines/index.ts
  packages/core/src/machines/index.typegen.ts
  packages/core/src/machines/reset-password.ts
  packages/core/src/machines/reset-password.typegen.ts
  packages/core/src/machines/send-verification-email.ts
  packages/core/tests/changeEmail.test.ts
  packages/core/tests/changePassword.test.ts
  packages/core/tests/enableMfa.test.ts
  packages/core/tests/helpers/handlers/authTokenHandlers.ts
  packages/core/tests/helpers/handlers/changeEmailHandlers.ts
  packages/core/tests/helpers/handlers/changePasswordHandlers.ts
  packages/core/tests/helpers/handlers/enableMfaHandlers.ts
  packages/core/tests/helpers/handlers/index.ts
  packages/core/tests/helpers/handlers/resetPasswordHandlers.ts
  packages/core/tests/helpers/handlers/sendVerificationEmailHandlers.ts
  packages/core/tests/helpers/handlers/signOutHandlers.ts
  packages/core/tests/helpers/server.ts
  packages/core/tests/helpers/storage.ts
  packages/core/tests/helpers/types.ts
  packages/core/tests/mfaTotpSignIn.test.ts
  packages/core/tests/passwordSignIn.test.ts
  packages/core/tests/passwordlessEmailSignIn.test.ts
  packages/core/tests/passwordlessSmsSignIn.test.ts
  packages/core/tests/refreshToken.test.ts
  packages/core/tests/resetPassword.test.ts
  packages/core/tests/sendVerificationEmail.test.ts
  packages/core/tests/signOut.test.ts
  packages/core/tests/signUp.test.ts
  packages/core/tests/smsOtpSignIn.test.ts
  pnpm-lock.yaml
Labels: enhancement

#564 Docs: CLI
  docs/docs/platform/cli.md
  docs/docs/platform/cli.mdx
  docs/docs/platform/serverless-functions.mdx
  docs/docs/platform/serverless-functions/_category_.json
  docs/docs/platform/storage.md
  docs/docs/platform/storage/_category_.json
  docs/docs/reference/cli/_category_.json
  docs/docs/reference/cli/down.mdx
  docs/docs/reference/cli/global-flags.mdx
  docs/docs/reference/cli/index.mdx
  docs/docs/reference/cli/init.mdx
  docs/docs/reference/cli/link.mdx
  docs/docs/reference/cli/list.mdx
  docs/docs/reference/cli/login.mdx
  docs/docs/reference/cli/logout.mdx
  docs/docs/reference/cli/logs.mdx
  docs/docs/reference/cli/nhost-cli.md
  docs/docs/reference/cli/up.mdx
  docs/docs/reference/cli/upgrade.mdx
  docs/package.json
  docs/sidebars.js
  pnpm-lock.yaml
Labels: documentation

#570 docs: added information about prepending underscore
  docs/docs/platform/serverless-functions.mdx
Labels: documentation

#572 chore: Auth test coverage
  .changeset/brown-crews-hug.md
  packages/core/src/machines/index.ts
  packages/core/tests/changeEmail.test.ts
  packages/core/tests/changePassword.test.ts
  packages/core/tests/enableMfa.test.ts
  packages/core/tests/helpers/handlers/authTokenHandlers.ts
  packages/core/tests/helpers/handlers/mfaTotpSignInHandlers.ts
  packages/core/tests/helpers/handlers/passwordSignInHandlers.ts
  packages/core/tests/helpers/handlers/passwordlessSmsSignInHandlers.ts
  packages/core/tests/helpers/handlers/signUpHandlers.ts
  packages/core/tests/helpers/mocks/contextWithUser.ts
  packages/core/tests/helpers/mocks/user.ts
  packages/core/tests/passwordSignIn.test.ts
  packages/core/tests/refreshToken.test.ts
Labels: enhancement

#573 Docs: Top menu structure change
  docs/docs/get-started/authentication/index.md
  docs/docs/get-started/cli-workflow/_category_.json
  docs/docs/get-started/cli-workflow/index.md
  docs/docs/get-started/cli-workflow/install-cli.md
  docs/docs/get-started/cli-workflow/local-changes.mdx
  docs/docs/get-started/cli-workflow/metadata-and-serverless-functions.mdx
  docs/docs/get-started/cli-workflow/workflow-setup.mdx
  docs/docs/get-started/index.md
  docs/docs/get-started/quick-start/index.md
  docs/docs/get-started/quick-start/javascript-client.md
  docs/docs/get-started/quick-start/permissions.md
  docs/docs/get-started/quick-start/schema.md
  docs/docs/get-started/upgrade/index.md
  docs/docs/index.md
  docs/docs/index.mdx
  docs/docs/platform/overview/_category_.json
  docs/docusaurus.config.js
  docs/sidebars.js
  docs/vercel.json
Labels: documentation

#596 docs: GraphQL, Permissions, GitHub Integration, Environment Variables
  docs/docs/platform/environment-variables.md
  docs/docs/platform/github-integration.md
  docs/docs/platform/github-integration.mdx
  docs/docs/platform/graphql/index.md
  docs/docs/platform/graphql/permissions.md
  docs/static/img/graphql/permissions/insert-permissions.png
  docs/static/img/graphql/permissions/select-permissions.png
  docs/static/img/platform/environment-variables/environment-variables.png
  docs/static/img/platform/github-integration/base-directory.png
  docs/static/img/platform/github-integration/deployment-branch.png
Labels: documentation
