Repository nhost/nhost, pull requests merged in 2023-08, with the labels that each got.

#2153 chore(docs): added note about storage not being able to be downsized
  .changeset/three-students-know.md
  dashboard/src/features/services/components/ServiceForm/components/StorageFormSection/StorageFormSection.tsx
Labels: dashboard

#2154 feat(run): add annoucement for nhost run
  .changeset/short-jobs-exist.md
  dashboard/package.json
  dashboard/src/components/common/Announcement/Announcement.tsx
  dashboard/src/components/common/Announcement/AnnouncementContainer.tsx
  dashboard/src/components/common/Announcement/AnnouncementProvider.tsx
  dashboard/src/components/common/Announcement/index.ts
  dashboard/src/components/layout/Header/Header.tsx
  dashboard/src/pages/_app.tsx
  dashboard/tailwind.config.js
  pnpm-lock.yaml
Labels: dashboard

#2152 fix(services): fix when config is null
  .changeset/itchy-carpets-allow.md
  dashboard/src/features/services/components/ServicesList/ServicesList.tsx
Labels: dashboard

#2150 feat(services): consistent naming for compute
  .changeset/wise-cups-knock.md
  dashboard/src/features/services/components/ServiceForm/components/ComputeFormSection/ComputeFormSection.tsx
Labels: dashboard

#2125 chore(docs): added Nhost Run documentation
  .changeset/tender-eels-retire.md
  docs/docs/index.mdx
  docs/docs/run/2.getting_started.mdx
  docs/docs/run/3_configuration.mdx
  docs/docs/run/4_networking.mdx
  docs/docs/run/5_resources.mdx
  docs/docs/run/6_registry.mdx
  docs/docs/run/7_ci.mdx
  docs/docs/run/_category_.json
  docs/docs/run/index.mdx
  docs/sidebars.js
  docs/static/img/run/configuration.png
  docs/static/img/run/configure-http-port.png
  docs/static/img/run/configure-multiple-ports.png
  docs/static/img/run/configure-port.png
  docs/static/img/run/getting_started_1.png
  docs/static/img/run/getting_started_2.png
  docs/static/img/run/getting_started_3.png
  docs/static/img/run/getting_started_4.png
  docs/static/img/run/getting_started_5.png
  docs/static/img/run/getting_started_6.png
  docs/static/img/run/getting_started_7.png
  docs/static/img/run/overview.png
  docs/static/img/run/registry_1.png
  docs/static/img/run/registry_2.png
  docs/static/img/run/registry_3.png
  docs/static/img/run/registry_4.png
  docs/static/img/run/registry_5.png
  docs/static/img/run/registry_6.png
  docs/static/img/run/registry_7.png
  docs/static/img/run/resources_1.png
  docs/static/img/run/resources_2.png
  docs/static/img/run/resources_3.png
Labels: documentation

#2161 fix: make announcement close properly
  .changeset/wet-hairs-search.md
  dashboard/src/components/common/Announcement/AnnouncementProvider.tsx
  dashboard/src/components/common/Announcement/index.ts
  dashboard/src/components/common/Announcement/useAnnouncement.ts
  dashboard/src/components/layout/Header/Header.tsx
Labels: dashboard

#2162 fix: show zero values when dedicated resources is disabled
  .changeset/wet-ravens-yawn.md
  .github/workflows/ci.yaml
  dashboard/src/features/projects/resources/settings/components/ResourcesConfirmationDialog/ResourcesConfirmationDialog.tsx
Labels: dashboard

#2167 fix: make announcement text white in dark mode
  .changeset/sour-books-build.md
  dashboard/src/components/common/Announcement/Announcement.tsx
Labels: dashboard

#2169 fix(services): handle null values when editing a service
  .changeset/pretty-days-cheer.md
  dashboard/src/features/services/components/ServicesList/ServicesList.tsx
Labels: dashboard

#2170 fix: nhost run enhancements
  .changeset/unlucky-cobras-relax.md
  dashboard/src/features/projects/logs/components/LogsHeader/LogsHeader.tsx
  dashboard/src/features/services/components/ServiceForm/components/EnvironmentFormSection/EnvironmentFormSection.tsx
Labels: dashboard

#2171 feat: add pricing info and confirmation dialog
  .changeset/orange-toes-clean.md
  dashboard/src/features/projects/resources/settings/utils/resourceSettingsValidationSchema/resourceSettingsValidationSchema.ts
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/components/ComputeFormSection/ComputeFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ServiceConfirmationDialog/ServiceConfirmationDialog.tsx
  dashboard/src/features/services/components/ServiceForm/components/ServiceConfirmationDialog/index.ts
Labels: dashboard

#2183 chore: fix and deploy react example
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/nhost/overlays/local.json
  flake.nix
Labels: react, examples

#2193 fix: grey out not uploaded files
  .changeset/few-kings-develop.md
  dashboard/src/components/dataGrid/DataGridBody/DataGridBody.tsx
Labels: dashboard

#2190 fix(hasura-storage-js): fix upload response status code check
  .changeset/early-otters-rescue.md
  packages/hasura-storage-js/src/utils/upload.ts
Labels: sdk

#2194 feat: toggle av
  .changeset/wicked-lizards-notice.md
  dashboard/src/features/storage/settings/components/HasuraStorageAVSettings/HasuraStorageAVSettings.tsx
  dashboard/src/features/storage/settings/components/HasuraStorageAVSettings/index.ts
  dashboard/src/features/storage/settings/gql/getStorageSettings.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/storage/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2182 feat: add sveltekit example
  .changeset/rich-grapes-shop.md
  .gitignore
  dashboard/package.json
  dashboard/src/features/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.test.tsx
  dashboard/src/features/projects/permissions/settings/utils/getAllPermissionVariables/getAllPermissionVariables.test.ts
  dashboard/src/features/projects/resources/settings/utils/getAllocatedResources/getAllocatedResources.test.ts
  examples/sveltekit/.gitignore
  examples/sveltekit/.npmrc
  examples/sveltekit/README.md
  examples/sveltekit/jsconfig.json
  examples/sveltekit/package.json
  examples/sveltekit/playwright.config.js
  examples/sveltekit/pnpm-lock.yaml
  examples/sveltekit/postcss.config.js
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/app.html
  examples/sveltekit/src/lib/components/Button.svelte
  examples/sveltekit/src/lib/components/Input.svelte
  examples/sveltekit/src/lib/components/Navigation.svelte
  examples/sveltekit/src/lib/nhost-auth-sveltekit.js
  examples/sveltekit/src/routes/+layout.js
  examples/sveltekit/src/routes/+layout.server.js
  examples/sveltekit/src/routes/+layout.svelte
  examples/sveltekit/src/routes/+page.svelte
  examples/sveltekit/src/routes/protected/+page.svelte
  examples/sveltekit/src/routes/sign-in/+page.svelte
  examples/sveltekit/src/routes/sign-up/+page.svelte
  examples/sveltekit/src/routes/styles.css
  examples/sveltekit/static/favicon.png
  examples/sveltekit/svelte.config.js
  examples/sveltekit/tailwind.config.js
  examples/sveltekit/tests/example.spec.js
  examples/sveltekit/vite.config.js
  pnpm-lock.yaml
Labels: dashboard, examples

#2198 chore(react-apollo-example): remove facebook login
  .changeset/fair-students-wash.md
  examples/react-apollo/src/components/OauthLinks.tsx
Labels: react, examples

#2197 fix(hasura-auth-js): make sure CodifiedError works on non v8 browsers
  .changeset/thin-candles-float.md
  examples/react-apollo/src/profile/security-keys.tsx
  packages/hasura-auth-js/src/errors.ts
Labels: sdk, react, examples

#2191 chore: react-apollo-example: add profile to allowedUrls
  .changeset/early-mirrors-reply.md
  examples/react-apollo/nhost/nhost.toml
Labels: react, examples

#2199 chore: fix dep version for sveltekit example
  examples/sveltekit/package.json
  examples/sveltekit/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: examples

#2201 chore: add missing changeset
  .changeset/rich-grapes-shop.md
  examples/sveltekit/CHANGELOG.md
  examples/sveltekit/package.json
Labels: examples

#2206 fix(stripe-graphql-js): fix stripe GraphQL extension export issue in serverless functions
  .changeset/long-carpets-shave.md
  examples/serverless-functions/functions/graphql-stripe/index.ts
  examples/serverless-functions/nhost/nhost.toml
  integrations/stripe-graphql-js/dev/server.ts
  integrations/stripe-graphql-js/src/server.ts
Labels: examples, integrations

#2208 fix: remove hardcoded locales
  .changeset/wicked-news-grow.md
  dashboard/src/features/authentication/settings/gql/getAuthenticationSettings.gql
  dashboard/src/features/authentication/users/components/EditUserForm/EditUserForm.tsx
  dashboard/src/gql/app/getProjectLocales.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard
