Repository nhost/nhost, pull requests merged in 2023-05, with the labels that each got.

#1903 Fixed linking to wrong destination in docs
  docs/docs/authentication/index.mdx
Labels: documentation

#1904 chore: add `types` to `package.json`
  .changeset/fluffy-jeans-cross.md
  dashboard/src/components/settings/resources/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/tests/testUtils.tsx
  integrations/apollo/package.json
  integrations/react-apollo/package.json
  integrations/react-urql/package.json
  packages/graphql-js/package.json
  packages/hasura-auth-js/package.json
  packages/hasura-storage-js/package.json
  packages/nextjs/package.json
  packages/nhost-js/package.json
  packages/react/package.json
  packages/vue/package.json
Labels: dashboard, sdk, nextjs, react, vue, integrations

#1907 fix(dashboard): unpause after upgrading a paused project to pro
  .changeset/shy-numbers-hide.md
  .changeset/soft-humans-matter.md
  dashboard/src/components/applications/ApplicationPaused.tsx
  dashboard/src/components/applications/ChangePlanModal.tsx
  dashboard/src/components/settings/ResetDatabasePasswordSettings/ResetDatabasePasswordSettings.tsx
  dashboard/src/hooks/useNotFoundRedirect.tsx
Labels: dashboard

#1893 feat(dashboard): add Grafana page
  .changeset/curly-carrots-drum.md
  .changeset/sixty-trainers-smoke.md
  dashboard/e2e/overview/overview.test.ts
  dashboard/package.json
  dashboard/public/assets/grafana.svg
  dashboard/src/components/ui/v2/icons/GaugeIcon/GaugeIcon.tsx
  dashboard/src/components/ui/v2/icons/GaugeIcon/index.ts
  dashboard/src/gql/fragments/project.gql
  dashboard/src/hooks/common/useProjectRoutes/useProjectRoutes.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/metrics/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/common/generateAppServiceUrl/generateAppServiceUrl.test.ts
  dashboard/src/utils/common/generateAppServiceUrl/generateAppServiceUrl.ts
  dashboard/vitest.config.ts
  pnpm-lock.yaml
Labels: dashboard

#1912 Add section on Metrics to the documentation
  .changeset/eleven-rocks-bow.md
  docs/docs/platform/compute.mdx
  docs/docs/platform/metrics.mdx
  docs/docs/platform/service-replicas.mdx
  docs/static/img/platform/metrics/grafana.png
  docs/static/img/platform/metrics/nhost-dashboard-metrics.png
Labels: documentation

#1915 fix(dashboard): redirect an invalid project to the 404 page
  .changeset/dry-taxis-cough.md
  dashboard/src/hooks/useNotFoundRedirect.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/index.tsx
Labels: dashboard

#1906 chore: bump `pnpm` and `turbo` version
  .changeset/pretty-trains-hammer.md
  .github/actions/install-dependencies/action.yaml
  dashboard/Dockerfile
  dashboard/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard

#1919 chore(dashboard): change URL construction
  .changeset/khaki-seahorses-tell.md
  dashboard/src/components/applications/HasuraData.tsx
  dashboard/src/components/dataBrowser/RuleGroupEditor/RuleGroupEditor.tsx
  dashboard/src/components/settings/environmentVariables/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/components/settings/signInMethods/AppleProviderSettings/AppleProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/AzureADProviderSettings/AzureADProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/DiscordProviderSettings/DiscordProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/FacebookProviderSettings/FacebookProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/GitHubProviderSettings/GitHubProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/GoogleProviderSettings/GoogleProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/LinkedInProviderSettings/LinkedInProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/SpotifyProviderSettings/SpotifyProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/TwitchProviderSettings/TwitchProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/TwitterProviderSettings/TwitterProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/WindowsLiveProviderSettings/WindowsLiveProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/WorkOsProviderSettings/WorkOsProviderSettings.tsx
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/features/projects/common/hooks/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  dashboard/src/gql/fragments/project.gql
  dashboard/src/hooks/common/useIsHealthy/useIsHealthy.ts
  dashboard/src/hooks/dataBrowser/useCreateColumnMutation/useCreateColumnMutation.ts
  dashboard/src/hooks/dataBrowser/useCreateRecordMutation/useCreateRecordMutation.ts
  dashboard/src/hooks/dataBrowser/useCreateTableMutation/useCreateTableMutation.ts
  dashboard/src/hooks/dataBrowser/useDatabaseQuery/useDatabaseQuery.ts
  dashboard/src/hooks/dataBrowser/useDeleteColumnMutation/useDeleteColumnMutation.ts
  dashboard/src/hooks/dataBrowser/useDeleteRecordMutation/useDeleteRecordMutation.ts
  dashboard/src/hooks/dataBrowser/useDeleteTableMutation/useDeleteTableMutation.ts
  dashboard/src/hooks/dataBrowser/useManagePermissionMutation/useManagePermissionMutation.ts
  dashboard/src/hooks/dataBrowser/useMetadataQuery/useMetadataQuery.ts
  dashboard/src/hooks/dataBrowser/useTableQuery/useTableQuery.ts
  dashboard/src/hooks/dataBrowser/useTrackForeignKeyRelationsMutation/useTrackForeignKeyRelationsMutation.ts
  dashboard/src/hooks/dataBrowser/useTrackTableMutation/useTrackTableMutation.ts
  dashboard/src/hooks/dataBrowser/useUpdateColumnMutation/useUpdateColumnMutation.ts
  dashboard/src/hooks/dataBrowser/useUpdateRecordMutation/useUpdateRecordMutation.ts
  dashboard/src/hooks/dataBrowser/useUpdateTableMutation/useUpdateTableMutation.ts
  dashboard/src/hooks/useAppClient.ts
  dashboard/src/hooks/useFiles.ts
  dashboard/src/hooks/useRemoteApplicationGQLClient.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/graphql.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/metrics/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/storage/index.tsx
  dashboard/src/tests/mocks.ts
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/common/generateAppServiceUrl/generateAppServiceUrl.test.ts
  dashboard/src/utils/common/generateAppServiceUrl/generateAppServiceUrl.ts
Labels: dashboard

#1925 fix(dashboard): show correct postgres connection string
  .changeset/tidy-bees-cheer.md
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/database/index.tsx
  dashboard/src/utils/common/generateAppServiceUrl/generateAppServiceUrl.test.ts
  dashboard/src/utils/common/generateAppServiceUrl/generateAppServiceUrl.ts
  dashboard/src/utils/env.ts
Labels: dashboard

#1933 fix(dashboard): don't redirect to 404 on project rename
  .changeset/empty-cameras-bow.md
  dashboard/src/features/projects/common/hooks/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/general/index.tsx
Labels: dashboard

#1936 fix(hasura-auth-js): make the call to the correct endpoint
  .changeset/eighty-donkeys-admire.md
  packages/hasura-auth-js/src/promises/addSecurityKey.ts
Labels: sdk

#1937 chore: update react-apollo example's dependencies
  dashboard/package.json
  examples/react-apollo/nhost/config.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/auth_refresh_token_types.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/auth_refresh_tokens.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/tables.yaml
  examples/react-apollo/package.json
  flake.lock
  flake.nix
  pnpm-lock.yaml
Labels: dashboard, react, examples

#1941 chore(dashboard): under the hood improvements
  .changeset/little-shrimps-wink.md
  .changeset/quick-taxis-hide.md
  dashboard/.eslintrc.js
  dashboard/src/components/applications/AppDeployments.tsx
  dashboard/src/components/applications/ApplicationErrored.tsx
  dashboard/src/components/applications/github/EditRepositorySettingsModal.tsx
  dashboard/src/components/deployments/DeploymentListItem/DeploymentListItem.tsx
  dashboard/src/components/home/InviteAnnounce.tsx
  dashboard/src/components/home/WorkspaceAndProjectList/WorkspaceAndProjectList.tsx
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.tsx
  dashboard/src/components/settings/git/BaseDirectorySettings/index.ts
  dashboard/src/components/settings/git/DeploymentBranchSettings/index.ts
  dashboard/src/components/ui/v2/Chip/index.ts
  dashboard/src/components/ui/v2/Tooltip/index.ts
  dashboard/src/features/projects/settings/git/components/BaseDirectorySettings/BaseDirectorySettings.tsx
  dashboard/src/features/projects/settings/git/components/BaseDirectorySettings/index.ts
  dashboard/src/features/projects/settings/git/components/DeploymentBranchSettings/DeploymentBranchSettings.tsx
  dashboard/src/features/projects/settings/git/components/DeploymentBranchSettings/index.ts
  dashboard/src/features/projects/settings/git/components/GitConnectionSettings/GitConnectionSettings.tsx
  dashboard/src/features/projects/settings/git/components/GitConnectionSettings/index.ts
  dashboard/src/gql/deployments/deployments.graphql
  dashboard/src/gql/fragments/project.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/git/index.tsx
  dashboard/src/pages/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/updateOwnCache.ts
Labels: dashboard

#1949 fix(dashboard): don't enter an infinite loop in local mode
  .changeset/happy-news-bow.md
  dashboard/src/hooks/useRemoteApplicationGQLClient.tsx
Labels: dashboard

#1963 chore: docs: update info about metrics to mention functions
  docs/docs/platform/metrics.mdx
Labels: documentation

#1969 chore: add latest postgres image
  .changeset/three-clouds-learn.md
  dashboard/src/features/database/settings/components/DatabaseServiceVersionSettings/DatabaseServiceVersionSettings.tsx
Labels: dashboard

#1979 update docs on cli
  .changeset/rude-dodos-obey.md
  docs/docs/cli/index.mdx
  docs/docs/cli/local-development.mdx
  docs/docs/cli/migrate-config.mdx
  docs/docs/cli/multiple-projects.mdx
  docs/static/img/cli-workflow/create-table-messages.png
  docs/static/img/cli-workflow/deployments.png
  docs/static/img/cli-workflow/insert-permissions.png
  docs/static/img/cli-workflow/matrix-permissions.png
Labels: documentation

#1989 fix: update nhost's upgrade command
  docs/docs/cli/index.mdx
Labels: documentation
