Repository nhost/nhost, pull requests merged in 2023-03, with the labels that each got.

#1686 fix(dashboard): fix docker build
  .changeset/weak-bees-drop.md
  dashboard/Dockerfile
Labels: dashboard

#1675 chore(deps): replace `cross-fetch` with `isomorphic-unfetch`
  .changeset/perfect-forks-pretend.md
  dashboard/package.json
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/hooks/dataBrowser/useManagePermissionMutation/managePermission.test.ts
  dashboard/src/hooks/dataBrowser/useMetadataQuery/fetchMetadata.ts
  dashboard/src/hooks/dataBrowser/useTableQuery/fetchTable.ts
  dashboard/src/setupTests.ts
  dashboard/src/utils/testUtils.tsx
  packages/graphql-js/package.json
  packages/graphql-js/src/client.ts
  packages/hasura-auth-js/e2e/email.test.ts
  packages/hasura-auth-js/e2e/helpers.ts
  packages/hasura-auth-js/e2e/password.test.ts
  packages/hasura-auth-js/e2e/sign-in.test.ts
  packages/hasura-auth-js/package.json
  packages/hasura-auth-js/src/utils/fetch.ts
  packages/hasura-storage-js/package.json
  packages/hasura-storage-js/src/hasura-storage-api.ts
  packages/hasura-storage-js/src/machines/multiple-files-upload.ts
  packages/hasura-storage-js/src/utils/upload.ts
  packages/hasura-storage-js/tests/get.test.ts
  packages/hasura-storage-js/tests/image-transformation.test.ts
  packages/hasura-storage-js/tests/upload.test.ts
  packages/nextjs/package.json
  packages/nextjs/src/utils.ts
  packages/nhost-js/package.json
  packages/nhost-js/src/clients/functions/index.ts
  pnpm-lock.yaml
Labels: dashboard, sdk, nextjs

#1694 chore: create changesest from Renovate bumps
  .changeset/veto-gadsden-krishna.md
Labels: dependencies

#1698 tests: hasura-storage-js
  .changeset/orange-kangaroos-dream.md
  packages/hasura-storage-js/src/utils/index.ts
  packages/hasura-storage-js/tests/utils.test.ts
Labels: sdk

#1697 fix(dashboard): show correct deployment status on the main page
  .changeset/hot-mangos-return.md
  dashboard/package.json
  dashboard/src/components/applications/ApplicationInfo.tsx
  dashboard/src/components/applications/RenderWorkspacesWithApps.tsx
  dashboard/src/components/deployments/DeploymentStatusMessage/DeploymentStatusMessage.test.tsx
  dashboard/src/components/deployments/DeploymentStatusMessage/DeploymentStatusMessage.tsx
  dashboard/src/components/deployments/DeploymentStatusMessage/index.ts
  dashboard/src/components/ui/Avatar.tsx
  pnpm-lock.yaml
Labels: dashboard

#1712 fix(nhost-js): correct return type in functions
  .changeset/cyan-goats-remain.md
  packages/nhost-js/src/clients/functions/index.ts
Labels: sdk

#1711 fix(dashboard): improve mobile responsive layout
  .changeset/fuzzy-impalas-admire.md
  dashboard/src/components/applications/ChangePlanModal.tsx
  dashboard/src/components/applications/UnlockFeatureByUpgrading.tsx
  dashboard/src/components/deployments/DeploymentListItem/DeploymentListItem.tsx
  dashboard/src/components/deployments/DeploymentStatusMessage/DeploymentStatusMessage.tsx
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.tsx
  dashboard/src/components/overview/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/components/ui/v2/createTheme/createTheme.ts
Labels: dashboard

#1713 chore(dashboard): mimir migration cleanup
  .changeset/wild-beds-collect.md
  dashboard/src/gql/app/getAppRolesAndPermissions.graphql
  dashboard/src/gql/remote-app/getFunctionLogs.graphql
  dashboard/src/gql/remote-app/getGravatarSettings.graphql
  dashboard/src/gql/remote-app/restoreDatabaseBackup.graphql
  dashboard/src/pages/new.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#1723 fix(dashboard): refresh project list after deleting a project
  .changeset/cold-dryers-provide.md
  dashboard/src/hooks/useCheckProvisioning.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/general/index.tsx
Labels: dashboard

#1724 Fix default values for placeholders
  .changeset/afraid-zoos-remember.md
  dashboard/docker-entrypoint.sh
Labels: bug, dashboard

#1729 fix(nextjs): allow `subdomain`, `region` and service URLs
  .changeset/nine-penguins-shop.md
  examples/nextjs/helpers/index.tsx
  examples/nextjs/pages/_app.tsx
  examples/nextjs/pages/guarded-ssr.tsx
  examples/nextjs/pages/public-ssr.tsx
  packages/nextjs/README.md
  packages/nextjs/src/create-server-side-client.ts
  packages/nextjs/src/get-session.ts
Labels: sdk, nextjs, examples

#1732 Allow to override hasura admin secret in docker
  .changeset/popular-monkeys-rescue.md
  dashboard/Dockerfile
  dashboard/docker-entrypoint.sh
Labels: dashboard

#1730 fix: remove `useAxios`, restore autogenerated docs
  .changeset/gentle-trainers-share.md
  .changeset/lazy-pumas-sniff.md
  .changeset/pink-owls-wonder.md
  dashboard/src/components/home/InviteAnnounce.tsx
  dashboard/src/components/workspace/WorkspaceInvoices.tsx
  docs/docs/reference/index.md
  docs/docs/reference/javascript/functions/content/01-call.mdx
  docs/docs/reference/javascript/functions/content/02-set-access-token.mdx
  docs/docs/reference/javascript/functions/index.mdx
  docs/docs/reference/javascript/functions/types/nhost-function-call-config.mdx
  docs/docs/reference/javascript/functions/types/nhost-function-call-response.mdx
  docs/docs/reference/javascript/functions/types/nhost-functions-constructor-params.mdx
  docs/docs/reference/javascript/index.mdx
  docs/sidebars.js
  packages/graphql-js/src/types.ts
  packages/nhost-js/nhost-js.docgen.json
  packages/nhost-js/nhost-js.typedoc.json
  packages/nhost-js/package.json
  packages/nhost-js/src/clients/functions/index.ts
  packages/nhost-js/src/clients/functions/types.ts
  packages/nhost-js/src/clients/storage.ts
  packages/nhost-js/typedoc.tsconfig.json
  pnpm-lock.yaml
Labels: documentation, dashboard, sdk

#1745 fix(dashboard): disable new users
  .changeset/pretty-singers-taste.md
  dashboard/src/components/settings/authentication/DisableNewUsersSettings/DisableNewUsersSettings.tsx
Labels: dashboard

#1746 fix(dashboard): show correct date in data grid
  .changeset/slimy-spies-fold.md
  dashboard/src/components/common/DataGridDateCell/DataGridDateCell.tsx
Labels: dashboard

#1748 fix(hasura-storage-js): allow image transformation parameters in `getPresignedUrl`
  .changeset/popular-tigers-hug.md
  packages/hasura-storage-js/package.json
  packages/hasura-storage-js/src/hasura-storage-client.ts
  packages/hasura-storage-js/src/utils/appendImageTransformationParameters/appendImageTransformationParameters.test.ts
  packages/hasura-storage-js/src/utils/appendImageTransformationParameters/appendImageTransformationParameters.ts
  packages/hasura-storage-js/src/utils/appendImageTransformationParameters/index.ts
  packages/hasura-storage-js/src/utils/index.ts
  packages/hasura-storage-js/src/utils/types.ts
  packages/hasura-storage-js/vite.unit.config.js
Labels: sdk

#1751 Added Javascript origins step to docs
  docs/docs/authentication/sign-in-methods/4-google.mdx
Labels: documentation

#1756 chore(dashboard): prepare E2E testing framework
  .github/workflows/ci.yaml
  .github/workflows/dashboard.yaml
  .github/workflows/e2e.yaml
  dashboard/.gitignore
  dashboard/README.md
  dashboard/e2e/auth.test.ts
  dashboard/e2e/env.ts
  dashboard/e2e/overview.test.ts
  dashboard/global-setup.ts
  dashboard/package.json
  dashboard/playwright.config.ts
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/components/users/UsersBody/UsersBody.tsx
  dashboard/vitest.config.ts
  package.json
  pnpm-lock.yaml
Labels: dashboard

#1759 fix DevDependencies parameter for @types/express
  docs/docs/serverless-functions.mdx
Labels: documentation

#1760 fix dashboard e2e workflow
  .github/workflows/ci.yaml
  .github/workflows/dashboard.yaml
  .github/workflows/e2e.yaml
  dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

#1763 chore(tests): improve E2E tests
  .changeset/curvy-days-doubt.md
  .github/actions/install-dependencies/action.yaml
  .github/workflows/ci.yaml
  config/.eslint.base.js
  examples/nextjs/.eslintrc.js
  examples/react-apollo/.gitignore
  examples/react-apollo/cypress.config.ts
  examples/react-apollo/cypress/e2e/1-unauthenticated/authentication-guards.cy.ts
  examples/react-apollo/cypress/e2e/1-unauthenticated/forgot-password.cy.ts
  examples/react-apollo/cypress/e2e/2-sign-up/anonymous.cy.ts
  examples/react-apollo/cypress/e2e/2-sign-up/email-password.cy.ts
  examples/react-apollo/cypress/e2e/2-sign-up/email-passwordless.cy.ts
  examples/react-apollo/cypress/e2e/3-sign-in/email-password.cy.ts
  examples/react-apollo/cypress/e2e/3-sign-in/token.cy.ts
  examples/react-apollo/cypress/e2e/4-authenticated/apollo.cy.ts
  examples/react-apollo/cypress/e2e/4-authenticated/change-email.cy.ts
  examples/react-apollo/cypress/e2e/4-authenticated/change-password.cy.ts
  examples/react-apollo/cypress/e2e/4-authenticated/file-uploads.cy.ts
  examples/react-apollo/cypress/e2e/4-authenticated/sign-out.cy.ts
  examples/react-apollo/cypress/e2e/4-authenticated/token-refresh.cy.ts
  examples/react-apollo/cypress/support/e2e.ts
  examples/react-apollo/e2e/authenticated/apollo.test.ts
  examples/react-apollo/e2e/authenticated/change-email.test.ts
  examples/react-apollo/e2e/authenticated/change-password.test.ts
  examples/react-apollo/e2e/authenticated/file-upload.test.ts
  examples/react-apollo/e2e/config.ts
  examples/react-apollo/e2e/sign-in/auto-sign-in.test.ts
  examples/react-apollo/e2e/sign-in/email-password.test.ts
  examples/react-apollo/e2e/sign-up/anonymous.test.ts
  examples/react-apollo/e2e/sign-up/email-password.test.ts
  examples/react-apollo/e2e/sign-up/email-passwordless.test.ts
  examples/react-apollo/e2e/unauthenticated/authentication-guards.test.ts
  examples/react-apollo/e2e/unauthenticated/forgot-password.test.ts
  examples/react-apollo/e2e/utils.ts
  examples/react-apollo/package.json
  examples/react-apollo/playwright.config.ts
  examples/react-apollo/src/main.tsx
  examples/react-apollo/tsconfig.json
  package.json
  pnpm-lock.yaml
Labels: react, examples

#1765 chore(dashboard): tests for table creation
  dashboard/e2e/auth/user-management.test.ts
  dashboard/e2e/database/table-creation.test.ts
  dashboard/e2e/overview/overview.test.ts
  dashboard/e2e/utils.ts
  dashboard/package.json
  dashboard/playwright.config.ts
  dashboard/tsconfig.json
  dashboard/tsconfig.test.json
  pnpm-lock.yaml
Labels: dashboard

#1769 Fix import in docs for SignedIn component
  packages/react/src/components/SignedIn.tsx
Labels: sdk, react

#1770 fix(apollo): retry subscriptions on error
  .changeset/red-bananas-type.md
  .changeset/shaggy-ghosts-chew.md
  dashboard/.storybook/preview.js
  dashboard/graphql.config.yaml
  dashboard/package.json
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.test.tsx
  dashboard/src/utils/msw/mocks/graphql/nhostGraphQLLink.ts
  dashboard/src/utils/testUtils.tsx
  integrations/apollo/package.json
  integrations/apollo/src/index.ts
  integrations/apollo/src/ws.ts
  integrations/react-apollo/package.json
  integrations/react-apollo/src/hooks.tsx
  integrations/react-apollo/src/provider.tsx
  pnpm-lock.yaml
Labels: dashboard, react, integrations

#1775 chore(hasura-storage-js): improve presignedUrl test
  .changeset/cool-oranges-remain.md
  packages/hasura-storage-js/package.json
  packages/hasura-storage-js/tests/get-presigned-url.test.ts
  pnpm-lock.yaml
Labels: sdk

#1778 chore: use dynamic test URL
  .changeset/selfish-mirrors-report.md
  .github/workflows/ci.yaml
  dashboard/src/components/home/Sidebar.tsx
Labels: dashboard

#1773 chore(dashboard): tests for table deletion
  dashboard/e2e/database/create-table.test.ts
  dashboard/e2e/database/delete-table.test.ts
Labels: dashboard

#1783 fix(tests): avoid name collision in database tests
  .changeset/nasty-dodos-try.md
  .github/workflows/ci.yaml
  dashboard/README.md
  dashboard/e2e/database/create-table.test.ts
  dashboard/e2e/database/delete-table.test.ts
  dashboard/e2e/env.ts
  dashboard/e2e/utils.ts
  dashboard/global-setup.ts
  dashboard/global-teardown.ts
  dashboard/package.json
  dashboard/playwright.config.ts
  pnpm-lock.yaml
Labels: dashboard

#1163 feat(dashboard): add azure ad provider settings
  .changeset/ten-hounds-smash.md
  dashboard/public/assets/brands/azuread.svg
  dashboard/src/components/settings/signInMethods/AzureADProviderSettings/AzureADProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/AzureADProviderSettings/index.ts
  dashboard/src/gql/app/settings/signInMethods/getSignInMethods.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/sign-in-methods/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  examples/codegen-react-apollo/nhost/config.yaml
  examples/codegen-react-query/nhost/config.yaml
  examples/codegen-react-urql/nhost/config.yaml
Labels: dashboard, react, examples

#1787 feat(dashboard): Add Azure AD to the Settings page
  .changeset/ten-hounds-smash.md
  dashboard/public/assets/brands/azuread.svg
  dashboard/src/components/settings/signInMethods/AzureADProviderSettings/AzureADProviderSettings.tsx
  dashboard/src/components/settings/signInMethods/AzureADProviderSettings/index.ts
  dashboard/src/gql/app/settings/signInMethods/getSignInMethods.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/sign-in-methods/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  examples/codegen-react-apollo/nhost/config.yaml
  examples/codegen-react-query/nhost/config.yaml
  examples/codegen-react-urql/nhost/config.yaml
Labels: dashboard, react, examples

#1789 fix(dashboard): use correct description for Azure AD
  dashboard/src/components/settings/signInMethods/AzureADProviderSettings/AzureADProviderSettings.tsx
Labels: dashboard

#1793 fix: don't use conflicting names
  .changeset/popular-maps-complain.md
  packages/hasura-auth-js/package.json
  packages/hasura-auth-js/src/errors.ts
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/machines/authentication/context.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/machines/change-email.ts
  packages/hasura-auth-js/src/machines/change-email.typegen.ts
  packages/hasura-auth-js/src/machines/change-password.ts
  packages/hasura-auth-js/src/machines/change-password.typegen.ts
  packages/hasura-auth-js/src/machines/enable-mfa.ts
  packages/hasura-auth-js/src/machines/enable-mfa.typegen.ts
  packages/hasura-auth-js/src/machines/reset-password.ts
  packages/hasura-auth-js/src/machines/reset-password.typegen.ts
  packages/hasura-auth-js/src/machines/send-verification-email.ts
  packages/hasura-auth-js/src/machines/send-verification-email.typegen.ts
  packages/hasura-auth-js/src/promises/addSecurityKey.ts
  packages/hasura-auth-js/src/promises/changeEmail.ts
  packages/hasura-auth-js/src/promises/changePassword.ts
  packages/hasura-auth-js/src/promises/mfa.ts
  packages/hasura-auth-js/src/promises/resetPassword.ts
  packages/hasura-auth-js/src/promises/sendVerificationEmail.ts
  packages/hasura-auth-js/src/promises/signInAnonymous.ts
  packages/hasura-auth-js/src/promises/signInEmailPassword.ts
  packages/hasura-auth-js/src/promises/signInEmailPasswordless.ts
  packages/hasura-auth-js/src/promises/signInEmailSecurityKey.ts
  packages/hasura-auth-js/src/promises/signInMfaTotp.ts
  packages/hasura-auth-js/src/promises/signInSmsPasswordless.ts
  packages/hasura-auth-js/src/promises/signInSmsPasswordlessOtp.ts
  packages/hasura-auth-js/src/promises/signOut.ts
  packages/hasura-auth-js/src/promises/signUpEmailPassword.ts
  packages/hasura-auth-js/src/promises/signUpEmailSecurityKey.ts
  packages/hasura-auth-js/src/promises/types.ts
  packages/hasura-auth-js/src/types/hasura-auth/common.ts
  packages/hasura-auth-js/src/types/hasura-auth/responses.ts
  packages/hasura-storage-js/package.json
  packages/hasura-storage-js/src/machines/file-upload.ts
  packages/hasura-storage-js/src/promises/file-upload.ts
  packages/hasura-storage-js/src/utils/types.ts
  packages/hasura-storage-js/src/utils/upload.ts
  packages/nhost-js/package.json
  packages/nhost-js/src/index.ts
  packages/nhost-js/src/utils/types.ts
Labels: sdk

#1795 fix: don't alter URLs when no transformation parameters are available
  .changeset/old-carpets-reflect.md
  packages/hasura-storage-js/src/utils/appendImageTransformationParameters/appendImageTransformationParameters.test.ts
  packages/hasura-storage-js/src/utils/appendImageTransformationParameters/appendImageTransformationParameters.ts
Labels: sdk

#1796 chore(tests): improve auth page tests
  .changeset/wise-spoons-remain.md
  dashboard/.gitignore
  dashboard/e2e/auth/ban-user.test.ts
  dashboard/e2e/auth/create-user.test.ts
  dashboard/e2e/auth/delete-user.test.ts
  dashboard/e2e/auth/user-management.test.ts
  dashboard/e2e/auth/verify-user.test.ts
  dashboard/e2e/setup/auth.setup.ts
  dashboard/e2e/utils.ts
  dashboard/global-teardown.ts
  dashboard/playwright.config.ts
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/components/users/EditUserForm/EditUserForm.tsx
  dashboard/src/components/users/UsersBody/UsersBody.tsx
Labels: dashboard

#1798 feat(dashboard): show project creator
  .changeset/poor-files-hunt.md
  dashboard/.eslintrc.js
  dashboard/e2e/overview/overview.test.ts
  dashboard/src/components/layout/ProjectLayout/ProjectLayout.tsx
  dashboard/src/components/overview/OverviewProjectInfo/OverviewProjectInfo.tsx
  dashboard/src/components/overview/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/components/ui/v2/ListItem/ListItemText.tsx
  dashboard/src/components/workspace/WorkspaceApps.tsx
  dashboard/src/gql/app/getWorkspaceAndProject.graphql
  dashboard/src/gql/fragments/project.gql
  dashboard/src/gql/user/getOneUser.gql
  dashboard/src/hooks/useCheckProvisioning.tsx
  dashboard/src/hooks/v2/useCurrentWorkspaceAndProject/index.ts
  dashboard/src/hooks/v2/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  dashboard/src/types/application.ts
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard
