Repository nhost/nhost, pull requests merged in 2023-02, with the labels that each got.

#1572 chore(dashboard): restore Vercel build restrictions and fix Docker build
  .changeset/blue-nails-sparkle.md
  .github/workflows/changesets.yaml
  dashboard/Dockerfile
Labels: dashboard

#1585 exponential backoff
  .changeset/old-wasps-yell.md
  examples/react-apollo/cypress.config.ts
  packages/hasura-auth-js/src/constants.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/tests/refreshToken.test.ts
Labels: sdk, react, examples

#1586 Correct useMultipleFilesUpload inline documentation
  packages/react/src/useMultipleFilesUpload.ts
Labels: sdk, react

#1598 Use country code instead of name
  .changeset/mighty-spoons-nail.md
  dashboard/src/components/dashboard/CountrySelector.tsx
Labels: dashboard

#1600 fix(dashboard): apply select permissions properly
  .changeset/perfect-keys-shake.md
  dashboard/src/components/dataBrowser/EditPermissionsForm/EditPermissionsForm.tsx
  dashboard/src/components/dataBrowser/EditPermissionsForm/RolePermissionEditorForm.tsx
  dashboard/src/components/dataBrowser/RuleGroupEditor/RuleValueInput.tsx
  dashboard/src/hooks/dataBrowser/useManagePermissionMutation/managePermission.ts
  dashboard/src/hooks/dataBrowser/useManagePermissionMutation/managePermissionMigration.ts
  dashboard/src/hooks/dataBrowser/useMetadataQuery/fetchMetadata.ts
  dashboard/src/types/dataBrowser.ts
Labels: dashboard

#1545 docs(graphql): updates
  docs/docs/graphql/index.mdx
  docs/docs/graphql/permissions.mdx
  docs/static/img/graphql/permissions/dashboard-menu.png
  docs/static/img/graphql/permissions/insert-permissions.png
  docs/static/img/graphql/permissions/permission-example.png
  docs/static/img/graphql/permissions/select-permissions.png
Labels: documentation

#1574 fix(dashboard): use correct theme color in dark mode
  .changeset/five-needles-sell.md
  dashboard/src/components/ui/v2/ThemeProvider/ThemeProvider.tsx
  dashboard/src/styles/globals.css
Labels: dashboard

#1611 CLI docs updates.
  docs/docs/reference/cli/init.mdx
  docs/docs/reference/cli/list.mdx
  docs/docs/reference/cli/logs.mdx
  docs/docs/reference/cli/up.mdx
Labels: documentation

#1613 fix(dashboard): fix header link color
  .changeset/twenty-cherries-fetch.md
  dashboard/src/components/common/Breadcrumbs/Breadcrumbs.tsx
  dashboard/src/components/common/Header/Header.tsx
  dashboard/src/components/ui/v2/Link/Link.tsx
  dashboard/src/hooks/useNotFoundRedirect.tsx
Labels: dashboard

#1614 fix(dashboard): don't break the UI when deployments are unavailable
  .changeset/many-rocks-relax.md
  .changeset/six-horses-ring.md
  .changeset/wise-shoes-smoke.md
  dashboard/package.json
  dashboard/src/components/applications/AppDeployments.tsx
  dashboard/src/components/applications/ApplicationLive.tsx
  dashboard/src/components/deployments/DeploymentListItem/DeploymentListItem.tsx
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.test.tsx
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.tsx
  dashboard/src/components/ui/Avatar.tsx
  dashboard/src/components/ui/v2/ActivityIndicator/ActivityIndicator.tsx
  dashboard/src/context/workspace1-context.tsx
  dashboard/src/hooks/dataBrowser/useManagePermissionMutation/managePermission.test.ts
  dashboard/src/utils/helpers.ts
  dashboard/src/utils/testUtils.tsx
  integrations/apollo/package.json
  integrations/apollo/src/index.ts
  packages/hasura-auth-js/package.json
  pnpm-lock.yaml
Labels: dashboard, sdk, integrations

#1624 chore: create changesest from Renovate bumps
  .changeset/overselling-january-smoggy.md
  .changeset/pink-monkeys-scream.md
  .changeset/seven-eyes-develop.md
Labels: dependencies

#1628 chore(deps): bump `react` to v18
  .changeset/fuzzy-icons-allow.md
  .changeset/lucky-snails-fix.md
  .changeset/strong-walls-fail.md
  dashboard/package.json
  docs/package.json
  packages/nextjs/package.json
  packages/react/src/client.ts
  pnpm-lock.yaml
Labels: documentation, dashboard, sdk, nextjs, react

#1621 feat(dashboard): show dashboard version
  .changeset/quick-singers-agree.md
  dashboard/next.config.js
  dashboard/public/avatars/1.jpg
  dashboard/public/avatars/2.jpg
  dashboard/public/avatars/3.jpg
  dashboard/public/avatars/4.jpg
  dashboard/public/avatars/5.jpg
  dashboard/public/avatars/user.svg
  dashboard/src/components/common/Header/Header.tsx
  dashboard/src/components/common/LocalAccountMenu/LocalAccountMenu.tsx
  dashboard/src/components/common/LocalAccountMenu/index.ts
  dashboard/src/components/common/MobileNav/MobileNav.tsx
  dashboard/src/components/common/ThemeSwitcher/ThemeSwitcher.tsx
  dashboard/src/components/dashboard/AccountMenu.tsx
  dashboard/src/components/ui/v2/Dropdown/DropdownContent.tsx
  dashboard/src/components/ui/v2/Option/Option.tsx
  dashboard/src/components/ui/v2/Select/Select.tsx
Labels: dashboard

#1651 fix(dashboard): prevent permission editor dropdown from being always open
  .changeset/kind-cooks-march.md
  dashboard/src/components/dataBrowser/RuleGroupEditor/RuleValueInput.tsx
Labels: dashboard

#1650 GraphQL client: fix snake_case bug and improve readme
  .changeset/ninety-carrots-teach.md
  .changeset/ten-donkeys-fly.md
  packages/graphql-js/README.md
  packages/graphql-js/nhost/metadata/databases/default/tables/public_tasks.yaml
  packages/graphql-js/nhost/metadata/databases/default/tables/tables.yaml
  packages/graphql-js/nhost/migrations/default/1677072568289_create_table_public_tasks/down.sql
  packages/graphql-js/nhost/migrations/default/1677072568289_create_table_public_tasks/up.sql
  packages/graphql-js/package.json
  packages/graphql-js/src/graphql-object/schema.ts
  packages/graphql-js/tests/codegen.yaml
  packages/graphql-js/tests/schemas/hasura.ts
  packages/graphql-js/tests/types/parameters.ts
  pnpm-lock.yaml
Labels: sdk

#1643 fix(dashboard): use correct date for last seen
  .changeset/grumpy-fans-sip.md
  dashboard/src/components/users/EditUserForm/EditUserForm.tsx
Labels: dashboard

#1658 fix(dashboard): false positive message on user creation
  .changeset/real-fireants-bathe.md
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
Labels: dashboard

#1660 fix(dashboard): set correct Content-Type for user creation
  .changeset/fast-experts-pretend.md
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
Labels: dashboard

#1655 fix(dashboard): allow permission editing for auth and storage schemas
  .changeset/silver-kings-attack.md
  dashboard/src/components/common/ControlledAutocomplete/ControlledAutocomplete.tsx
  dashboard/src/components/dataBrowser/DataBrowserSidebar/DataBrowserSidebar.tsx
  dashboard/src/components/dataBrowser/EditPermissionsForm/RolePermissionEditorForm.tsx
  dashboard/src/components/dataBrowser/EditPermissionsForm/sections/RowPermissionsSection.tsx
  dashboard/src/components/dataBrowser/EditPermissionsForm/validationSchemas.ts
  dashboard/src/components/dataBrowser/RuleGroupEditor/RuleValueInput.tsx
  dashboard/src/components/ui/v2/Autocomplete/Autocomplete.tsx
Labels: dashboard

#1662 fix(hasura-storage-js): fix forbidden error
  .changeset/funny-laws-promise.md
  .changeset/heavy-toes-sort.md
  .changeset/itchy-dots-smash.md
  .changeset/kind-ducks-hang.md
  .changeset/many-pumas-fetch.md
  .changeset/nervous-pants-join.md
  .changeset/nine-bobcats-guess.md
  packages/hasura-storage-js/src/hasura-storage-api.ts
  packages/hasura-storage-js/src/utils/upload.ts
Labels: sdk

#1666 fix(nhost-js): use correct URL for functions requests
  .changeset/shiny-oranges-drop.md
  dashboard/src/components/home/InviteAnnounce.tsx
  packages/nhost-js/src/clients/functions/index.ts
Labels: dashboard, sdk

#1670 Functions fix + tests
  .changeset/eighty-mugs-flash.md
  packages/nhost-js/package.json
  packages/nhost-js/src/clients/functions/index.ts
  packages/nhost-js/src/utils/helpers.ts
  packages/nhost-js/tests/functions.test.ts
  packages/nhost-js/tests/utils.test.ts
  pnpm-lock.yaml
Labels: sdk

#1622 chore(dashboard): improve Dialog and Drawer API
  .changeset/early-deers-work.md
  dashboard/src/components/common/DialogProvider/DialogContext.ts
  dashboard/src/components/common/DialogProvider/DialogProvider.tsx
  dashboard/src/components/common/DialogProvider/dialogReducers.ts
  dashboard/src/components/common/FormActivityIndicator/FormActivityIndicator.tsx
  dashboard/src/components/common/FormActivityIndicator/index.ts
  dashboard/src/components/dataBrowser/BaseColumnForm/BaseColumnForm.tsx
  dashboard/src/components/dataBrowser/BaseColumnForm/ForeignKeyEditor.tsx
  dashboard/src/components/dataBrowser/BaseForeignKeyForm/BaseForeignKeyForm.tsx
  dashboard/src/components/dataBrowser/BaseRecordForm/BaseRecordForm.tsx
  dashboard/src/components/dataBrowser/BaseTableForm/BaseTableForm.tsx
  dashboard/src/components/dataBrowser/BaseTableForm/ForeignKeyEditorSection.tsx
  dashboard/src/components/dataBrowser/CreateColumnForm/CreateColumnForm.tsx
  dashboard/src/components/dataBrowser/CreateForeignKeyForm/CreateForeignKeyForm.tsx
  dashboard/src/components/dataBrowser/CreateRecordForm/CreateRecordForm.tsx
  dashboard/src/components/dataBrowser/CreateTableForm/CreateTableForm.tsx
  dashboard/src/components/dataBrowser/DataBrowserGrid/DataBrowserGrid.tsx
  dashboard/src/components/dataBrowser/DataBrowserSidebar/DataBrowserSidebar.tsx
  dashboard/src/components/dataBrowser/EditColumnForm/EditColumnForm.tsx
  dashboard/src/components/dataBrowser/EditForeignKeyForm/EditForeignKeyForm.tsx
  dashboard/src/components/dataBrowser/EditPermissionsForm/EditPermissionsForm.tsx
  dashboard/src/components/dataBrowser/EditPermissionsForm/RolePermissionEditorForm.tsx
  dashboard/src/components/dataBrowser/EditTableForm/EditTableForm.tsx
  dashboard/src/components/home/EditWorkspaceNameForm/EditWorkspaceNameForm.tsx
  dashboard/src/components/settings/environmentVariables/BaseEnvironmentVariableForm/BaseEnvironmentVariableForm.tsx
  dashboard/src/components/settings/environmentVariables/CreateEnvironmentVariableForm/CreateEnvironmentVariableForm.tsx
  dashboard/src/components/settings/environmentVariables/EditEnvironmentVariableForm/EditEnvironmentVariableForm.tsx
  dashboard/src/components/settings/environmentVariables/EditJwtSecretForm/EditJwtSecretForm.tsx
  dashboard/src/components/settings/environmentVariables/EnvironmentVariableSettings/EnvironmentVariableSettings.tsx
  dashboard/src/components/settings/environmentVariables/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/components/settings/permissions/BasePermissionVariableForm/BasePermissionVariableForm.tsx
  dashboard/src/components/settings/permissions/CreatePermissionVariableForm/CreatePermissionVariableForm.tsx
  dashboard/src/components/settings/permissions/EditPermissionVariableForm/EditPermissionVariableForm.tsx
  dashboard/src/components/settings/permissions/PermissionVariableSettings/PermissionVariableSettings.tsx
  dashboard/src/components/settings/roles/BaseRoleForm/BaseRoleForm.tsx
  dashboard/src/components/settings/roles/CreateRoleForm/CreateRoleForm.tsx
  dashboard/src/components/settings/roles/EditRoleForm/EditRoleForm.tsx
  dashboard/src/components/settings/roles/RoleSettings/RoleSettings.tsx
  dashboard/src/components/ui/v2/Drawer/Drawer.tsx
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/components/users/EditUserForm/EditUserForm.tsx
  dashboard/src/components/users/EditUserPasswordForm/EditUserPasswordForm.tsx
  dashboard/src/components/users/UsersBody/UsersBody.tsx
  dashboard/src/components/workspace/WorkspaceHeader.tsx
  dashboard/src/components/workspace/WorkspaceSection.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/types/common.ts
Labels: dashboard
