Repository nhost/nhost, pull requests merged in 2023-07, with the labels that each got.

#2093 fix(docs): remove outdated reference/cli
  .changeset/khaki-bees-enjoy.md
  README.md
  docs/docs/cli/index.mdx
  docs/docs/reference/cli/down.mdx
  docs/docs/reference/cli/global-flags.mdx
  docs/docs/reference/cli/index.mdx
  docs/docs/reference/cli/init.mdx
  docs/docs/reference/cli/link.mdx
  docs/docs/reference/cli/list.mdx
  docs/docs/reference/cli/login.mdx
  docs/docs/reference/cli/logout.mdx
  docs/docs/reference/cli/logs.mdx
  docs/docs/reference/cli/up.mdx
  docs/docs/reference/cli/upgrade.mdx
  docs/docs/reference/index.md
  docs/sidebars.js
  flake.nix
Labels: documentation

#2097 chore(dashboard):add hasura v2.28.2 and v2.29.0 to the version selector
  .changeset/happy-jars-rest.md
  dashboard/src/features/hasura/settings/components/HasuraServiceVersionSettings/HasuraServiceVersionSettings.tsx
Labels: dashboard

#2100 chore(dashboard):add postgres 14.6-20230705-1 to the version selector
  .changeset/calm-parrots-think.md
  dashboard/src/features/database/settings/components/DatabaseServiceVersionSettings/DatabaseServiceVersionSettings.tsx
Labels: dashboard

#2105 Update serverless-functions.mdx
  docs/docs/serverless-functions.mdx
Labels: documentation

#2108 fix(hasura-storage-js): fix file upload
  .changeset/light-tips-rush.md
  examples/react-apollo/.secrets.example
  packages/hasura-auth-js/.secrets.example
  packages/hasura-storage-js/.secrets.example
  packages/hasura-storage-js/src/machines/file-upload.ts
  packages/nhost-js/.secrets.example
Labels: sdk

#2111 fix: tweak warning in dark mode
  .changeset/fast-emus-grab.md
  dashboard/src/components/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/tailwind.config.js
Labels: dashboard

#2117 chore: add hasura-auth version 0.21.2
  .changeset/rude-moles-tell.md
  dashboard/src/features/authentication/settings/components/AuthServiceVersionSettings/AuthServiceVersionSettings.tsx
Labels: dashboard

#2120 feat: services
  .changeset/real-pets-exercise.md
  config/vite.react.config.js
  dashboard/hypertune.graphql
  dashboard/hypertune.json
  dashboard/package.json
  dashboard/src/components/common/Pagination/Pagination.tsx
  dashboard/src/components/layout/SettingsContainer/SettingsContainer.tsx
  dashboard/src/components/ui/v2/icons/CubeIcon/CubeIcon.tsx
  dashboard/src/components/ui/v2/icons/CubeIcon/index.ts
  dashboard/src/components/ui/v2/icons/ServicesIcon/ServicesIcon.tsx
  dashboard/src/components/ui/v2/icons/ServicesIcon/index.ts
  dashboard/src/features/projects/common/hooks/useProjectRoutes/useProjectRoutes.tsx
  dashboard/src/features/projects/resources/settings/utils/resourceSettingsValidationSchema/resourceSettingsValidationSchema.ts
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/components/ComputeFormSection/ComputeFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ComputeFormSection/index.ts
  dashboard/src/features/services/components/ServiceForm/components/EnvironmentFormSection/EnvironmentFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/EnvironmentFormSection/index.ts
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/PortsFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/index.ts
  dashboard/src/features/services/components/ServiceForm/components/ReplicasFormSection/ReplicasFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ReplicasFormSection/index.ts
  dashboard/src/features/services/components/ServiceForm/components/StorageFormSection/StorageFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/StorageFormSection/index.ts
  dashboard/src/features/services/components/ServiceForm/index.ts
  dashboard/src/features/services/components/ServicesList/ServicesList.tsx
  dashboard/src/features/services/components/ServicesList/index.ts
  dashboard/src/gql/services/deleteRunService.graphql
  dashboard/src/gql/services/deleteRunServiceConfig.graphql
  dashboard/src/gql/services/getRunService.graphql
  dashboard/src/gql/services/getRunServices.graphql
  dashboard/src/gql/services/inserRunService.graphql
  dashboard/src/gql/services/insertRunServiceConfig.graphql
  dashboard/src/gql/services/replaceRunServiceConfig.graphql
  dashboard/src/gql/services/updateRunServiceConfig.graphql
  dashboard/src/hooks/useHypertune/index.ts
  dashboard/src/hooks/useHypertune/useHypertune.ts
  dashboard/src/hypertune/hypertune.ts
  dashboard/src/hypertune/project_2596.ts
  dashboard/src/pages/[workspaceSlug]/[appSlug]/services/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/tsconfig.json
  pnpm-lock.yaml
Labels: dashboard

#2136 fix: back to previous limit
  .changeset/fuzzy-cooks-hide.md
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
Labels: dashboard

#2140 fix: tweaking the create service form
  .changeset/yellow-hornets-explain.md
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/components/ComputeFormSection/ComputeFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/EnvironmentFormSection/EnvironmentFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/PortsFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ReplicasFormSection/ReplicasFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/StorageFormSection/StorageFormSection.tsx
Labels: dashboard

#2143 feat: change grafana url to point to dashboards
  .changeset/slow-pugs-battle.md
  dashboard/src/features/projects/common/utils/generateAppServiceUrl/generateAppServiceUrl.test.ts
  dashboard/src/features/projects/common/utils/generateAppServiceUrl/generateAppServiceUrl.ts
Labels: dashboard
