Repository nhost/nhost, pull requests merged in 2023-01, with the labels that each got.

#1425 fix(dashboard): provisioning status polling
  .changeset/pink-timers-play.md
  dashboard/package.json
  dashboard/src/components/applications/ConnectGithubModal.tsx
  dashboard/src/components/applications/functions/FunctionLogsTerminalFromPage.tsx
  dashboard/src/components/home/InviteAnnounce.tsx
  dashboard/src/components/workspace/SidebarWorkspaces.tsx
  dashboard/src/hooks/common/useProjectRedirectWhenReady/useProjectRedirectWhenReady.ts
  dashboard/src/hooks/useCheckProvisioning.tsx
  dashboard/src/utils/use-firstWorkspace.tsx
  pnpm-lock.yaml
Labels: dashboard

#1452 fix: improve missing React provider error
  .changeset/proud-hotels-pretend.md
  packages/react/src/useAuthInterpreter.ts
Labels: sdk, react

#1458 Only export what is required by the user or `@nhost/nextjs`
  .changeset/afraid-clouds-eat.md
  packages/react/src/client.ts
  turbo.json
Labels: sdk, react

#1453 feat(dashboard): add JWT secret editor modal
  .changeset/rude-melons-rest.md
  dashboard/src/components/common/DialogProvider/DialogContext.ts
  dashboard/src/components/common/DialogProvider/DialogProvider.tsx
  dashboard/src/components/settings/environmentVariables/EditJwtSecretForm/EditJwtSecretForm.tsx
  dashboard/src/components/settings/environmentVariables/EditJwtSecretForm/index.ts
  dashboard/src/components/settings/environmentVariables/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
Labels: dashboard

#1382 feat(dashboard): Auth Management v2
  .changeset/spicy-mails-wonder.md
  dashboard/next.config.js
  dashboard/src/components/applications/graphql/UserSelect.tsx
  dashboard/src/components/common/DataGridBody/DataGridBody.tsx
  dashboard/src/components/common/DialogProvider/DialogContext.ts
  dashboard/src/components/common/DialogProvider/DialogProvider.tsx
  dashboard/src/components/common/Pagination/Pagination.tsx
  dashboard/src/components/common/Pagination/index.ts
  dashboard/src/components/settings/roles/BaseRoleForm/BaseRoleForm.tsx
  dashboard/src/components/settings/roles/RoleSettings/RoleSettings.tsx
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/components/users/CreateUserForm/index.ts
  dashboard/src/components/users/EditUserForm/EditUserForm.tsx
  dashboard/src/components/users/EditUserForm/index.ts
  dashboard/src/components/users/EditUserPasswordForm/EditUserPasswordForm.tsx
  dashboard/src/components/users/EditUserPasswordForm/index.ts
  dashboard/src/components/users/UsersBody/UsersBody.tsx
  dashboard/src/components/users/UsersBody/index.ts
  dashboard/src/gql/remote-app/getUsers.graphql
  dashboard/src/hooks/useRemoteApplicationGQLClient.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/logs/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/authentication/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/[userId].tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/theme/default/defaultTheme.ts
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/copy.ts
Labels: dashboard

#1459 fix: 🐛 allow useFileUpload to be reused
  .changeset/rude-sloths-lay.md
  examples/react-apollo/cypress/e2e/4-authenticated/file-uploads.cy.ts
  packages/hasura-storage-js/src/machines/file-upload.ts
  packages/hasura-storage-js/src/machines/file-upload.typegen.ts
  packages/react/src/useFileUpload.ts
  packages/vue/src/useFileUpload.ts
Labels: sdk, react, examples, vue

#1426 feat(dashboard): add functions to logs
  .changeset/chatty-rabbits-learn.md
  dashboard/src/types/logs.ts
  dashboard/src/utils/logs.ts
Labels: dashboard

#1468 fix(dashboard): display Twitter provider settings
  .changeset/good-maps-compare.md
  dashboard/src/components/settings/signInMethods/EmailAndPasswordSettings/EmailAndPasswordSettings.tsx
  dashboard/src/components/settings/signInMethods/TwitterProviderSettings/TwitterProviderSettings.tsx
  dashboard/src/gql/app/getAppLoginData.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#1461 feat: image transformation parameters
  .changeset/tame-otters-share.md
  packages/hasura-storage-js/package.json
  packages/hasura-storage-js/src/hasura-storage-api.ts
  packages/hasura-storage-js/src/hasura-storage-client.ts
  packages/hasura-storage-js/src/machines/file-upload.ts
  packages/hasura-storage-js/src/machines/multiple-files-upload.ts
  packages/hasura-storage-js/src/promises/file-upload.ts
  packages/hasura-storage-js/src/promises/multiple-files-upload.ts
  packages/hasura-storage-js/src/utils/index.ts
  packages/hasura-storage-js/src/utils/types.ts
  packages/hasura-storage-js/tests/assets/image.jpeg
  packages/hasura-storage-js/tests/assets/transformations/blur.jpeg
  packages/hasura-storage-js/tests/assets/transformations/height.jpeg
  packages/hasura-storage-js/tests/assets/transformations/width.jpeg
  packages/hasura-storage-js/tests/image-transformation.test.ts
  pnpm-lock.yaml
Labels: enhancement, sdk

#1450 [chatgpt] added tests
  packages/hasura-auth-js/package.json
  packages/hasura-auth-js/tests/utils.jsdom.test.ts
  packages/hasura-auth-js/tests/utils.test.ts
  packages/nhost-js/tests/nhost.test.ts
  packages/nhost-js/tests/utils.test.ts
Labels: sdk

#1475 fix(dashboard): create new user
  .changeset/red-donuts-marry.md
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
Labels: dashboard

#1477 fix(deps): revert major bumps
  dashboard/CHANGELOG.md
  integrations/apollo/CHANGELOG.md
  integrations/apollo/package.json
  integrations/react-apollo/CHANGELOG.md
  integrations/react-apollo/package.json
Labels: dashboard, react, integrations

#1476 test: add forgot password test
  examples/react-apollo/cypress/e2e/1-unauthenticated/forgot-password.cy.ts
  examples/react-apollo/cypress/support/e2e.ts
Labels: react, examples

#1470 fix(dashboard): Resetting the cache when signing out.
  .changeset/wise-buses-pay.md
  dashboard/src/components/dashboard/AccountMenu.tsx
Labels: dashboard

#1482 chore: store the session in a cookie to avoid refetching the jwt on every ssr call
  .changeset/wet-berries-smell.md
  packages/nextjs/src/create-server-side-client.ts
  packages/nextjs/src/index.ts
  packages/nextjs/src/utils.ts
Labels: sdk, nextjs

#1490 test: correct forgot-password test
  .github/actions/nhost-cli/action.yaml
  examples/react-apollo/cypress/e2e/1-unauthenticated/forgot-password.cy.ts
  examples/react-apollo/cypress/support/e2e.ts
Labels: react, examples

#1485 fix: 🐛 add explicit types to React hooks and Vue composables
  .changeset/rare-eyes-jump.md
  .changeset/spicy-experts-jam.md
  packages/react/src/useAccessToken.ts
  packages/react/src/useAuthLoading.ts
  packages/react/src/useAuthenticated.ts
  packages/react/src/useAuthenticationStatus.ts
  packages/react/src/useDecodedAccessToken.ts
  packages/react/src/useHasuraClaim.ts
  packages/react/src/useHasuraClaims.ts
  packages/react/src/useNhostAuth.ts
  packages/react/src/useNhostBackendUrl.ts
  packages/react/src/useProviderLink.ts
  packages/react/src/useUserAvatarUrl.ts
  packages/react/src/useUserData.ts
  packages/react/src/useUserDefaultRole.ts
  packages/react/src/useUserDisplayName.ts
  packages/react/src/useUserEmail.ts
  packages/react/src/useUserId.ts
  packages/react/src/useUserIsAnonymous.ts
  packages/react/src/useUserLocale.ts
  packages/react/src/useUserRoles.ts
  packages/vue/src/useAccessToken.ts
  packages/vue/src/useAuthenticated.ts
  packages/vue/src/useAuthenticationStatus.ts
  packages/vue/src/useDecodedAccessToken.ts
  packages/vue/src/useError.ts
  packages/vue/src/useHasuraClaim.ts
  packages/vue/src/useHasuraClaims.ts
  packages/vue/src/useProviderLink.ts
  packages/vue/src/useUserAvatarUrl.ts
  packages/vue/src/useUserData.ts
  packages/vue/src/useUserDefaultRole.ts
  packages/vue/src/useUserDisplayName.ts
  packages/vue/src/useUserEmail.ts
  packages/vue/src/useUserId.ts
  packages/vue/src/useUserIsAnonymous.ts
  packages/vue/src/useUserLocale.ts
  packages/vue/src/useUserRoles.ts
Labels: sdk, react, vue

#1495 Export commonly used types
  .changeset/odd-roses-hug.md
  examples/react-apollo/cypress/support/e2e.ts
  examples/vue-apollo/src/components/ErrorSnackBar.vue
  packages/react/src/client.ts
  packages/react/src/index.ts
  packages/vue/src/client.ts
Labels: sdk, react, examples, vue

#1486 chore(deps): bump start-server-and-test
  examples/react-apollo/package.json
  packages/hasura-auth-js/package.json
  packages/hasura-storage-js/package.json
  packages/nhost-js/package.json
  pnpm-lock.yaml
Labels: sdk, react, examples

#1497 fix(dashboard): don't break the table creation process
  .changeset/lovely-ants-provide.md
  dashboard/src/components/common/ControlledAutocomplete/ControlledAutocomplete.tsx
  dashboard/src/components/dataBrowser/BaseColumnForm/BaseColumnForm.tsx
  dashboard/src/components/dataBrowser/BaseTableForm/BaseTableForm.tsx
  dashboard/src/components/dataBrowser/BaseTableForm/ColumnEditorRow.tsx
  dashboard/src/components/dataBrowser/EditPermissionsForm/sections/ColumnPresetsSection.tsx
  dashboard/src/hooks/dataBrowser/useTrackForeignKeyRelationsMutation/prepareTrackForeignKeyRelationsMetadata.test.ts
  dashboard/src/hooks/dataBrowser/useTrackForeignKeyRelationsMutation/prepareTrackForeignKeyRelationsMetadata.ts
  dashboard/src/hooks/dataBrowser/useUpdateTableMutation/prepareUpdateTableQuery.ts
Labels: dashboard

#1501 chore: exclude functions from workspace
  dashboard/Dockerfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dashboard

#1471 fix(dashboard): Refactor workspaces creation, fix 404 redirection (workspaces & applications)
  .changeset/dull-years-kick.md
  dashboard/src/components/applications/ChangeWorkspaceName.tsx
  dashboard/src/components/common/DialogProvider/DialogContext.ts
  dashboard/src/components/common/DialogProvider/DialogProvider.tsx
  dashboard/src/components/home/EditWorkspaceNameForm/EditWorkspaceNameForm.tsx
  dashboard/src/components/home/EditWorkspaceNameForm/index.ts
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/components/workspace/AddWorkspace.tsx
  dashboard/src/components/workspace/SidebarWorkspaces.tsx
  dashboard/src/components/workspace/WorkspaceHeader.tsx
  dashboard/src/components/workspace/WorkspaceSection.tsx
  dashboard/src/hooks/useNotFoundRedirect.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/general/index.tsx
Labels: dashboard

#1508 chore: create changesest from Renovate bumps
  .changeset/shaker-preconceptions-papergirls.md
Labels: dependencies

#1503 feat(dashboard): Retrigger Deployments
  .changeset/afraid-chairs-leave.md
  dashboard/src/components/applications/AppDeployments.tsx
  dashboard/src/components/applications/github/Repo.tsx
  dashboard/src/components/deployments/AppDeploymentDuration/AppDeploymentDuration.tsx
  dashboard/src/components/deployments/AppDeploymentDuration/index.ts
  dashboard/src/components/deployments/DeploymentListItem/DeploymentListItem.tsx
  dashboard/src/components/deployments/DeploymentListItem/index.ts
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.tsx
  dashboard/src/components/ui/v2/ListItem/ListItemAvatar.tsx
  dashboard/src/components/ui/v2/ListItem/index.ts
  dashboard/src/components/ui/v2/icons/ArrowCounterclockwiseIcon/ArrowCounterclockwiseIcon.tsx
  dashboard/src/components/ui/v2/icons/ArrowCounterclockwiseIcon/index.ts
  dashboard/src/gql/deployments/deployments.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/[deploymentId].tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/tailwind.config.js
Labels: dashboard

#1522 fix(dashboard): correct redeployment button
  .changeset/curvy-planets-exercise.md
  dashboard/src/components/applications/AppDeployments.tsx
  dashboard/src/components/deployments/AppDeploymentDuration/AppDeploymentDuration.tsx
  dashboard/src/components/deployments/DeploymentListItem/DeploymentListItem.tsx
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.tsx
  dashboard/src/components/ui/StatusCircle.tsx
  dashboard/src/gql/deployments/deployments.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/[deploymentId].tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#1528 chore(dashboard): list fewer images per page on the Storage page
  .changeset/chilly-candles-search.md
  dashboard/src/components/files/FilesDataGrid/FilesDataGrid.tsx
  dashboard/src/hooks/useFiles.ts
Labels: dashboard

#1527 fix(dashboard): don't throw validation error for valid permission rules
  .changeset/shiny-carrots-sip.md
  dashboard/src/components/dataBrowser/EditPermissionsForm/validationSchemas.ts
Labels: dashboard

#1531 fix(dashboard): enable toggle when settings are filled in
  .changeset/silent-penguins-dream.md
  dashboard/README.md
  dashboard/src/components/settings/authentication/AllowedEmailSettings/AllowedEmailSettings.tsx
  dashboard/src/components/settings/authentication/BlockedEmailSettings/BlockedEmailSettings.tsx
Labels: dashboard

#1537 fix(dashboard): don't break Auth page in local mode
  .changeset/friendly-rice-swim.md
  dashboard/src/components/users/CreateUserForm/CreateUserForm.tsx
  dashboard/src/components/users/EditUserForm/EditUserForm.tsx
  dashboard/src/components/users/UsersBody/UsersBody.tsx
Labels: dashboard

#1540 chore(dashboard): `Text` API improvements
  dashboard/src/components/applications/AppLoader.tsx
  dashboard/src/components/applications/ChangePasswordModal.tsx
  dashboard/src/components/applications/ConnectGithubModal.tsx
  dashboard/src/components/applications/RenderWorkspacesWithApps.tsx
  dashboard/src/components/applications/functions/FunctionLogsTerminalFromPage.tsx
  dashboard/src/components/common/Breadcrumbs/Breadcrumbs.tsx
  dashboard/src/components/common/DataGridBody/DataGridBody.tsx
  dashboard/src/components/common/DataGridDateCell/DataGridDateCell.tsx
  dashboard/src/components/common/DataGridNumericCell/DataGridNumericCell.tsx
  dashboard/src/components/common/DataGridPagination/DataGridPagination.tsx
  dashboard/src/components/common/DataGridTextCell/DataGridTextCell.tsx
  dashboard/src/components/common/Pagination/Pagination.tsx
  dashboard/src/components/dataBrowser/BaseColumnForm/BaseColumnForm.tsx
  dashboard/src/components/dataBrowser/BaseTableForm/ColumnEditorTable.tsx
  dashboard/src/components/dataBrowser/ColumnAutocomplete/ColumnAutocomplete.tsx
  dashboard/src/components/dataBrowser/DataBrowserSidebar/DataBrowserSidebar.tsx
  dashboard/src/components/dataBrowser/DatabaseRecordInputGroup/DatabaseRecordInputGroup.tsx
  dashboard/src/components/dataBrowser/RuleGroupEditor/RuleEditorRow.tsx
  dashboard/src/components/home/FindOldApps.tsx
  dashboard/src/components/home/IndexHeaderApps.tsx
  dashboard/src/components/home/Resources.tsx
  dashboard/src/components/logs/LogsBody/LogsBody.tsx
  dashboard/src/components/logs/LogsDatePicker/LogsDatePicker.tsx
  dashboard/src/components/overview/OverviewCard/OverviewCard.tsx
  dashboard/src/components/overview/OverviewDocumentation/OverviewDocumentation.tsx
  dashboard/src/components/overview/OverviewMigration/OverviewMigration.tsx
  dashboard/src/components/settings/SettingsContainer/SettingsContainer.tsx
  dashboard/src/components/settings/environmentVariables/EnvironmentVariableSettings/EnvironmentVariableSettings.tsx
  dashboard/src/components/settings/environmentVariables/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/components/settings/permissions/BasePermissionVariableForm/BasePermissionVariableForm.tsx
  dashboard/src/components/settings/roles/RoleSettings/RoleSettings.tsx
  dashboard/src/components/settings/signInMethods/EmailAndPasswordSettings/EmailAndPasswordSettings.tsx
  dashboard/src/components/ui/v2/Box/Box.tsx
  dashboard/src/components/ui/v2/Text/Text.tsx
  dashboard/src/components/users/EditUserForm/EditUserForm.tsx
  dashboard/src/components/users/UsersBody/UsersBody.tsx
  dashboard/src/components/workspace/WorkspaceApps.tsx
  dashboard/src/components/workspace/WorkspaceHeader.tsx
  dashboard/src/components/workspace/WorkspaceMember.tsx
  dashboard/src/components/workspace/WorkspaceMemberInvite.tsx
  dashboard/src/components/workspace/WorkspacePaymentMethods.tsx
  dashboard/src/components/workspace/WorkspaceSection.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/[deploymentId].tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/functions.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/functions/[functionId].tsx
  dashboard/src/pages/reset-password.tsx
  dashboard/src/pages/signin.tsx
  dashboard/src/pages/signup.tsx
Labels: dashboard

#1541 stripe graphql api updates
  .changeset/little-fans-serve.md
  docs/docs/graphql/remote-schemas/_category_.json
  docs/docs/graphql/remote-schemas/stripe.mdx
  docs/docs/serverless-functions.mdx
  docs/static/img/graphql/remote-schemas/stripe/remote-schema.png
  integrations/stripe-graphql-js/README.md
  integrations/stripe-graphql-js/dev/server.ts
  integrations/stripe-graphql-js/package.json
  integrations/stripe-graphql-js/src/schema/stripe.ts
  integrations/stripe-graphql-js/src/server.ts
  integrations/stripe-graphql-js/src/types.ts
  integrations/stripe-graphql-js/src/utils.ts
  pnpm-lock.yaml
Labels: documentation, integrations

#1548 fix(dashboard): removed functions section
  .changeset/soft-pens-promise.md
  dashboard/package.json
  dashboard/src/components/applications/functions/FunctionLog.ts
  dashboard/src/components/applications/functions/FunctionLogDataEntry.tsx
  dashboard/src/components/applications/functions/FunctionLogHistory.tsx
  dashboard/src/components/applications/functions/FunctionLogsTerminalFromPage.tsx
  dashboard/src/components/applications/functions/FunctionResponseLog.ts
  dashboard/src/components/applications/functions/FunctionsNotDeployed.tsx
  dashboard/src/components/applications/functions/normalizeFunctionMetadata.ts
  dashboard/src/components/applications/functions/normalizeToIndividualFunctionsWithLogs.ts
  dashboard/src/data/terminalTheme.js
  dashboard/src/hooks/common/useProjectRoutes/useProjectRoutes.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/functions.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/functions/[functionId].tsx
  dashboard/src/utils/helpers.ts
Labels: dashboard

#1553 feat(dashboard): include project info in feedback
  .changeset/rich-toys-tease.md
  dashboard/src/components/home/SendFeedback.tsx
Labels: dashboard

#1552 docs: fix link to sign-in with security keys
  docs/docs/authentication/sign-in-methods/index.md
Labels: documentation

#1544 docs(auth): improvements
  .changeset/neat-fishes-design.md
  dashboard/src/components/settings/authentication/AllowedEmailSettings/AllowedEmailSettings.tsx
  dashboard/src/components/settings/authentication/AllowedRedirectURLsSettings/AllowedRedirectURLsSettings.tsx
  dashboard/src/components/settings/authentication/BlockedEmailSettings/BlockedEmailSettings.tsx
  dashboard/src/components/settings/authentication/ClientURLSettings/ClientURLSettings.tsx
  dashboard/src/components/settings/authentication/DisableNewUsersSettings/DisableNewUsersSettings.tsx
  dashboard/src/components/settings/authentication/GravatarSettings/GravatarSettings.tsx
  dashboard/src/components/settings/authentication/MFASettings/MFASettings.tsx
  dashboard/src/components/settings/signInMethods/MagicLinkSettings/MagicLinkSettings.tsx
  dashboard/src/components/settings/signInMethods/SMSSettings/SMSSettings.tsx
  docs/docs/authentication/email-templates.mdx
  docs/docs/authentication/index.mdx
  docs/docs/authentication/sign-in-methods/1-email-password.mdx
  docs/docs/authentication/sign-in-methods/2-magic-link.mdx
  docs/docs/authentication/sign-in-methods/3-phone-number.mdx
  docs/docs/authentication/sign-in-methods/3-security-keys.mdx
  docs/docs/authentication/social-providers-configuration.mdx
  docs/docs/authentication/users.mdx
Labels: documentation, dashboard, sdk

#1546 fix(dashboard): allowed roles
  .changeset/fluffy-bags-play.md
  dashboard/src/components/settings/roles/BaseRoleForm/BaseRoleForm.tsx
  dashboard/src/components/settings/roles/CreateRoleForm/CreateRoleForm.tsx
  dashboard/src/components/settings/roles/RoleSettings/RoleSettings.tsx
Labels: dashboard

#1556 chore: create changesest from Renovate bumps
  .changeset/exposes-believer-extinctions.md
Labels: dependencies

#1547 fix(logs): fixed duplicated logs during live mode
  .changeset/fluffy-tigers-worry.md
  dashboard/src/components/logs/LogsDatePicker/LogsDatePicker.tsx
  dashboard/src/components/logs/LogsHeader/LogsHeader.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/logs/index.tsx
Labels: dashboard
