Repository nhost/nhost, pull requests merged in 2023-06, with the labels that each got.

#1993 chore(dashboard): allow empty secrets and environment variables
  .changeset/swift-spiders-care.md
  .gitignore
  dashboard/src/features/projects/environmentVariables/settings/components/BaseEnvironmentVariableForm/BaseEnvironmentVariableForm.tsx
  dashboard/src/features/projects/secrets/settings/components/BaseSecretForm/BaseSecretForm.tsx
Labels: dashboard

#1988 chore(deps): bump `@types/react`, `turbo` and `tj-actions/changed-files`
  .changeset/large-owls-mate.md
  .github/workflows/ci.yaml
  .gitignore
  dashboard/Dockerfile
  dashboard/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard

#1996 docs: cli: added documentation for jsonpatches
  docs/docs/cli/patching-local-environment.mdx
Labels: documentation

#1994 fix(ci): don't break E2E tests and Docker image creation
  .changeset/giant-masks-grin.md
  .changeset/pink-dolls-explode.md
  .github/actions/install-dependencies/action.yaml
  dashboard/Dockerfile
  examples/react-apollo/e2e/authenticated/change-email.test.ts
  examples/react-apollo/package.json
  examples/react-apollo/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: dashboard, react, examples

#2001 docs: added entry about seeds
  docs/docs/cli/seeds.mdx
Labels: documentation

#2002 fix(dashboard): use correct timestamps for deployments
  .changeset/nervous-lamps-hang.md
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/[deploymentId].tsx
Labels: dashboard

#2009 docs: add section about using custom URLs
  .changeset/metal-sheep-bathe.md
  docs/docs/reference/javascript/index.mdx
  docs/docs/reference/nextjs/index.mdx
  docs/docs/reference/react/index.mdx
  docs/docs/reference/vue/index.mdx
Labels: documentation

#2014 fix(dashboard): don't break account settings page
  .changeset/chatty-hairs-yell.md
  dashboard/src/features/account/settings/gql/getPersonalAccessTokens.gql
  dashboard/src/pages/account/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2016 docs: use correct sample URLs for custom client
  .changeset/friendly-walls-swim.md
  docs/docs/reference/javascript/index.mdx
  docs/docs/reference/nextjs/index.mdx
  docs/docs/reference/react/index.mdx
  docs/docs/reference/vue/index.mdx
Labels: documentation

#2008 feat(dashboard): bring the dashboard closer to the config
  .changeset/soft-emus-hug.md
  .github/actions/install-dependencies/action.yaml
  dashboard/public/assets/brands/bitbucket.svg
  dashboard/public/assets/brands/gitlab.svg
  dashboard/public/assets/brands/strava.svg
  dashboard/public/assets/hasuramodal.svg
  dashboard/src/components/ui/v2/Autocomplete/Autocomplete.tsx
  dashboard/src/features/authentication/settings/components/AppleProviderSettings/AppleProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/AzureADProviderSettings/AzureADProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/BitbucketProviderSettings/BitbucketProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/BitbucketProviderSettings/index.ts
  dashboard/src/features/authentication/settings/components/DiscordProviderSettings/DiscordProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/EmailAndPasswordSettings/EmailAndPasswordSettings.tsx
  dashboard/src/features/authentication/settings/components/FacebookProviderSettings/FacebookProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/GitHubProviderSettings/GitHubProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/GitLabProviderSettings/GitLabProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/GitLabProviderSettings/index.ts
  dashboard/src/features/authentication/settings/components/GoogleProviderSettings/GoogleProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/LinkedInProviderSettings/LinkedInProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/SessionSettings/SessionSettings.tsx
  dashboard/src/features/authentication/settings/components/SessionSettings/index.ts
  dashboard/src/features/authentication/settings/components/SpotifyProviderSettings/SpotifyProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/StravaProviderSettings/StravaProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/StravaProviderSettings/index.ts
  dashboard/src/features/authentication/settings/components/TwitchProviderSettings/TwitchProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/TwitterProviderSettings/TwitterProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/WindowsLiveProviderSettings/WindowsLiveProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/WorkOsProviderSettings/WorkOsProviderSettings.tsx
  dashboard/src/features/authentication/settings/gql/getAuthenticationSettings.gql
  dashboard/src/features/hasura/overview/components/HasuraConnectionInfo/HasuraConnectionInfo.tsx
  dashboard/src/features/hasura/overview/components/HasuraConnectionInfo/index.ts
  dashboard/src/features/hasura/settings/components/HasuraAllowListSettings/HasuraAllowListSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraAllowListSettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraConsoleSettings/HasuraConsoleSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraConsoleSettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraCorsDomainSettings/HasuraCorsDomainSettings.test.tsx
  dashboard/src/features/hasura/settings/components/HasuraCorsDomainSettings/HasuraCorsDomainSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraCorsDomainSettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraDevModeSettings/HasuraDevModeSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraDevModeSettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraEnabledAPISettings/HasuraEnabledAPISettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraEnabledAPISettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraLogLevelSettings/HasuraLogLevelSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraLogLevelSettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraPoolSizeSettings/HasuraPoolSizeSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraPoolSizeSettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraRemoteSchemaPermissionsSettings/HasuraRemoteSchemaPermissionsSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraRemoteSchemaPermissionsSettings/index.ts
  dashboard/src/features/hasura/settings/components/HasuraServiceVersionSettings/HasuraServiceVersionSettings.tsx
  dashboard/src/features/hasura/settings/gql/getHasuraSettings.gql
  dashboard/src/features/projects/common/hooks/useProjectRoutes/useProjectRoutes.tsx
  dashboard/src/gql/app/settings/signInMethods/getSignInMethods.graphql
  dashboard/src/gql/fragments/project.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/hasura/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/authentication/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/hasura/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/constants/settings/settings.tsx
Labels: dashboard

#2020 Add missing fields to JWTClaims interface
  .changeset/warm-rings-share.md
  packages/hasura-auth-js/src/types/hasura-auth/common.ts
Labels: sdk

#2030 chore: bump turbo and pnpm
  .changeset/chatty-radios-float.md
  .github/actions/install-dependencies/action.yaml
  dashboard/Dockerfile
  package.json
  pnpm-lock.yaml
Labels: dashboard, dependencies

#2004 docs: added documentation on overlays
  docs/docs/cli/overlays.mdx
  docs/docs/cli/patching-local-environment.mdx
  docs/docs/platform/multiple-environments.mdx
  docs/static/img/overlays/1.png
  docs/static/img/overlays/2.png
  docs/static/img/overlays/3.png
  docs/static/img/overlays/4.png
  docs/static/img/overlays/5.png
  docs/static/img/overlays/6.png
Labels: documentation

#2032 feat(dashboard): add download button to backups
  .changeset/yellow-chicken-accept.md
  dashboard/src/features/hasura/settings/components/HasuraServiceVersionSettings/HasuraServiceVersionSettings.tsx
  dashboard/src/features/projects/backups/components/BackupList/BackupList.tsx
  dashboard/src/features/projects/backups/components/BackupList/index.ts
  dashboard/src/features/projects/backups/components/BackupListItem/BackupListItem.tsx
  dashboard/src/features/projects/backups/components/BackupListItem/index.ts
  dashboard/src/features/projects/backups/components/RestoreBackupModal/RestoreBackupModal.tsx
  dashboard/src/features/projects/backups/gql/backup.gql
  dashboard/src/features/projects/backups/gql/getApplicationBackups.graphql
  dashboard/src/features/projects/backups/gql/getBackupPresignedUrl.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/backups.tsx
  dashboard/src/types/application.ts
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#1995 chore(dashboard): remove password input from project creation
  .changeset/little-hornets-tell.md
  dashboard/src/components/layout/SettingsSidebar/SettingsSidebar.tsx
  dashboard/src/components/ui/v2/Alert/Alert.tsx
  dashboard/src/data/features.json
  dashboard/src/features/database/settings/components/DatabaseConnectionInfo/DatabaseConnectionInfo.tsx
  dashboard/src/features/database/settings/components/ResetDatabasePasswordSettings/ResetDatabasePasswordSettings.tsx
  dashboard/src/features/projects/common/components/StagingMetadata/StagingMetadata.tsx
  dashboard/src/hooks/useLeaveConfirm/index.ts
  dashboard/src/hooks/useLeaveConfirm/useLeaveConfirm.ts
  dashboard/src/pages/new.tsx
  dashboard/src/utils/copy/copy.ts
  dashboard/src/utils/helpers/helpers.ts
  dashboard/src/utils/toast/triggerToast.tsx
Labels: dashboard

#2035 fix(dashboard): don't break the password reset flow
  .changeset/angry-grapes-rush.md
  dashboard/src/features/database/settings/components/ResetDatabasePasswordSettings/ResetDatabasePasswordSettings.tsx
  dashboard/src/features/database/settings/components/ResetDatabasePasswordSettings/index.ts
  dashboard/src/features/database/settings/gql/resetDatabasePassword.gql
  dashboard/src/features/database/settings/utils/resetDatabasePasswordValidationSchema/resetDatabasePasswordValidationSchema.ts
  dashboard/src/gql/database/resetPostgresPassword.graphql
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/toast/getColor.ts
Labels: dashboard

#2038 fix(hasura-auth-js): prevent infinite token refresh
  .changeset/dirty-planets-shout.md
  .changeset/tame-apes-heal.md
  packages/hasura-auth-js/e2e/email.test.ts
  packages/hasura-auth-js/e2e/helpers.ts
  packages/hasura-auth-js/e2e/password.test.ts
  packages/hasura-auth-js/e2e/sign-in.test.ts
  packages/hasura-auth-js/package.json
  packages/hasura-auth-js/src/constants.ts
  packages/hasura-auth-js/src/machines/authentication/context.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/utils/fetch.ts
  packages/hasura-auth-js/tests/helpers/mocks/contextWithUser.ts
  packages/hasura-auth-js/tests/refreshToken.test.ts
  packages/hasura-auth-js/tests/sendVerificationEmail.test.ts
  pnpm-lock.yaml
Labels: sdk

#2046 fix(nhost-js): pass access token to underlying clients
  .changeset/modern-dogs-check.md
  examples/nextjs/nhost/metadata/backend_configs.yaml
  examples/nextjs/nhost/metadata/metrics_config.yaml
  examples/nextjs/nhost/metadata/opentelemetry.yaml
  packages/nextjs/src/create-server-side-client.ts
  packages/nhost-js/src/clients/nhost.ts
Labels: sdk, nextjs, examples

#2045 fix(dashboard): don't break storybook and don't show warnings during tests
  .changeset/cyan-apes-talk.md
  .changeset/soft-seahorses-fold.md
  dashboard/.storybook/preview.js
  dashboard/README.md
  dashboard/package.json
  dashboard/src/features/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.stories.tsx
  dashboard/src/features/database/dataGrid/hooks/useTableQuery/fetchTable.ts
  dashboard/src/features/hasura/settings/components/HasuraCorsDomainSettings/HasuraCorsDomainSettings.test.tsx
  dashboard/src/features/projects/common/utils/generateAppServiceUrl/generateAppServiceUrl.ts
  dashboard/src/features/projects/overview/components/OverviewDeployments/OverviewDeployments.test.tsx
  dashboard/src/features/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/tests/mocks.ts
  dashboard/src/tests/msw/mocks/rest/hasuraMetadataQuery.ts
  dashboard/src/tests/msw/mocks/rest/tableQuery.ts
  dashboard/src/tests/msw/mocks/rest/tokenQuery.ts
  dashboard/src/tests/testUtils.tsx
  dashboard/tsconfig.json
  examples/react-apollo/nhost/metadata/backend_configs.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/auth_refresh_tokens.yaml
  examples/react-apollo/nhost/metadata/metrics_config.yaml
  examples/react-apollo/nhost/metadata/opentelemetry.yaml
  examples/react-apollo/package.json
  examples/react-apollo/pnpm-lock.yaml
  pnpm-lock.yaml
Labels: dashboard, react, examples

#2048 chore(docs): update environment variable docs
  .changeset/afraid-pets-film.md
  dashboard/src/features/projects/environmentVariables/settings/components/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  docs/docs/platform/environment-variables.mdx
Labels: documentation, dashboard

#2054 chore(docs): fix stripe reference to env vars
  docs/docs/graphql/remote-schemas/stripe.mdx
Labels: documentation

#2059 fix(dashboard): don't redirect to 404 page
  .changeset/new-rivers-exercise.md
  dashboard/package.json
  dashboard/src/features/projects/common/hooks/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  pnpm-lock.yaml
Labels: dashboard

#2069 fix(webauthn): don't break webauthn form on save
  dashboard/src/features/authentication/settings/components/WebAuthnSettings/WebAuthnSettings.tsx
Labels: dashboard

#2075 fix(docs): use modern URLs
  .changeset/mighty-eggs-warn.md
  docs/docs/authentication/sign-in-methods/4-apple.mdx
  docs/docs/storage.mdx
  examples/seed-data-storage/README.md
  examples/seed-data-storage/seed-storage.sh
  flake.nix
  integrations/google-translation/README.md
Labels: documentation, examples, integrations

#2076 chore(dashboard): extend readme
  dashboard/README.md
Labels: dashboard

#2078 fix(pat): highlight expired tokens
  .changeset/spotty-toys-march.md
  dashboard/src/components/ui/v2/ListItem/ListItemText.tsx
  dashboard/src/components/ui/v2/Text/Text.tsx
  dashboard/src/components/ui/v2/icons/WarningIcon/WarningIcon.tsx
  dashboard/src/components/ui/v2/icons/WarningIcon/index.ts
  dashboard/src/features/account/settings/components/PATSettings/PATSettings.tsx
Labels: bug, dashboard

#2082 fix(dashboard): use dynamic validation schema for password editing
  .changeset/kind-horses-act.md
  dashboard/package.json
  dashboard/src/features/authentication/users/components/EditUserPasswordForm/EditUserPasswordForm.tsx
  pnpm-lock.yaml
Labels: dashboard

#2085 fix(hasura-storage-js): allow using custom buckets for upload
  .changeset/honest-islands-return.md
  examples/node-storage/README.md
  examples/node-storage/nhost/migrations/default/1688049013889_insert_into_storage_buckets/down.sql
  examples/node-storage/nhost/migrations/default/1688049013889_insert_into_storage_buckets/up.sql
  examples/node-storage/src/index.mjs
  examples/node-storage/src/uploadToBucket.mjs
  packages/hasura-storage-js/src/utils/upload.ts
Labels: sdk, examples
