Repository nhost/nhost, pull requests merged in 2023-12, with the labels that each got.

#2399 chore(docs): added functions to custom domains documentation
  .changeset/rich-queens-search.md
  docs/docs/platform/custom-domains.mdx
Labels: documentation

#2393 chore: remove support for using `backendUrl`
  .changeset/sweet-stingrays-try.md
  dashboard/src/features/projects/common/utils/generateAppServiceUrl/generateAppServiceUrl.test.ts
  dashboard/src/features/projects/common/utils/generateAppServiceUrl/generateAppServiceUrl.ts
  dashboard/src/features/projects/environmentVariables/settings/components/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/hasura/index.tsx
  dashboard/src/utils/env/env.ts
  dashboard/src/utils/nhost/nhost.ts
  examples/multi-tenant-one-to-many/utils/nhost.ts
  examples/react-gqty/src/utils/nhost.ts
  packages/nextjs/src/create-server-side-client.ts
  packages/nextjs/src/get-session.ts
  packages/nhost-js/src/clients/auth.ts
  packages/nhost-js/src/clients/functions/index.ts
  packages/nhost-js/src/clients/graphql.ts
  packages/nhost-js/src/clients/storage.ts
  packages/nhost-js/src/utils/helpers.ts
  packages/nhost-js/src/utils/types.ts
  packages/nhost-js/tests/utils.test.ts
  packages/react/src/index.ts
  packages/vue/src/client.ts
Labels: dashboard, sdk, nextjs, react, examples, vue

#2402 fix(ci): pin `@nhost/nhost-js` dep version in sveltekit quickstart
  examples/quickstarts/sveltekit/package.json
Labels: examples

#2408 Update hasura-auth-client.ts
  .changeset/little-beers-rhyme.md
  packages/hasura-auth-js/src/hasura-auth-client.ts
Labels: sdk

#2395 chore (examples/docker-compose): update README.md to explain why hasura-console is needed
  .changeset/clever-pigs-end.md
  examples/docker-compose/README.md
Labels: examples

#2422 chore(dashboard): remove sharp package from dependencies
  dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

#2426 chore: update eslint
  dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

#2428 bug: dashboard: fix graphite default version
  .changeset/cyan-snakes-beg.md
  dashboard/src/features/ai/settings/components/AISettings.tsx
Labels: dashboard
