Repository nhost/nhost, pull requests merged in 2023-11, with the labels that each got.

#2352 chore(docs): remove custom domains from roadmap
  .changeset/thick-houses-learn.md
  docs/docs/run/index.mdx
Labels: documentation

#2360 fix(react-apollo): update Apple OAuth secrets in nhost.toml
  examples/react-apollo/nhost/nhost.toml
Labels: react, examples

#2362 feat: export urlFromSubdomain helper
  .changeset/breezy-pugs-wash.md
  packages/nhost-js/src/index.ts
  packages/nhost-js/src/utils/helpers.ts
Labels: sdk

#2365 feat: delete account
  .changeset/lazy-games-deny.md
  dashboard/src/features/account/settings/components/DeleteAccount/DeleteAccount.tsx
  dashboard/src/features/account/settings/components/DeleteAccount/index.ts
  dashboard/src/features/account/settings/gql/deleteUserAccount.gql
  dashboard/src/pages/account/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2366 feat(examples): add sign-in with Linked to react-apollo
  .changeset/six-spies-tie.md
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/src/components/OauthLinks.tsx
Labels: react, examples

#2367 fix(docs): add instructions for enabling Sign In with LinkedIn using OpenID Connect
  .changeset/rare-fans-marry.md
  docs/docs/authentication/sign-in-methods/4-linkedin.mdx
Labels: documentation

#2372 Chore/dashboard update storage capacity alert
  .changeset/mighty-pens-begin.md
  dashboard/src/features/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
Labels: dashboard

#2370 chore(quickstarts): add virus table metadata
  examples/quickstarts/nhost-backend/nhost/metadata/databases/default/tables/storage_virus.yaml
  examples/quickstarts/nhost-backend/nhost/metadata/databases/default/tables/tables.yaml
Labels: examples

#2342 fix: ensure `pnpm clean` and `pnpm install` work correctly for the quickstarts
  dashboard/src/features/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
  examples/quickstarts/nextjs-server-components/.eslintrc.js
  examples/quickstarts/nextjs-server-components/src/app/protected/pat/[[...pagination]]/page.tsx
  examples/quickstarts/nextjs-server-components/src/components/todo-item.tsx
  examples/quickstarts/nextjs-server-components/src/middleware.ts
  examples/quickstarts/nextjs-server-components/src/utils/nhost.ts
  examples/quickstarts/nhost-backend/nhost/nhost.toml
  examples/quickstarts/sveltekit/package.json
  examples/quickstarts/sveltekit/playwright.config.js
  examples/quickstarts/sveltekit/pnpm-lock.yaml
  examples/quickstarts/sveltekit/src/routes/auth/sign-in/google/+page.server.js
  examples/quickstarts/sveltekit/src/routes/protected/pat/+page.server.js
  examples/quickstarts/sveltekit/src/routes/protected/pat/[id]/+server.js
  examples/quickstarts/sveltekit/src/routes/protected/todos/+page.server.js
  examples/quickstarts/sveltekit/src/routes/protected/todos/delete/+page.server.js
  examples/quickstarts/sveltekit/src/routes/protected/todos/new/+page.server.js
  examples/quickstarts/sveltekit/src/routes/protected/todos/update/+server.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dashboard, examples

#2383 chore: update node to v18
  dashboard/Dockerfile
Labels: dashboard

#2376 feat(dashboard): add sql editor
  .changeset/sixty-worms-beg.md
  dashboard/package.json
  dashboard/src/components/ui/v2/icons/TerminalIcon/TerminalIcon.tsx
  dashboard/src/components/ui/v2/icons/TerminalIcon/index.ts
  dashboard/src/features/database/dataGrid/components/DataBrowserSidebar/DataBrowserSidebar.tsx
  dashboard/src/features/database/dataGrid/components/SQLEditor/SQLEditor.tsx
  dashboard/src/features/database/dataGrid/components/SQLEditor/index.ts
  dashboard/src/features/database/dataGrid/hooks/useRunSQL/index.ts
  dashboard/src/features/database/dataGrid/hooks/useRunSQL/useRunSQL.ts
  dashboard/src/pages/[workspaceSlug]/[appSlug]/database/browser/[dataSourceSlug]/editor.tsx
  dashboard/src/utils/sql/index.ts
  pnpm-lock.yaml
Labels: dashboard

#2345 fix(docs): typo in Run deploy example script
  .changeset/good-ligers-tell.md
  docs/docs/run/7_ci.mdx
Labels: documentation

#2388 fix: make sure secrets are not resolved
  .changeset/wise-geese-attend.md
  dashboard/src/features/authentication/settings/gql/getAuthenticationSettings.gql
  dashboard/src/features/database/settings/gql/getPostgresSettings.gql
  dashboard/src/features/hasura/settings/gql/getHasuraSettings.gql
  dashboard/src/features/projects/resources/settings/gql/getResources.gql
  dashboard/src/features/storage/settings/gql/getStorageSettings.gql
  dashboard/src/gql/app/getProjectLocales.graphql
  dashboard/src/gql/app/settings/environmentVariables/getEnvironmentVariables.graphql
  dashboard/src/gql/app/settings/rolesPermissions/getRolesPermissions.graphql
  dashboard/src/gql/app/settings/signInMethods/getSignInMethods.graphql
  dashboard/src/gql/app/settings/smtp/getSmtpSettings.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2384 fix: update auth version and webauthn origins
  .changeset/nine-oranges-enjoy.md
  examples/quickstarts/nextjs-server-components/package.json
  examples/quickstarts/nextjs-server-components/src/app/auth/sign-in/webauthn/page.tsx
  examples/quickstarts/nextjs-server-components/src/app/auth/sign-up/webauthn/page.tsx
  examples/quickstarts/nextjs-server-components/src/utils/nhost.ts
  examples/quickstarts/nhost-backend/nhost/nhost.toml
  examples/quickstarts/nhost-backend/nhost/overlays/local.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples

#2392 feat(dashboard): add serverless functions custom domain settings
  dashboard/src/features/projects/custom-domains/settings/components/ServerlessFunctionsDomain/ServerlessFunctionsDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/ServerlessFunctionsDomain/index.ts
  dashboard/src/features/serverless-functions/settings/gql/setServerlessFunctionsSettings.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/custom-domains/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard
