Repository nhost/nhost, pull requests merged in 2023-10, with the labels that each got.

#2287 fix(vue-sdk): correctly unref arrays
  .changeset/quiet-monkeys-cheer.md
  packages/vue/src/helpers.ts
Labels: sdk, vue

#2291 chore: node18 announcement
  .changeset/pretty-moles-drum.md
  dashboard/src/components/common/Announcement/Announcement.tsx
  dashboard/src/components/common/Announcement/AnnouncementProvider.tsx
Labels: dashboard

#2296 feat: dashboard: query announcements
  .changeset/small-hounds-cough.md
  dashboard/src/components/common/Announcement/Announcement.tsx
  dashboard/src/components/common/Announcement/AnnouncementContainer.tsx
  dashboard/src/components/common/Announcement/AnnouncementProvider.tsx
  dashboard/src/components/common/Announcement/index.ts
  dashboard/src/components/common/Announcement/useAnnouncement.ts
  dashboard/src/features/projects/common/components/Announcements/Announcements.tsx
  dashboard/src/features/projects/common/components/Announcements/index.ts
  dashboard/src/features/projects/common/components/WorkspaceSidebar/WorkspaceSidebar.tsx
  dashboard/src/gql/platform/getAnnouncements.gql
  dashboard/src/pages/_app.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2306 chore(dashboard): show oauth providers update notice
  .changeset/hungry-experts-wonder.md
  dashboard/src/components/common/DepricationNotice/DepricationNotice.tsx
  dashboard/src/components/common/DepricationNotice/index.ts
  dashboard/src/components/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/components/settings/ProvidersUpdatedAlert.tsx
  dashboard/src/components/settings/index.ts
  dashboard/src/gql/settings/confirmProvidersUpdated.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/backups.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/database/browser/[dataSourceSlug]/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/[deploymentId].tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/graphql.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/hasura/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/logs/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/metrics/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/services/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/sign-in-methods/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/storage/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2309 fix: integrations: apollo: set accessToken to null after TOKEN_CHANGED event on sign-out
  .changeset/violet-onions-swim.md
  integrations/apollo/src/index.ts
Labels: integrations

#2312 fix: dashboard: disable run tab when developing locally
  .changeset/lucky-lamps-applaud.md
  dashboard/src/features/projects/common/hooks/useProjectRoutes/useProjectRoutes.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/services/index.tsx
Labels: dashboard

#2313 fix: quickstarts: toml node version and tsconfig moduleResolution
  examples/quickstarts/nextjs-server-components/tsconfig.json
  examples/quickstarts/nhost-backend/nhost/nhost.toml
Labels: examples

#2317 fix: integrations: apollo: correct accessToken nullability test
  .changeset/long-berries-divide.md
  integrations/apollo/src/index.ts
Labels: integrations

#2326 feat(dashboard): add database storage capacity setting
  .changeset/eighty-crews-run.md
  dashboard/src/features/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
  dashboard/src/features/database/settings/components/DatabaseStorageCapacity/index.ts
  dashboard/src/features/database/settings/gql/getPostgresSettings.gql
  dashboard/src/gql/app/settings/updateConfig.graphql
  dashboard/src/gql/fragments/project.gql
  dashboard/src/gql/user/insertFeedback.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/database/index.tsx
  dashboard/src/tests/mocks.ts
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2325 chore: docs: add custom domains
  .changeset/dirty-phones-dream.md
  docs/docs/platform/custom-domains.mdx
  docs/static/img/custom-domains/custom-domains.png
Labels: documentation

#2320 feat(dashboard): custom domains
  .changeset/olive-queens-share.md
  dashboard/public/illustration-unbox.png
  dashboard/src/components/common/UpgradeToProBanner/UpgradeToProBanner.tsx
  dashboard/src/components/common/UpgradeToProBanner/index.ts
  dashboard/src/components/layout/SettingsContainer/SettingsContainer.tsx
  dashboard/src/components/layout/SettingsSidebar/SettingsSidebar.tsx
  dashboard/src/components/presentational/NhostIcon/NhostIcon.tsx
  dashboard/src/components/presentational/NhostIcon/index.ts
  dashboard/src/features/authentication/settings/gql/getAuthenticationSettings.gql
  dashboard/src/features/hasura/settings/gql/getHasuraSettings.gql
  dashboard/src/features/projects/custom-domains/settings/components/AuthDomain/AuthDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/AuthDomain/index.ts
  dashboard/src/features/projects/custom-domains/settings/components/DatabaseDomain/DatabaseDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/DatabaseDomain/index.ts
  dashboard/src/features/projects/custom-domains/settings/components/HasuraDomain/HasuraDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/HasuraDomain/index.ts
  dashboard/src/features/projects/custom-domains/settings/components/RunServiceDomains/RunServiceDomains.tsx
  dashboard/src/features/projects/custom-domains/settings/components/RunServiceDomains/index.ts
  dashboard/src/features/projects/custom-domains/settings/components/RunServicePortDomain/RunServicePortDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/RunServicePortDomain/index.ts
  dashboard/src/features/projects/custom-domains/settings/components/VerifyDomain/VerifyDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/VerifyDomain/index.ts
  dashboard/src/gql/app/settings/custom-domains/dnsLookupCNAME.graphql
  dashboard/src/gql/services/getRunServices.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/custom-domains/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2321 fix: update useChangePassword hook interface
  .changeset/quick-swans-tie.md
  packages/react/src/useChangePassword.ts
Labels: documentation, dashboard, sdk, nextjs, react, examples, vue, integrations

#2331 fix(dashboard): allow resetting custom domains
  .changeset/gentle-donuts-eat.md
  dashboard/src/features/projects/custom-domains/settings/components/AuthDomain/AuthDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/HasuraDomain/HasuraDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/RunServicePortDomain/RunServicePortDomain.tsx
Labels: dashboard

#2332 Update Docs for useChangeEmail.ts Example
  .changeset/fuzzy-wasps-breathe.md
  packages/react/src/useChangeEmail.ts
  packages/vue/src/useChangeEmail.ts
Labels: sdk, react, vue

#2335 chore: update toml files to use node 18
  examples/cli/nhost/nhost.toml
  examples/codegen-react-apollo/nhost/nhost.toml
  examples/codegen-react-query/nhost/nhost.toml
  examples/codegen-react-urql/nhost/nhost.toml
  examples/graphql-js-react-query/nhost/nhost.toml
  examples/multi-tenant-one-to-many/nhost/nhost.toml
  examples/nextjs/nhost/nhost.toml
  examples/node-storage/nhost/nhost.toml
  examples/react-apollo/nhost/nhost.toml
  examples/react-gqty/nhost/nhost.toml
  examples/react-urql/nhost/nhost.toml
  examples/seed-data-storage/nhost/nhost.toml
  examples/seed-data/nhost/nhost.toml
  examples/serverless-functions/nhost/nhost.toml
  examples/vue-apollo/nhost/nhost.toml
  packages/hasura-auth-js/nhost/nhost.toml
  packages/hasura-storage-js/nhost/nhost.toml
  packages/nhost-js/nhost/nhost.toml
Labels: sdk, nextjs, react, examples, vue

#2344 chore: bump quickstarts storage to `0.4.0`
  examples/quickstarts/nhost-backend/nhost/nhost.toml
Labels: examples
