Repository nhost/nhost, pull requests merged in 2023-04, with the labels that each got.

#1772 Update serverless-functions to link to event trigger docs
  .changeset/odd-dots-end.md
  docs/docs/serverless-functions.mdx
Labels: documentation

#1804 fix(dashboard): don't break logs page
  .changeset/loud-jobs-mate.md
  dashboard/src/components/logs/LogsTimePicker/LogsTimePicker.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/database/browser/[dataSourceSlug]/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/logs/index.tsx
Labels: dashboard

#1806 fix: don't open unnecessary connections
  .changeset/gorgeous-deers-wave.md
  .changeset/perfect-apricots-breathe.md
  integrations/apollo/src/index.ts
  integrations/apollo/src/ws.ts
Labels: integrations

#1811 feat(dashboard): Show Metrics
  .changeset/tender-carrots-sneeze.md
  dashboard/.eslintrc.js
  dashboard/e2e/overview/overview.test.ts
  dashboard/i18n.json
  dashboard/locales/en/common.json
  dashboard/locales/en/overview.json
  dashboard/next.config.js
  dashboard/package.json
  dashboard/src/components/applications/ApplicationLive.tsx
  dashboard/src/components/overview/MetricsCard/MetricsCard.tsx
  dashboard/src/components/overview/MetricsCard/index.ts
  dashboard/src/components/overview/OverviewDocumentation/OverviewDocumentation.tsx
  dashboard/src/components/overview/OverviewMetrics/OverviewMetrics.tsx
  dashboard/src/components/overview/OverviewMetrics/index.ts
  dashboard/src/components/overview/OverviewUsage/OverviewUsage.tsx
  dashboard/src/components/ui/v2/Tooltip/Tooltip.tsx
  dashboard/src/components/ui/v2/icons/InfoIcon/InfoIcon.tsx
  dashboard/src/components/ui/v2/icons/InfoIcon/index.ts
  dashboard/src/gql/app/getProjectMetrics.gql
  dashboard/src/hooks/v2/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  dashboard/src/pages/[workspaceSlug]/[appSlug]/backups.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/common/prettifyNumber/index.ts
  dashboard/src/utils/common/prettifyNumber/prettifyNumber.test.ts
  dashboard/src/utils/common/prettifyNumber/prettifyNumber.ts
  dashboard/src/utils/common/prettifySize/index.ts
  dashboard/src/utils/common/prettifySize/prettifySize.ts
  pnpm-lock.yaml
Labels: dashboard

#1819 fix(dashboard): revert i18n library to improve performance
  .changeset/mean-comics-smoke.md
  dashboard/i18n.json
  dashboard/locales/en/common.json
  dashboard/locales/en/overview.json
  dashboard/next.config.js
  dashboard/package.json
  dashboard/src/components/overview/OverviewMetrics/OverviewMetrics.tsx
  pnpm-lock.yaml
Labels: dashboard

#1800 Update local URLs to new format
  .changeset/short-tables-teach.md
  docs/docs/cli/index.mdx
  docs/docs/cli/local-development.mdx
  docs/docs/graphql/index.mdx
  docs/docs/graphql/remote-schemas/stripe.mdx
Labels: documentation

#1818 feat(dashboard): improved error state
  .changeset/silly-cows-rescue.md
  dashboard/README.md
  dashboard/src/components/applications/ApplicationErrored.tsx
  dashboard/src/components/applications/ApplicationLive.tsx
  dashboard/src/hooks/useApplicationState.tsx
  dashboard/src/hooks/useNavigationVisible.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/index.tsx
  dashboard/src/utils/getPreviousApplicationState.ts
Labels: dashboard

#1831 fix(nhost-js): don't suppress error messages
  .changeset/healthy-seals-argue.md
  .changeset/odd-rocks-sort.md
  packages/nhost-js/src/clients/functions/index.ts
  packages/nhost-js/src/clients/functions/types.ts
  packages/nhost-js/src/utils/types.ts
  packages/vue/src/useError.ts
Labels: sdk, vue

#1830 Add generateLinks instead of link and onError args
  .changeset/pink-tips-study.md
  dashboard/src/utils/testUtils.tsx
  integrations/apollo/src/index.ts
Labels: dashboard, integrations

#1840 chore(dashboard): unify payment dialog management
  .changeset/silly-cups-perform.md
  dashboard/src/components/applications/ApplicationPaused.tsx
  dashboard/src/components/applications/ChangePlanModal.tsx
  dashboard/src/components/applications/UnlockFeatureByUpgrading.tsx
  dashboard/src/components/common/DialogProvider/DialogContext.ts
  dashboard/src/components/dashboard/CountrySelector.tsx
  dashboard/src/components/overview/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/components/ui/v2/AlertDialog/AlertDialog.tsx
  dashboard/src/components/ui/v2/Dialog/Dialog.tsx
  dashboard/src/components/ui/v2/Dialog/DialogRoot.tsx
  dashboard/src/components/workspace/BillingPaymentMethodForm/BillingPaymentMethodForm.tsx
  dashboard/src/components/workspace/BillingPaymentMethodForm/index.ts
  dashboard/src/components/workspace/WorkspacePaymentMethods.tsx
  dashboard/src/context/UIContext.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/general/index.tsx
  dashboard/src/pages/new.tsx
Labels: dashboard

#1844 fix(dashboard): use correct vCPUs and memory after reset
  dashboard/src/components/settings/resources/ResourcesForm/ResourcesForm.tsx
  dashboard/src/features/settings/resources/utils/resourceSettingsValidationSchema/resourceSettingsValidationSchema.ts
Labels: dashboard

#1845 chore: dashboard: update nomenclature for compute
  .changeset/red-numbers-search.md
  dashboard/src/components/settings/SettingsSidebar/SettingsSidebar.tsx
  dashboard/src/components/settings/resources/ResourcesForm/ResourcesForm.tsx
  dashboard/src/components/settings/resources/TotalResourcesFormFragment/TotalResourcesFormFragment.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/resources/index.tsx
Labels: dashboard

#1849 add compute section to the docs
  docs/docs/platform/compute.mdx
  docs/static/img/platform/compute-resources/dashboard-slider.png
Labels: documentation

#1837 Wait for valid token or sign out before establishing connection.
  .changeset/green-kangaroos-wait.md
  integrations/apollo/src/index.ts
Labels: integrations

#1860 fix(dashboard): filter projects by workspace
  .changeset/fresh-foxes-talk.md
  dashboard/src/components/overview/OverviewDeployments/OverviewDeployments.test.tsx
  dashboard/src/gql/app/getWorkspaceAndProject.graphql
  dashboard/src/hooks/v2/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  dashboard/src/tests/mocks.ts
  dashboard/src/types/workspace.ts
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#1872 chore(dashboard): remove deprecated environment variable
  .changeset/old-chairs-know.md
  dashboard/src/components/settings/environmentVariables/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/utils/helpers.ts
Labels: dashboard

#1869 docs: add service replicas
  .changeset/big-ducks-marry.md
  docs/docs/platform/compute.mdx
  docs/docs/platform/git.mdx
  docs/docs/platform/service-replicas.mdx
  docs/static/img/platform/compute-resources/dashboard-slider.png
  docs/static/img/platform/service-replicas/replicas-diagram.png
Labels: documentation

#1855 feat(dashboard): Service Replicas
  .changeset/gold-hats-brake.md
  dashboard/package.json
  dashboard/src/components/layout/ProjectLayout/ProjectLayout.tsx
  dashboard/src/components/settings/resources/ResourcesConfirmationDialog/ResourcesConfirmationDialog.tsx
  dashboard/src/components/settings/resources/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/components/settings/resources/ResourcesForm/ResourcesForm.tsx
  dashboard/src/components/settings/resources/ResourcesForm/ResourcesFormFooter.tsx
  dashboard/src/components/settings/resources/ServiceResourcesFormFragment/ServiceResourcesFormFragment.tsx
  dashboard/src/components/settings/resources/TotalResourcesFormFragment/TotalResourcesFormFragment.tsx
  dashboard/src/components/ui/v2/Slider/Slider.tsx
  dashboard/src/components/ui/v2/icons/ExclamationIcon/ExclamationIcon.tsx
  dashboard/src/components/ui/v2/icons/ExclamationIcon/index.ts
  dashboard/src/features/settings/resources/utils/calculateBillableResources/calculateBillableResources.test.ts
  dashboard/src/features/settings/resources/utils/calculateBillableResources/calculateBillableResources.ts
  dashboard/src/features/settings/resources/utils/calculateBillableResources/index.ts
  dashboard/src/features/settings/resources/utils/getAllocatedResources/getAllocatedResources.test.ts
  dashboard/src/features/settings/resources/utils/getAllocatedResources/getAllocatedResources.ts
  dashboard/src/features/settings/resources/utils/getAllocatedResources/index.ts
  dashboard/src/features/settings/resources/utils/resourceSettingsValidationSchema/resourceSettingsValidationSchema.ts
  dashboard/src/gql/app/settings/resources/getResources.graphql
  dashboard/src/hooks/common/useProPlan/index.ts
  dashboard/src/hooks/common/useProPlan/useProPlan.ts
  dashboard/src/tests/mocks.ts
  dashboard/src/tests/msw/mocks/graphql/resourceSettingsQuery.ts
  dashboard/src/tests/testUtils.tsx
  dashboard/src/utils/CONSTANTS.ts
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/settings/getUnallocatedResources/getUnallocatedResources.test.ts
  dashboard/src/utils/settings/getUnallocatedResources/getUnallocatedResources.ts
  dashboard/src/utils/settings/getUnallocatedResources/index.ts
  dashboard/vitest.config.ts
  pnpm-lock.yaml
Labels: dashboard

#1871 docs: add migration info
  .changeset/giant-maps-fly.md
  docs/docs/cli/index.mdx
  docs/docusaurus.config.js
  docs/src/css/custom.css
Labels: documentation
