Repository nhost/nhost, pull requests merged in 2024-09, with the labels that each got.

#2852 feat (docs): update list of postgres extensions
  .changeset/hungry-news-film.md
  docs/guides/database/extensions.mdx
  examples/quickstarts/sveltekit/package.json
  package.json
  pnpm-lock.yaml
Labels: documentation, enhancement, examples, Review effort [1-5]: 2, Other

#2857 fix(hasura-auth-js): update signout to use accessToken when clearing all sessions
  .changeset/popular-rabbits-bake.md
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/machines/authentication/machine.typegen.ts
Labels: enhancement, sdk, Bug fix, Review effort [1-5]: 2

#2859 fix(e2e): fix run service e2e test
  .changeset/gold-schools-destroy.md
  dashboard/e2e/auth/ban-user.test.ts
  dashboard/e2e/auth/create-user.test.ts
  dashboard/e2e/auth/delete-user.test.ts
  dashboard/e2e/auth/verify-user.test.ts
  dashboard/e2e/database/create-table.test.ts
  dashboard/e2e/database/delete-table.test.ts
  dashboard/e2e/run/run.test.ts
  dashboard/playwright.config.ts
  dashboard/src/features/services/components/ServicesList/ServicesList.tsx
Labels: enhancement, dashboard, Bug fix, Review effort [1-5]: 2

#2861 fix(react-apollo): change relyingParty ID to `nhost.io`
  examples/react-apollo/nhost/nhost.toml
Labels: react, examples

#2805 feat (dashboard): allow filtering users in "make request as" feature of graphql section
  .changeset/fair-chicken-deliver.md
  dashboard/src/features/graphql/common/components/UserSelect/UserSelect.tsx
  dashboard/src/features/graphql/common/hooks/index.ts
  dashboard/src/features/graphql/common/hooks/useGetAppUsers.ts
Labels: dashboard

#2868 chore (dashboard): remove broken link
  .changeset/tricky-colts-beg.md
  .github/workflows/gen_ai_review.yaml
  audit-ci.jsonc
  dashboard/src/features/database/dataGrid/components/DataBrowserSidebar/DataBrowserSidebar.tsx
  examples/multi-tenant-one-to-many/package.json
  package.json
  pnpm-lock.yaml
Labels: documentation, enhancement, dashboard, examples, Review effort [1-5]: 2

#2870 fix (docs): update rate-limit to reflect reality
  .changeset/neat-carpets-play.md
  docs/platform/rate-limits.mdx
  package.json
  pnpm-lock.yaml
Labels: documentation, Review effort [1-5]: 1

#2871 chore (docs): udpate metrics documentation with managed configuration
  .changeset/weak-dryers-call.md
  docs/images/platform/metrics/alert_rules.png
  docs/images/platform/metrics/contact_points.png
  docs/images/platform/metrics/email_notification.png
  docs/mint.json
  docs/platform/metrics.mdx
  observability/contact_points.yaml
  observability/dashboard_functions_metrics.json
  observability/dashboard_graphql.json
  observability/dashboard_ingress_metrics.json
  observability/dashboard_project_metrics.json
  observability/dashboards_providers.yaml
  observability/datasources.yaml.tmpl
  observability/grafana.ini
  observability/grafana/README.md
  observability/notification_policies.yaml
  observability/rules_nhost.yaml
  observability/setup_config.sh
Labels: documentation, enhancement, Review effort [1-5]: 4

#2879 chore (docs): added pg_ivm extension
  .changeset/rare-wolves-tease.md
  .changeset/serious-lions-unite.md
  dashboard/next-env.d.ts
  dashboard/package.json
  docs/guides/database/extensions.mdx
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/nextjs/next-env.d.ts
  examples/nextjs/package.json
  examples/quickstarts/nextjs-server-components/package.json
  examples/quickstarts/sveltekit/package.json
  examples/react-apollo/package.json
  examples/react-gqty/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  package.json
  packages/nextjs/package.json
  pnpm-lock.yaml
Labels: documentation, enhancement, dashboard, sdk, nextjs, react, examples, vue, Review effort [1-5]: 1

#2881 chore (docs): place the grafana files in the right place
  observability/grafana/contact_points.yaml
  observability/grafana/dashboard_functions_metrics.json
  observability/grafana/dashboard_graphql.json
  observability/grafana/dashboard_ingress_metrics.json
  observability/grafana/dashboard_project_metrics.json
  observability/grafana/dashboards_providers.yaml
  observability/grafana/datasources.yaml.tmpl
  observability/grafana/grafana.ini
  observability/grafana/notification_policies.yaml
  observability/grafana/rules_nhost.yaml
  observability/grafana/setup_config.sh
Labels: documentation, enhancement, Review effort [1-5]: 4

#2883 fix(react-apollo): add elevated permission check before deleting a security key
  .changeset/lucky-mirrors-relate.md
  examples/react-apollo/src/components/profile/security-keys.tsx
Labels: enhancement, react, examples, Bug fix, Review effort [1-5]: 3

#2886 fix (dashboard): update url to docs in run services tooltip
  .changeset/grumpy-toys-love.md
  dashboard/src/features/services/components/ServiceForm/components/ComputeFormSection/ComputeFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ReplicasFormSection/ReplicasFormSection.tsx
Labels: enhancement, dashboard, Bug fix, Review effort [1-5]: 2

#2892 fix (dashboard): long error message in error toast overflow
  .changeset/purple-vans-protect.md
  dashboard/src/components/ui/v2/ErrorToast/ErrorToast.tsx
Labels: enhancement, dashboard, Bug fix, Review effort [1-5]: 2

#2897 feat(dashboard): feat: integrate Cloudflare Turnstile for signup verification
  dashboard/package.json
  dashboard/src/pages/signup.tsx
  pnpm-lock.yaml
Labels: enhancement, dashboard, Review effort [1-5]: 2

#2895 feat: turnstile
  .changeset/brown-icons-sip.md
  .changeset/friendly-sloths-hang.md
  .changeset/tricky-badgers-shout.md
  dashboard/.env.example
  dashboard/package.json
  dashboard/src/pages/signup.tsx
  package.json
  packages/hasura-auth-js/src/machines/authentication/events.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/promises/signUpEmailPassword.ts
  packages/hasura-auth-js/src/types/options.ts
  packages/hasura-auth-js/src/utils/fetch.ts
  packages/react/src/useSignUpEmailPassword.ts
  pnpm-lock.yaml
Labels: enhancement, dashboard, sdk, react, Review effort [1-5]: 3

#2896 feat (docs): added turnstile guide
  .changeset/ten-geckos-applaud.md
  docs/guides/auth/bot-protection.mdx
  docs/images/guides/auth/turnstile/turnstile.gif
  docs/mint.json
Labels: documentation, enhancement, Review effort [1-5]: 2

#2899 feat (docs): added advanced TLS document
  .changeset/breezy-fans-kiss.md
  docs/guides/run/networking.mdx
  docs/mint.json
  docs/platform/tls.mdx
Labels: documentation, enhancement, Review effort [1-5]: 2

#2872 feat (dashboard): add autoscaler ui
  .changeset/thirty-ravens-applaud.md
  dashboard/e2e/run/run.test.ts
  dashboard/src/components/ui/v2/icons/InfoOutlinedIcon/InfoOutlinedIcon.tsx
  dashboard/src/components/ui/v2/icons/InfoOutlinedIcon/index.ts
  dashboard/src/features/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/features/projects/resources/settings/components/ResourcesForm/ResourcesForm.tsx
  dashboard/src/features/projects/resources/settings/components/ServiceResourcesFormFragment/ServiceResourcesFormFragment.tsx
  dashboard/src/features/projects/resources/settings/components/TotalResourcesFormFragment/TotalResourcesFormFragment.tsx
  dashboard/src/features/projects/resources/settings/gql/getResources.gql
  dashboard/src/features/projects/resources/settings/utils/resourceSettingsValidationSchema/resourceSettingsValidationSchema.ts
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/PortsFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/PortsFormSectionTypes.ts
  dashboard/src/features/services/components/ServiceForm/components/ReplicasFormSection/ReplicasFormSection.tsx
  dashboard/src/features/services/components/ServicesList/ServicesList.tsx
  dashboard/src/gql/services/getRunService.graphql
  dashboard/src/gql/services/getRunServices.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/services/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/constants/common/common.ts
Labels: enhancement, dashboard, Review effort [1-5]: 4

#2902 chore (docs): added pg's ip4r extension documentation
  .changeset/brown-bulldogs-help.md
  docs/guides/database/extensions.mdx
Labels: documentation, enhancement, Review effort [1-5]: 1

#2893 feat (docs): added autoscaler
  .changeset/rich-pianos-wait.md
  docs/images/platform/service-replicas/autoscaler-config.png
  docs/images/platform/service-replicas/autoscaler-cpu.png
  docs/platform/service-replicas.mdx
Labels: documentation, enhancement, Review effort [1-5]: 2
