Repository nhost/nhost, pull requests merged in 2024-06, with the labels that each got.

#2745 feat (dashboard): use name instead of awsName
  .changeset/thick-wolves-poke.md
  dashboard/src/features/projects/common/hooks/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  dashboard/src/features/projects/common/utils/generateAppServiceUrl/generateAppServiceUrl.test.ts
  dashboard/src/features/projects/common/utils/generateAppServiceUrl/generateAppServiceUrl.ts
  dashboard/src/features/projects/custom-domains/settings/components/AuthDomain/AuthDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/HasuraDomain/HasuraDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/RunServicePortDomain/RunServicePortDomain.tsx
  dashboard/src/features/projects/custom-domains/settings/components/ServerlessFunctionsDomain/ServerlessFunctionsDomain.tsx
  dashboard/src/features/projects/environmentVariables/settings/components/SystemEnvironmentVariableSettings/SystemEnvironmentVariableSettings.tsx
  dashboard/src/features/projects/overview/components/OverviewProjectInfo/OverviewProjectInfo.tsx
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/PortsFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ServiceDetailsDialog/ServiceDetailsDialog.tsx
  dashboard/src/gql/fragments/project.gql
  dashboard/src/tests/mocks.ts
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2755 chore: fix vulnerabilities
  .changeset/chatty-eggs-own.md
  flake.lock
  integrations/google-translation/package.json
  package.json
  pnpm-lock.yaml
Labels: integrations

#2731 feat(dashboard): project health
  .changeset/good-drinks-collect.md
  dashboard/src/components/presentational/CodeBlock/CodeBlock.tsx
  dashboard/src/components/presentational/CodeBlock/CopyToClipboardButton.tsx
  dashboard/src/components/presentational/CodeBlock/getNodeText.ts
  dashboard/src/components/presentational/CodeBlock/index.ts
  dashboard/src/components/ui/v2/Accordion/Accordion.tsx
  dashboard/src/components/ui/v2/Accordion/AccordionActions.tsx
  dashboard/src/components/ui/v2/Accordion/AccordionDetails.tsx
  dashboard/src/components/ui/v2/Accordion/AccordionSummary.tsx
  dashboard/src/components/ui/v2/Accordion/index.ts
  dashboard/src/components/ui/v2/Badge/Badge.tsx
  dashboard/src/components/ui/v2/Badge/index.ts
  dashboard/src/components/ui/v2/Dialog/DialogRoot.tsx
  dashboard/src/components/ui/v2/icons/ExclamationFilledIcon/ExclamationFilledIcon.tsx
  dashboard/src/components/ui/v2/icons/ExclamationFilledIcon/index.ts
  dashboard/src/components/ui/v2/icons/ServicesOutlinedIcon/ServicesOutlinedIcon.tsx
  dashboard/src/components/ui/v2/icons/ServicesOutlinedIcon/index.ts
  dashboard/src/features/projects/common/components/ApplicationLive/ApplicationLive.tsx
  dashboard/src/features/projects/overview/components/OverviewProjectHealth/OverviewProjectHealth.tsx
  dashboard/src/features/projects/overview/components/OverviewProjectHealth/index.ts
  dashboard/src/features/projects/overview/components/OverviewProjectHealthModal/OverviewProjectHealthModal.tsx
  dashboard/src/features/projects/overview/components/OverviewProjectHealthModal/index.ts
  dashboard/src/features/projects/overview/components/ProjectHealthCard/ProjectHealthCard.tsx
  dashboard/src/features/projects/overview/components/ProjectHealthCard/index.ts
  dashboard/src/features/projects/overview/components/ServiceVersionTooltip/ServiceVersionTooltip.tsx
  dashboard/src/features/projects/overview/components/ServiceVersionTooltip/index.ts
  dashboard/src/features/projects/overview/health/health.ts
  dashboard/src/features/projects/overview/health/index.ts
  dashboard/src/gql/app/getConfiguredVersions.graphql
  dashboard/src/gql/app/getProjectServicesHealth.gql
  dashboard/src/gql/platform/getRecommendedSoftwareVersions.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, react, examples

#2760 fix: quickstarts: next-js-server-components: disable `autoRefreshToken` when running nhost-js server side
  .changeset/real-pens-fly.md
  examples/quickstarts/nextjs-server-components/src/utils/nhost.ts
Labels: documentation, examples, Bug fix, Review effort [1-5]: 2

#2761 feat (docs): functions: added runtime/pkg manager information
  .changeset/selfish-crabs-carry.md
  docs/guides/functions/runtimes.mdx
  docs/mint.json
  docs/product/functions.mdx
Labels: documentation, Review effort [1-5]: 2

#2752 dashboard: feat: raw TOML editor
  .changeset/tidy-shirts-kneel.md
  dashboard/package.json
  dashboard/src/components/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/components/layout/SettingsSidebar/SettingsSidebar.tsx
  dashboard/src/components/ui/v2/icons/SlidersIcon/SlidersIcon.tsx
  dashboard/src/components/ui/v2/icons/SlidersIcon/index.ts
  dashboard/src/features/projects/common/components/settings/TOMLEditor/TOMLEditor.tsx
  dashboard/src/features/projects/common/components/settings/TOMLEditor/index.ts
  dashboard/src/gql/app/settings/getConfigRawJSON.graphql
  dashboard/src/gql/app/settings/replaceConfigRawJSON.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/editor/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  pnpm-lock.yaml
Labels: documentation, enhancement, dashboard, dependencies, Review effort [1-5]: 4, Bug fix

#2765 dashboard: chore: project health change modal title
  .changeset/metal-bears-tease.md
  dashboard/src/features/projects/overview/components/OverviewProjectHealth/OverviewProjectHealth.tsx
Labels: documentation, enhancement, dashboard, Review effort [1-5]: 1

#2767 dashboard: fix: get settings in toml editor with local development backend
  .changeset/wicked-schools-promise.md
  dashboard/src/features/projects/common/components/settings/TOMLEditor/TOMLEditor.tsx
Labels: dashboard

#2766 chore (docs): add pnpm to list of supported packagers for functions
  .changeset/twenty-starfishes-kiss.md
  docs/guides/functions/runtimes.mdx
Labels: documentation, Review effort [1-5]: 1

#2769 chore(docs): fix broken link in react-native reference
  .changeset/shy-timers-turn.md
  docs/reference/react-native/support.mdx
Labels: documentation, Review effort [1-5]: 1

#2771 dashboard: chore: add blink animation to project health when service is updating
  .changeset/soft-ghosts-compete.md
  dashboard/src/features/projects/overview/components/OverviewProjectHealthModal/OverviewProjectHealthModal.tsx
  dashboard/src/features/projects/overview/components/ProjectHealthCard/ProjectHealthCard.tsx
Labels: dashboard

#2772 dashboard: fix: close error toasts individually
  .changeset/nice-pandas-double.md
  dashboard/src/utils/execPromiseWithErrorToast/execPromiseWithErrorToast.tsx
Labels: dashboard
