Repository nhost/nhost, pull requests merged in 2024-10, with the labels that each got.

#2906 feat (dashboard): support docker image pull secrets for run
  .changeset/soft-goats-juggle.md
  dashboard/package.json
  dashboard/src/components/common/DialogProvider/DialogProvider.tsx
  dashboard/src/features/orgs/projects/common/components/DeleteServiceModal/DeleteServiceModal.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ImageField/ImageField.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ImageField/index.ts
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ImageFormSection/ImageFormSection.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ImageFormSection/index.ts
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ServiceDetailsDialog/ServiceDetailsDialog.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ServiceDetailsDialog/index.ts
  dashboard/src/features/orgs/projects/services/components/ServicesList/ServicesList.tsx
  dashboard/src/features/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/gql/services/getRunService.graphql
  dashboard/src/gql/services/getRunServices.graphql
  dashboard/src/utils/__generated__/graphql.ts
  pnpm-lock.yaml
Labels: documentation, enhancement, dashboard, sdk, nextjs, react, examples, vue, integrations, tests, Review effort [1-5]: 3

#2910 feat (dashboard): add hasura infer function permissions setting
  .changeset/perfect-apricots-smash.md
  dashboard/src/features/hasura/settings/gql/getHasuraSettings.gql
  dashboard/src/features/orgs/projects/hasura/settings/components/HasuraInferFunctionPermissionsSettings/HasuraInferFunctionPermissionsSettings.tsx
  dashboard/src/features/orgs/projects/hasura/settings/components/HasuraInferFunctionPermissionsSettings/index.ts
  dashboard/src/features/orgs/projects/hasura/settings/gql/getHasuraSettings.gql
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/settings/hasura.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: enhancement, dashboard, Review effort [1-5]: 3

#2913 feat (dashboard): add hasura infer function permissions setting to legacy workspaces
  .changeset/hungry-penguins-occur.md
  dashboard/src/features/hasura/settings/components/HasuraInferFunctionPermissionsSettings/HasuraInferFunctionPermissionsSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraInferFunctionPermissionsSettings/index.ts
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/hasura/index.tsx
Labels: enhancement, dashboard, Review effort [1-5]: 3

#2915 feat (docs): added azuread's guide
  .changeset/quiet-geckos-juggle.md
  docs/guides/auth/social/sign-in-azuread.mdx
  docs/mint.json
Labels: documentation, enhancement, Review effort [1-5]: 2

#2924 feat: orgs enhancements
  dashboard/package.json
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/components/layout/Header/BreadcrumbNav.tsx
  dashboard/src/components/layout/Header/Header.tsx
  dashboard/src/components/layout/MainNav/MainNav.tsx
  dashboard/src/components/layout/MainNav/PinnedMainNav.tsx
  dashboard/src/components/ui/v3/alert-dialog.tsx
  dashboard/src/components/ui/v3/breadcrumb.tsx
  dashboard/src/components/ui/v3/button.tsx
  dashboard/src/components/ui/v3/checkbox.tsx
  dashboard/src/features/orgs/components/CheckPendingOrgs/CheckPendingOrgs.tsx
  dashboard/src/features/orgs/components/CheckPendingOrgs/index.ts
  dashboard/src/features/orgs/components/CreateOrgFormDialog/CreateOrgFormDialog.tsx
  dashboard/src/features/orgs/components/OrgStatus/OrgStatus.tsx
  dashboard/src/features/orgs/components/OrgStatus/index.ts
  dashboard/src/features/orgs/components/billing/components/SubscriptionPlan/SubscriptionPlan.tsx
  dashboard/src/features/orgs/components/billing/components/Usage/Usage.tsx
  dashboard/src/features/orgs/components/general/components/DeleteOrg/DeleteOrg.tsx
  dashboard/src/features/orgs/components/members/components/NotificationsTray/NotificationsTray.tsx
  dashboard/src/features/orgs/components/members/components/OrgInvite/OrgInvite.tsx
  dashboard/src/features/orgs/components/members/components/OrgMember/OrgMember.tsx
  dashboard/src/features/orgs/projects/custom-domains/settings/components/RunServiceDomains/RunServiceDomains.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditPermissionsForm/EditPermissionsForm.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewDeployments/OverviewDeployments.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewRepository/OverviewRepository.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/gql/organizations/getOrganization.gql
  dashboard/src/gql/organizations/organizationNewRequests.gql
  dashboard/src/gql/organizations/postOrganizationRequest.gql
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/ai/assistants/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/ai/auto-embeddings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/settings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/index.tsx
  dashboard/src/styles/globals.css
  dashboard/src/tests/mocks.ts
  dashboard/src/tests/orgs/mocks.ts
  dashboard/src/utils/__generated__/graphql.ts
  pnpm-lock.yaml
Labels: dashboard, Review effort [1-5]: 4

#2929 feat: dashboard: orgs states messaging
  dashboard/src/features/orgs/components/OrgStatus/OrgStatus.tsx
Labels: dashboard, Review effort [1-5]: 2

#2931 feat: orgs: upgrade -> migrate
  dashboard/src/components/common/UpgradeToProBanner/UpgradeToProBanner.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesConfirmationDialog/ResourcesConfirmationDialog.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesFormFooter.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/TotalResourcesFormFragment/TotalResourcesFormFragment.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/ai/assistants/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/ai/auto-embeddings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/backups.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/metrics.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/run.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/settings/ai.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/settings/compute-resources.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/settings/custom-domains.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSlug]/settings/smtp.tsx
Labels: dashboard, Review effort [1-5]: 4

#2934 fix workspace migrate button
  dashboard/src/features/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
Labels: dashboard

#2935 fix useNotFoundRedirect to exclude /account path
  dashboard/src/features/projects/common/hooks/useNotFoundRedirect/useNotFoundRedirect.ts
Labels: dashboard, Review effort [1-5]: 1

#2936 fix support page
  dashboard/src/pages/support/index.tsx
Labels: dashboard, Review effort [1-5]: 1

#2937 fix create support ticket page
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/features/projects/common/hooks/useNotFoundRedirect/useNotFoundRedirect.ts
  dashboard/src/pages/support/ticket.tsx
Labels: dashboard, Review effort [1-5]: 2

#2941 fix: disable migrate project submit button when form is not dirty
  .changeset/violet-teachers-agree.md
  dashboard/src/features/orgs/components/MigrateProjectToOrg/MigrateProjectToOrg.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesConfirmationDialog/ResourcesConfirmationDialog.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesFormFooter.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ServiceResourcesFormFragment/ServiceResourcesFormFragment.tsx
  dashboard/src/features/orgs/projects/resources/settings/utils/resourceSettingsValidationSchema/resourceSettingsValidationSchema.ts
  dashboard/src/tests/orgs/mocks.ts
  package.json
  pnpm-lock.yaml
  templates/cra-template-nhost-react-apollo-template/template/package-lock.json
Labels: dashboard, Review effort [1-5]: 2

#2946 fix: graphiql layout on workspaces
  dashboard/src/pages/[workspaceSlug]/[appSlug]/graphql.tsx
Labels: dashboard, Review effort [1-5]: 2

#2947 fix: compute resources form unit tests
  .changeset/eighty-flowers-explain.md
  .github/workflows/changesets.yaml
  dashboard/src/features/orgs/components/MigrateProjectToOrg/MigrateProjectToOrg.tsx
  dashboard/src/features/orgs/projects/git/common/components/EditRepositorySettingsModal/EditRepositorySettingsModal.tsx
  dashboard/src/features/orgs/projects/git/settings/components/GitConnectionSettings/GitConnectionSettings.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewRepository/OverviewRepository.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
Labels: dashboard, Review effort [1-5]: 2

#2938 feat: dashboard: add org to support ticket
  dashboard/src/pages/support/ticket.tsx
Labels: dashboard, Review effort [1-5]: 3

#2949 fix: overview deployments
  .changeset/dry-dancers-mate.md
  dashboard/src/features/orgs/projects/overview/components/OverviewRepository/OverviewRepository.tsx
Labels: dashboard, Review effort [1-5]: 1

#2952 chore: fix linter errors
  dashboard/src/pages/support/ticket.tsx
Labels: dashboard, Review effort [1-5]: 2

#2953 fix: application errored state
  .changeset/odd-weeks-turn.md
  dashboard/src/features/orgs/projects/common/components/ApplicationErrored/ApplicationErrored.tsx
Labels: dashboard, Review effort [1-5]: 1

#2955 fix: project errored state
  .changeset/fuzzy-gorillas-sin.md
  dashboard/src/features/orgs/layout/ProjectLayout/ProjectLayout.tsx
Labels: dashboard

#2957 fix: include organization projects in run one click install project selector form
  .changeset/forty-bobcats-chew.md
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/projects/common/hooks/useNotFoundRedirect/useNotFoundRedirect.ts
  dashboard/src/pages/run-one-click-install.tsx
Labels: dashboard

#2959 chore: add run autoscaler and GRPC port config under organization projects
  .changeset/fluffy-pillows-invite.md
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/PortsFormSection/PortsFormSection.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ReplicasFormSection/ReplicasFormSection.tsx
  dashboard/src/features/orgs/projects/services/components/ServicesList/ServicesList.tsx
Labels: dashboard

#2967 fix (dashboard): long error message in orgs error toast overflow
  .changeset/neat-dragons-cough.md
  dashboard/src/features/orgs/components/ui/v2/ErrorToast/ErrorToast.tsx
Labels: dashboard

#2966 fix (dashboard): update urls to documentation in run services tooltips
  .changeset/nervous-islands-fetch.md
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ComputeFormSection/ComputeFormSection.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/StorageFormSection/StorageFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ComputeFormSection/ComputeFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/StorageFormSection/StorageFormSection.tsx
Labels: dashboard

#2971 fix: local dashboard settings
  .changeset/violet-bikes-appear.md
  dashboard/src/features/orgs/components/TransferProject/TransferProject.tsx
  dashboard/src/features/orgs/projects/hooks/useProject/useProject.ts
  dashboard/src/gql/app/updateApplication.graphql
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2973 fix: redirect using subdomain when creating a new project under orgs and fix pausing project state
  .changeset/lucky-melons-add.md
  dashboard/src/features/orgs/projects/common/components/ApplicationInfo/ApplicationInfo.tsx
  dashboard/src/features/orgs/projects/common/components/ApplicationPaused/ApplicationPaused.tsx
  dashboard/src/features/orgs/projects/common/components/ApplicationRestoring/ApplicationRestoring.tsx
  dashboard/src/features/orgs/projects/common/components/RemoveApplicationModal/RemoveApplicationModal.tsx
  dashboard/src/gql/organizations/insertOrgApp.gql
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/deployments/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/new.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2976 fix (docs): update commands in nhost cli quickstart
  .changeset/fresh-clouds-roll.md
  docs/development/cli/getting-started.mdx
Labels: documentation

#2975 fix: add user admin check for destination organization in transfer project dialog
  .changeset/flat-hounds-camp.md
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.tsx
  dashboard/src/features/orgs/components/members/components/NotificationsTray/NotificationsTray.tsx
  dashboard/src/features/orgs/utils/local-dashboard/index.ts
  dashboard/src/gql/organizations/getOrganizations.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2980 fix: use keywords prop to identify items with same name in breadcrumbs
  .changeset/clean-beans-sneeze.md
  dashboard/src/components/layout/Header/OrgsComboBox.tsx
  dashboard/src/components/layout/Header/ProjectsComboBox.tsx
Labels: dashboard

#2982 fix: adjust navtree to not overflow when project name is too long
  .changeset/afraid-olives-tease.md
  dashboard/src/components/layout/MainNav/WorkspacesNavTree.tsx
  dashboard/src/features/orgs/components/projects/projects-grid/projects-grid.tsx
Labels: dashboard

#2979 fix: show a link for Stripe customer portal if new window fails to open
  .changeset/thick-bottles-flash.md
  dashboard/src/features/orgs/components/billing/components/SubscriptionPlan/SubscriptionPlan.tsx
Labels: dashboard

#2983 fix: adjust dev assistant under orgs structure
  .changeset/good-walls-decide.md
  dashboard/src/components/common/DialogProvider/DialogProvider.tsx
  dashboard/src/components/common/UpgradeToProBanner/UpgradeToProBanner.tsx
  dashboard/src/components/layout/Header/Header.tsx
  dashboard/src/components/ui/v3/dialog.tsx
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.tsx
  dashboard/src/features/orgs/projects/ai/DevAssistant/DevAssistant.tsx
  dashboard/src/features/orgs/projects/ai/DevAssistant/components/MessageBox/MessageBox.tsx
  dashboard/src/features/orgs/projects/ai/DevAssistant/components/MessagesList/MessagesList.tsx
Labels: dashboard

#2984 fix: add enterprise plan and currency to create org form dialog
  .changeset/wet-deers-matter.md
  dashboard/src/features/orgs/components/CreateOrgFormDialog/CreateOrgFormDialog.tsx
Labels: dashboard
