Repository nhost/nhost, pull requests merged in 2024-12, with the labels that each got.

#3046 docs (chore): various minor improvements
  docs/guides/auth/email-templates.mdx
  docs/guides/cli/subdomain.mdx
Labels: documentation, Review effort [1-5]: 2

#3053 fix(dashboard): use correct project hook when editing table cell
  .changeset/thirty-sloths-collect.md
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useUpdateColumnMutation/useUpdateColumnMutation.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useUpdateRecordMutation/useUpdateRecordMutation.ts
Labels: dashboard, Review effort [1-5]: 2

#3051 feat(dashboard): improve projects grid
  .changeset/purple-pumas-smash.md
  dashboard/src/components/layout/Header/ProjectsComboBox.tsx
  dashboard/src/features/orgs/components/common/ProjectStatusIndicator/ProjectStatusIndicator.tsx
  dashboard/src/features/orgs/components/common/ProjectStatusIndicator/index.ts
  dashboard/src/features/orgs/components/projects/projects-grid/projects-grid.tsx
  dashboard/src/features/orgs/projects/deployments/components/DeploymentStatusMessage/DeploymentStatusMessage.test.tsx
  dashboard/src/features/orgs/projects/deployments/components/DeploymentStatusMessage/DeploymentStatusMessage.tsx
  dashboard/src/gql/organizations/getProjects.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort [1-5]: 3

#3059 fix: update prettier version to fix changeset changelog
  package.json
  pnpm-lock.yaml
Labels: Review effort [1-5]: 1

#3052 feat(dashboard): add support for additional metrics in overview
  .changeset/khaki-pets-argue.md
  dashboard/src/features/orgs/projects/overview/components/OverviewMetrics/OverviewMetrics.tsx
  dashboard/src/gql/app/getProjectRequestsMetric.gql
  dashboard/src/gql/organizations/getUserProjectMetrics.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort [1-5]: 3

#3063 chore: fix docs
  .changeset/late-shrimps-taste.md
  docs/reference/javascript/auth/refresh-session.mdx
  packages/hasura-auth-js/src/hasura-auth-client.ts
Labels: documentation, sdk, Review effort [1-5]: 1

#3067 chore (ci): remove unnecessary/unsafe permissions to gen_ai_review
  .github/workflows/gen_ai_review.yaml
Labels: Review effort [1-5]: 1

#3064 chore: remove refs to`NEXT_PUBLIC_NHOST_BACKEND_URL` env var
  .github/workflows/ci.yaml
  .github/workflows/dashboard.yaml
  dashboard/.storybook/main.js
  dashboard/README.md
Labels: dashboard, Review effort [1-5]: 1

#3069 feat: dashboard: add org and project static placeholder routes
  .changeset/thin-pants-battle.md
  dashboard/src/components/common/SelectOrg/SelectOrg.tsx
  dashboard/src/components/common/SelectOrg/index.ts
  dashboard/src/components/common/SelectOrgAndProject/SelectOrgAndProject.tsx
  dashboard/src/components/common/SelectOrgAndProject/index.ts
  dashboard/src/features/projects/common/hooks/useNotFoundRedirect/useNotFoundRedirect.ts
  dashboard/src/pages/orgs/_/[...slug].tsx
  dashboard/src/pages/orgs/_/projects/_/[...slug].tsx
  dashboard/src/pages/orgs/_/projects/_/index.tsx
Labels: dashboard, Review effort [1-5]: 3

#3081 chore: upgrade to pnpm 9.15.0
  .github/actions/install-dependencies/action.yaml
  examples/quickstarts/sveltekit/jsconfig.json
  examples/quickstarts/sveltekit/package.json
  examples/quickstarts/sveltekit/pnpm-lock.yaml
  examples/quickstarts/sveltekit/vite.config.js
  examples/react-apollo/e2e/authenticated/change-email.test.ts
  examples/vue-quickstart/package.json
  package.json
  packages/hasura-auth-js/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: sdk, react, examples, vue, Review effort [1-5]: 2

#3083 fix(dashboard): resolve JWT expired error
  .changeset/shaggy-rivers-rescue.md
  dashboard/Dockerfile
  dashboard/src/features/orgs/projects/hooks/useProject/useProject.ts
Labels: dashboard, Review effort [1-5]: 3

#3085 fix: improve`useProject` hook to use proper caching and refetching
  .changeset/stale-avocados-shake.md
  dashboard/src/features/orgs/hooks/useRemoteApplicationGQLClient/useRemoteApplicationGQLClient.tsx
  dashboard/src/features/orgs/projects/graphql/common/hooks/useGetAppUsers.ts
  dashboard/src/features/orgs/projects/hooks/useAppClient/useAppClient.ts
  dashboard/src/features/orgs/projects/hooks/useProject/useProject.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridPreviewCell/DataGridPreviewCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/FilesDataGrid/FilesDataGrid.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/FilesDataGridControls/FilesDataGridControls.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/hooks/useFiles/useFiles.ts
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/graphql.tsx
Labels: dashboard, Review effort [1-5]: 3

#3012 fix (dashboard): retrieve all permission variables in permission dropdown select
  .changeset/sixty-lies-tie.md
  dashboard/src/components/ui/v3/command.tsx
  dashboard/src/components/ui/v3/fancy-multi-select.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.stories.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.test.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/ColumnAutocomplete/useAsyncValue.ts
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditPermissionsForm/RolePermissionEditorForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/OperatorComboBox.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleEditorRow.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleGroupControls.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleGroupEditor.stories.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleGroupEditor.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleRemoveButton.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleValueInput.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/types/dataBrowser/dataBrowser.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/convertToRuleGroup/convertToRuleGroup.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/convertToRuleGroup/convertToRuleGroup.ts
Labels: dashboard, Review effort [1-5]: 3

#3092 fix(ci): use node20 in Dockerfile and upgrade turbo from 1.11.3 to 2.3.3
  dashboard/Dockerfile
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: dashboard, Review effort [1-5]: 2

#3093 chore(dashboard): cleanup layout and add disable duplicate atom key checking in development mode
  .changeset/silver-goats-stare.md
  dashboard/package.json
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/pages/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/users.tsx
  dashboard/src/pages/support/ticket.tsx
Labels: dashboard, Review effort [1-5]: 3

#3098 fix (docs): broken links to create new project in dashboard
  .changeset/wicked-colts-fetch.md
  docs/guides/quickstarts/nextjs.mdx
  docs/guides/quickstarts/react-native.mdx
  docs/guides/quickstarts/react.mdx
  docs/guides/quickstarts/vue.mdx
  docs/guides/tutorials/nextjs.mdx
  docs/guides/tutorials/react.mdx
  docs/guides/tutorials/vue.mdx
Labels: documentation, Review effort [1-5]: 2

#3100 fix (hasura-storage-js): stack overflow on storage client getHeaders
  .changeset/smooth-wombats-begin.md
  packages/hasura-storage-js/src/hasura-storage-client.ts
Labels: sdk, Review effort [1-5]: 1

#3089 feat(dashboard): add change password form
  .changeset/tidy-camels-complain.md
  dashboard/src/components/layout/UnauthenticatedLayout/UnauthenticatedLayout.tsx
  dashboard/src/pages/password/new.tsx
  dashboard/src/pages/password/reset.tsx
  dashboard/src/pages/signin/email.tsx
Labels: dashboard, Review effort [1-5]: 3

#3096 fix (dashboard): fetch user roles locally in auth section
  .changeset/forty-knives-check.md
  dashboard/src/features/orgs/projects/authentication/users/components/EditUserForm/EditUserForm.tsx
  dashboard/src/features/orgs/projects/authentication/users/components/UsersBody/UsersBody.tsx
Labels: dashboard, Review effort [1-5]: 3

#3104 chore (dashboard): warn run volumes losing data on project pause
  .changeset/purple-trains-itch.md
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
Labels: dashboard, Review effort [1-5]: 2

#3107 fix (dashboard): remove compute resources erases postgres capacity
  .changeset/eighty-candles-tell.md
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ServiceResourcesFormFragment/ServiceResourcesFormFragment.tsx
  dashboard/src/features/orgs/projects/resources/settings/gql/getResources.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort [1-5]: 4

#3108 feat(hasura-auth-js): feat: add`initWithSession` to initialize auth client with existing session
  .changeset/flat-apes-shake.md
  .changeset/long-guests-sparkle.md
  examples/quickstarts/nextjs-server-components/package.json
  examples/quickstarts/nextjs-server-components/src/utils/nhost.ts
  packages/hasura-auth-js/src/hasura-auth-client.ts
  pnpm-lock.yaml
Labels: sdk, examples, Review effort [1-5]: 2
