Repository nhost/nhost, pull requests merged in 2024-03, with the labels that each got.

#2575 feat: dashboard: add healthcheck config to run services
  .changeset/spicy-plants-work.md
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/features/services/components/ServiceForm/components/HealthCheckFormSection/HealthCheckFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/HealthCheckFormSection/index.ts
  dashboard/src/gql/services/getRunServices.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, examples

#2577 fix: dashboard: refactor database datagrid to allow insert/update/delete for tables `auth` and `storage`
  .changeset/bright-rivers-judge.md
  dashboard/src/components/dataGrid/DataGridBody/DataGridBody.tsx
  dashboard/src/components/dataGrid/DataGridCell/DataGridCell.tsx
  dashboard/src/features/database/dataGrid/components/DataBrowserGrid/DataBrowserGrid.tsx
  dashboard/src/features/database/dataGrid/components/DataBrowserGridControls/DataBrowserGridControls.tsx
  dashboard/src/features/database/dataGrid/hooks/useDeleteRecordMutation/deleteRecord.ts
Labels: dashboard

#2576 feat: dashboard: add min postgres version check to enable the ai service
  .changeset/kind-chefs-unite.md
  dashboard/src/features/ai/settings/components/AISettings.tsx
  dashboard/src/features/ai/settings/gql/getAISettings.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2586 fix: set redirectTo in oauth examples
  .changeset/flat-apples-learn.md
  examples/react-apollo/nhost/nhost.toml
  examples/vue-apollo/nhost/nhost.toml
  examples/vue-apollo/src/components/OAuthLinks.vue
Labels: react, examples, vue

#2588 chore: fix release with missing changeset
  .changeset/flat-apples-learn.md
  examples/react-apollo/CHANGELOG.md
  examples/react-apollo/package.json
  examples/vue-apollo/CHANGELOG.md
  examples/vue-apollo/package.json
Labels: react, examples, vue

#2590 feat(examples): add reset password ticket expired workarounds in the examples
  .changeset/calm-bottles-do.md
  examples/react-apollo/nhost/emails/en/email-verify/body.html
  examples/react-apollo/nhost/emails/en/password-reset/body.html
  examples/react-apollo/nhost/emails/en/signin-passwordless/body.html
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/src/App.tsx
  examples/react-apollo/src/Verify.tsx
  examples/vue-apollo/nhost/emails/en/email-verify/body.html
  examples/vue-apollo/nhost/emails/en/password-reset/body.html
  examples/vue-apollo/nhost/nhost.toml
  examples/vue-apollo/src/pages/VerifyEmail.vue
  examples/vue-apollo/src/pages/sign-in/EmailPassword.vue
  examples/vue-apollo/src/pages/sign-in/ForgotPassword.vue
  examples/vue-apollo/src/routes.ts
Labels: react, examples, vue

#2594 feat (docs): added nhost run env documentation
  .changeset/kind-squids-smash.md
  docs/guides/run/local-development.mdx
Labels: documentation

#2596 doc(link): fix wrong links in documentation
  .changeset/rare-wasps-shout.md
  docs/guides/auth/sign-in-email-password.mdx
  docs/guides/auth/sign-in-magic-link.mdx
  docs/guides/auth/users.mdx
Labels: documentation

#2598 feat: dashboard: add update user displayName section in account settings
  .changeset/tender-maps-try.md
  dashboard/src/features/account/settings/components/DisplayNameSetting/DisplayNameSetting.tsx
  dashboard/src/features/account/settings/components/DisplayNameSetting/index.ts
  dashboard/src/features/account/settings/gql/updateUserDisplayName.gql
  dashboard/src/gql/app/settings/environmentVariables/getEnvironmentVariables.graphql
  dashboard/src/pages/account/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2601 fix: graphql-js: resolve process is undefined error when running with vitejs
  .changeset/four-apes-push.md
  .changeset/hip-clouds-hope.md
  .changeset/shiny-doors-collect.md
  dashboard/package.json
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/react-apollo/package.json
  examples/vue-apollo/src/pages/ProfilePage.vue
  integrations/stripe-graphql-js/src/server.ts
  packages/graphql-js/src/client.ts
  pnpm-lock.yaml
Labels: dashboard, sdk, react, examples, vue, integrations

#2604 fix(dashboard): set default value for healthCheck field validation
  .changeset/calm-cobras-warn.md
  dashboard/src/features/services/components/ServiceForm/ServiceFormTypes.ts
Labels: dashboard

#2608 feat (docs): added hasura's stringifyNumericTypes setting
  .changeset/pink-gorillas-beg.md
  docs/guides/api/configuring-hasura.mdx
Labels: documentation

#2611 chore: hasura-auth-js: upgrade `@simplewebauthn/browser` to `9.0.1`
  .changeset/flat-parrots-repair.md
  packages/hasura-auth-js/package.json
  pnpm-lock.yaml
Labels: sdk

#2564 chore (examples/docker-compose): clarification on greyed-out options in the dashboard when self-hosting
  .changeset/afraid-ducks-hang.md
  examples/docker-compose/README.md
Labels: examples

#2615 feat: react-apollo: add example of how to connect github to an existing account
  .changeset/breezy-nails-eat.md
  .changeset/funny-buttons-thank.md
  .changeset/gorgeous-paws-turn.md
  .changeset/two-cooks-end.md
  .changeset/witty-avocados-dance.md
  examples/react-apollo/nhost/metadata/databases/default/tables/auth_user_providers.yaml
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/src/generated.ts
  examples/react-apollo/src/profile/connect-socials.tsx
  examples/react-apollo/src/profile/index.tsx
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_user_providers.yaml
  examples/vue-apollo/src/pages/ProfilePage.vue
  package.json
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/types/client.ts
  packages/hasura-auth-js/src/types/hasura-auth/responses.ts
  packages/hasura-auth-js/src/types/options.ts
  packages/react/src/useProviderLink.ts
  packages/vue/src/useProviderLink.ts
  pnpm-lock.yaml
Labels: sdk, react, examples, vue

#2617 chore (examples/apollo): bump hasura-auth
  .changeset/tasty-ways-dress.md
  examples/react-apollo/nhost/nhost.toml
  package.json
  pnpm-lock.yaml
Labels: react, examples

#2616 feat: connect with github
  .changeset/hot-jars-call.md
  dashboard/src/features/account/settings/components/SocialProvidersSettings/SocialProvidersSettings.tsx
  dashboard/src/features/account/settings/components/SocialProvidersSettings/index.ts
  dashboard/src/features/account/settings/gql/getAuthUserProviders.gql
  dashboard/src/pages/account/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  examples/quickstarts/nextjs-server-components/.eslintrc.js
  examples/quickstarts/nextjs-server-components/src/middleware.ts
  examples/quickstarts/nextjs-server-components/src/utils/nhost.ts
  examples/vue-apollo/src/pages/ProfilePage.vue
Labels: dashboard, examples, vue

#2621 fix: await `unpauseApplication` promise
  .changeset/fluffy-houses-doubt.md
  dashboard/src/features/projects/common/components/ApplicationPaused/ApplicationPaused.tsx
  dashboard/src/features/projects/common/components/ChangePlanModal/ChangePlanModal.tsx
Labels: dashboard
