Repository nhost/nhost, pull requests merged in 2024-11, with the labels that each got.

#2986 chore: fix linter error
  dashboard/src/components/layout/Header/Header.tsx
Labels: dashboard

#2945 feat (dashboard): add spending warnings
  .changeset/hip-camels-build.md
  dashboard/package.json
  dashboard/src/components/ui/v3/accordion.tsx
  dashboard/src/components/ui/v3/input.tsx
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/BillingEstimate.tsx
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/BillingCycle/BillingCycle.tsx
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/BillingCycle/index.ts
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/BillingDetails/BillingDetails.tsx
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/BillingDetails/index.ts
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/Estimate/Estimate.tsx
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/Estimate/index.ts
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/SpendingNotifications/SpendingNotifications.tsx
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/SpendingNotifications/index.ts
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/index.ts
  dashboard/src/features/orgs/components/billing/components/SubscriptionPlan/SubscriptionPlan.tsx
  dashboard/src/features/orgs/components/billing/components/Usage/Usage.tsx
  dashboard/src/features/orgs/components/billing/components/Usage/index.ts
  dashboard/src/features/orgs/components/billing/utils/getBillingCycle.ts
  dashboard/src/gql/organizations/getOrganizationSpendingNotification.gql
  dashboard/src/gql/organizations/updateOrganizationSpendingNotification.gql
  dashboard/src/pages/orgs/[orgSlug]/billing.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/tailwind.config.js
  pnpm-lock.yaml
Labels: dashboard, Review effort [1-5]: 4

#2991 fix: disable ai settings under orgs
  .changeset/bright-clocks-brake.md
  dashboard/src/features/orgs/projects/ai/settings/components/DisableAIServiceConfirmationDialog/DisableAIServiceConfirmationDialog.tsx
Labels: dashboard

#2993 fix (dashboard): update link to CLI configuration overlays in connected repository banner
  .changeset/seven-teachers-count.md
  dashboard/src/components/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/features/orgs/layout/SettingsLayout/SettingsLayout.tsx
Labels: dashboard

#2996 fix: ensure stripe link modals are interact-able
  .changeset/few-impalas-deny.md
  dashboard/src/styles/globals.css
Labels: dashboard

#2997 feat (docs): add guide to metrics settings in dashboard
  .changeset/tall-books-jam.md
  docs/images/platform/metrics/alerting_dashboard.png
  docs/images/platform/metrics/contact_points_dashboard.png
  docs/images/platform/metrics/smtp_settings_dashboard.png
  docs/platform/metrics.mdx
Labels: documentation

#2998 feat (docs): add disable sign ups description
  .changeset/cool-eyes-yawn.md
  docs/guides/auth/overview.mdx
Labels: documentation

#3008 feat: improve notifications and announcements
  .changeset/two-bottles-provide.md
  dashboard/src/components/layout/Header/Header.tsx
  dashboard/src/components/ui/v3/button.tsx
  dashboard/src/features/orgs/components/members/components/AnnouncementsTray/AnnouncementsTray.tsx
  dashboard/src/features/orgs/components/members/components/NotificationsTray/NotificationsTray.tsx
  dashboard/src/features/orgs/projects/common/components/WorkspaceAndProjectList/WorkspaceAndProjectList.tsx
  dashboard/src/features/orgs/projects/common/components/WorkspaceAndProjectList/index.ts
  dashboard/src/features/orgs/projects/common/components/WorkspaceSidebar/Resource.tsx
  dashboard/src/features/orgs/projects/common/components/WorkspaceSidebar/WorkspaceSidebar.tsx
  dashboard/src/features/orgs/projects/common/components/WorkspaceSidebar/index.ts
  dashboard/src/features/projects/common/components/Announcements/Announcements.tsx
  dashboard/src/features/projects/common/components/Announcements/index.ts
  dashboard/src/features/projects/common/components/WorkspaceSidebar/WorkspaceSidebar.tsx
  dashboard/src/gql/platform/deleteAnnouncementRead.gql
  dashboard/src/gql/platform/getAnnouncements.gql
  dashboard/src/gql/platform/insertAnnouncementRead.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#3015 chore: docs: fix ✅ broken links 🔗 on database performance guide
  docs/guides/database/performance.mdx
Labels: documentation

#3014 feat: improve paused project state
  .changeset/stupid-weeks-impress.md
  dashboard/src/components/layout/Header/ProjectsComboBox.tsx
  dashboard/src/features/orgs/layout/ProjectLayout/ProjectLayout.tsx
  dashboard/src/features/orgs/projects/common/components/ApplicationPaused/ApplicationPaused.tsx
  dashboard/src/features/orgs/projects/common/components/ApplicationPausedBanner/ApplicationPausedBanner.tsx
  dashboard/src/features/orgs/projects/common/components/ApplicationPausedBanner/index.ts
  dashboard/src/features/orgs/projects/common/components/ApplicationPausedReason/ApplicationPausedReason.tsx
  dashboard/src/features/orgs/projects/common/components/ApplicationPausedReason/index.ts
  dashboard/src/features/orgs/projects/common/components/StagingMetadata/StagingMetadata.tsx
  dashboard/src/features/orgs/projects/common/hooks/useAppPausedReason/useAppPausedReason.ts
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseMigrateDisabledError/DatabaseMigrateDisabledError.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseServiceVersionSettings/DatabaseServiceVersionSettings.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
  package.json
  pnpm-lock.yaml
Labels: dashboard, Review effort [1-5]: 3

#3025 fix(templates/react-native): resolve dependency issue with `react-dom` in react-native example
  pnpm-lock.yaml
  templates/react-native/package.json
  templates/react-native/template/package.json
Labels: Review effort [1-5]: 1

#3029 chore: add changeset for audience, otp and jwt settings
  .changeset/bright-actors-camp.md
Labels: Review effort [1-5]: 1

#3034 fix (docs): added pg_repack and an extension overview to database guide
  .changeset/three-squids-march.md
  docs/guides/database/extensions.mdx
Labels: documentation, Review effort [1-5]: 2

#3028 fix(hasura-auth-js, nhost-js): use a unique `broadcastKey` per nhost client for synchronizing authentication state across browser tabs
  .changeset/poor-kangaroos-know.md
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/internal-client.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/types/client.ts
  packages/nhost-js/src/clients/auth.ts
  packages/nhost-js/src/clients/nhost.ts
  packages/nhost-js/src/utils/types.ts
Labels: sdk, Review effort [1-5]: 3

#3040 chore(ci): add deploy-dashboard workflow with environment options
  .github/workflows/deploy-dashboard.yaml
Labels: Review effort [1-5]: 2

#3042 fix (dashboard): correct billing estimate when amount due is zero
  .changeset/strange-poems-live.md
  dashboard/src/features/orgs/components/billing/components/BillingEstimate/components/Estimate/Estimate.tsx
Labels: dashboard, Review effort [1-5]: 1

#3044 chore: consolidate Vercel deployment steps into reusable workflow
  .github/workflows/changesets.yaml
  .github/workflows/deploy-dashboard.yaml
Labels: Review effort [1-5]: 2
