Repository nhost/nhost, pull requests merged in 2024-07, with the labels that each got.

#2774 chore(templates/react-native): fix ESLint configuration for react native template
  pnpm-lock.yaml
  templates/react-native/package.json
  templates/react-native/template/.eslintrc.js
  templates/react-native/template/babel.config.js
  templates/react-native/template/index.js
  templates/react-native/template/package.json
  templates/react-native/template/react-native.config.js
  templates/react-native/template/src/components/Button.tsx
  templates/react-native/template/src/components/ControlledInput.tsx
  templates/react-native/template/src/components/Drawer.tsx
  templates/react-native/template/src/components/SignInWithAppleButton.tsx
  templates/react-native/template/src/components/SignInWithGoogleButton.tsx
  templates/react-native/template/src/components/UploadFile.tsx
  templates/react-native/template/src/root.tsx
  templates/react-native/template/src/screens/Main.tsx
  templates/react-native/template/src/screens/Profile.tsx
  templates/react-native/template/src/screens/SignIn.tsx
  templates/react-native/template/src/screens/SignUp.tsx
  templates/react-native/template/src/screens/Storage.tsx
Labels: enhancement, dependencies, Bug fix, Review effort [1-5]: 3, Configuration changes

#2773 dashboard: chore: error toast message improvements
  dashboard/src/components/ui/v2/ErrorToast/ErrorToast.test.tsx
  dashboard/src/components/ui/v2/ErrorToast/ErrorToast.tsx
Labels: dashboard

#2784 chore: update pnpm/action-setup to v4
  .github/actions/install-dependencies/action.yaml
  package.json
Labels: enhancement, Review effort [1-5]: 2, Configuration changes

#2780 fix (dashboard): improve project health error handling, add poll interval
  .changeset/orange-peaches-itch.md
  dashboard/package.json
  dashboard/src/components/ui/v2/Badge/Badge.tsx
  dashboard/src/components/ui/v2/icons/QuestionMarkIcon/QuestionMarkIcon.tsx
  dashboard/src/components/ui/v2/icons/QuestionMarkIcon/index.ts
  dashboard/src/features/projects/common/hooks/useServiceStatus/index.ts
  dashboard/src/features/projects/common/hooks/useServiceStatus/useServiceStatus.ts
  dashboard/src/features/projects/common/hooks/useSoftwareVersionsInfo/index.ts
  dashboard/src/features/projects/common/hooks/useSoftwareVersionsInfo/useSoftwareVersionsInfo.ts
  dashboard/src/features/projects/overview/components/AccordionHealthBadge/AccordionHealthBadge.tsx
  dashboard/src/features/projects/overview/components/AccordionHealthBadge/index.ts
  dashboard/src/features/projects/overview/components/OverviewProjectHealth/OverviewProjectHealth.tsx
  dashboard/src/features/projects/overview/components/OverviewProjectHealthModal/OverviewProjectHealthModal.tsx
  dashboard/src/features/projects/overview/components/ProjectHealthBadge/ProjectHealthBadge.tsx
  dashboard/src/features/projects/overview/components/ProjectHealthBadge/index.ts
  dashboard/src/features/projects/overview/components/ProjectHealthCard/ProjectHealthCard.tsx
  dashboard/src/features/projects/overview/components/RunStatusTooltip/RunStatusTooltip.tsx
  dashboard/src/features/projects/overview/components/RunStatusTooltip/index.ts
  dashboard/src/features/projects/overview/components/ServiceAccordion/ServiceAccordion.tsx
  dashboard/src/features/projects/overview/components/ServiceAccordion/index.ts
  dashboard/src/features/projects/overview/health/health.ts
  pnpm-lock.yaml
Labels: dashboard

#2786 fix (dashboard): align dropdown items in select component
  .changeset/six-ways-call.md
  dashboard/src/components/form/CountrySelector/CountrySelector.tsx
  dashboard/src/features/ai/AssistantForm/components/ArgumentsFormSection/ArgumentsFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/PortsFormSection.tsx
Labels: dashboard

#2788 fix (dashboard): show city name in region selector for project creation
  .changeset/tame-apples-give.md
  dashboard/src/pages/new.tsx
Labels: dashboard

#2782 fix(react-apollo): add verify email button
  .changeset/gentle-brooms-flash.md
  examples/react-apollo/e2e/authenticated/change-email.test.ts
  examples/react-apollo/e2e/utils.ts
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/src/Verify.tsx
Labels: enhancement, react, examples, Bug fix, tests, Review effort [1-5]: 3, Configuration changes

#2783 feat: dashboard: add support for zendesk
  dashboard/.env.example
  dashboard/src/components/layout/Header/Header.tsx
  dashboard/src/components/ui/v2/icons/CommunityIcon/CommunityIcon.tsx
  dashboard/src/components/ui/v2/icons/CommunityIcon/index.ts
  dashboard/src/components/ui/v2/icons/DiscordIcon/DiscordIcon.tsx
  dashboard/src/components/ui/v2/icons/DiscordIcon/index.ts
  dashboard/src/components/ui/v2/icons/EnvelopeIcon/EnvelopeIcon.tsx
  dashboard/src/components/ui/v2/icons/EnvelopeIcon/index.ts
  dashboard/src/pages/support/index.tsx
  dashboard/src/pages/support/ticket.tsx
Labels: documentation, enhancement, dashboard, Review effort [1-5]: 4

#2792 fix (dashboard): don't show double scrollbar in configuration editor
  .changeset/stale-rocks-work.md
  dashboard/src/components/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/features/projects/common/components/settings/TOMLEditor/TOMLEditor.tsx
Labels: dashboard

#2790 fix(hasura-auth-js): refactor refreshTimer logic to avoid an infinite loop when refreshToken has expired
  .changeset/small-trees-approve.md
  packages/hasura-auth-js/src/machines/authentication/machine.ts
Labels: enhancement, sdk, Bug fix, Review effort [1-5]: 2

#2775 feat (dashboard): show contact us info when project is locked
  .changeset/nasty-fishes-remain.md
  dashboard/public/assets/LockedApp.svg
  dashboard/src/components/ui/v2/createTheme/createTheme.ts
  dashboard/src/components/ui/v2/icons/PowerOffIcon/PowerOffIcon.tsx
  dashboard/src/components/ui/v2/icons/PowerOffIcon/index.ts
  dashboard/src/components/ui/v2/theme/getDesignTokens/getDesignTokens.ts
  dashboard/src/features/projects/common/components/ApplicationLockedReason/ApplicationLockedReason.tsx
  dashboard/src/features/projects/common/components/ApplicationLockedReason/index.ts
  dashboard/src/features/projects/common/components/ApplicationPaused/ApplicationPaused.tsx
  dashboard/src/features/projects/common/components/ApplicationPausedReason/ApplicationPausedReason.tsx
  dashboard/src/features/projects/common/components/ApplicationPausedReason/index.ts
  dashboard/src/features/projects/common/components/ApplicationPausedSymbol/ApplicationPausedSymbol.tsx
  dashboard/src/features/projects/common/components/ApplicationPausedSymbol/index.ts
  dashboard/src/features/projects/common/hooks/useAppPausedReason/index.ts
  dashboard/src/features/projects/common/hooks/useAppPausedReason/useAppPausedReason.ts
  dashboard/src/gql/app/getProjectIsLocked.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2795 chore (dashboard): locked project contact support redirect
  .changeset/honest-humans-explode.md
  dashboard/src/features/projects/common/components/ApplicationLockedReason/ApplicationLockedReason.tsx
Labels: dashboard

#2800 fix: use current project subdomain in ServiceDetailsDialog component
  .changeset/long-plums-shave.md
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/components/ServiceDetailsDialog/ServiceDetailsDialog.tsx
Labels: enhancement, dashboard, Bug fix, Review effort [1-5]: 2

#2802 fix(dashboard): use service subdomain in service form and service details dialog
  .changeset/clever-hats-roll.md
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/components/PortsFormSection/PortsFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/components/ServiceDetailsDialog/ServiceDetailsDialog.tsx
Labels: enhancement, dashboard, Bug fix, Review effort [1-5]: 2

#2757 dashboard: fix: type custom row permissions autocomplete
  .changeset/warm-bulldogs-search.md
  dashboard/src/features/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.tsx
Labels: dashboard

#2810 chore: add "vue-template-compiler" to allowlist in audit-ci.jsonc
  audit-ci.jsonc
Labels: enhancement, Review effort [1-5]: 1
