Repository nhost/nhost, pull requests merged in 2024-04, with the labels that each got.

#2626 fix: dashboard: SQL editor "track this"
  .changeset/lovely-months-train.md
  dashboard/src/features/database/dataGrid/hooks/useRunSQL/useRunSQL.ts
  package.json
  pnpm-lock.yaml
Labels: dashboard

#2630 chore (docs): added hasura's authHook settings
  .changeset/serious-actors-help.md
  docs/guides/api/configuring-hasura.mdx
Labels: documentation

#2610 feat: dashboard: restrict signup/signin to verified emails only
  .changeset/poor-adults-unite.md
  dashboard/src/pages/email/verify.tsx
  dashboard/src/pages/signin/email.tsx
  dashboard/src/pages/signup.tsx
Labels: dashboard

#2632 chore: update docs with provider connect
  .changeset/light-wolves-fail.md
  docs/mint.json
  docs/reference/javascript/auth/02-activate-mfa-promise.mdx
  docs/reference/javascript/auth/02-add-security-key-promise.mdx
  docs/reference/javascript/auth/02-change-email-promise.mdx
  docs/reference/javascript/auth/02-change-password-promise.mdx
  docs/reference/javascript/auth/02-create-auth-machine.mdx
  docs/reference/javascript/auth/02-create-change-email-machine.mdx
  docs/reference/javascript/auth/02-create-change-password-machine.mdx
  docs/reference/javascript/auth/02-create-enable-mfa-machine.mdx
  docs/reference/javascript/auth/02-create-reset-password-machine.mdx
  docs/reference/javascript/auth/02-create-send-verification-email-machine.mdx
  docs/reference/javascript/auth/02-encode-query-parameters.mdx
  docs/reference/javascript/auth/02-generate-qr-code-promise.mdx
  docs/reference/javascript/auth/02-get-authentication-result.mdx
  docs/reference/javascript/auth/02-get-fetch.mdx
  docs/reference/javascript/auth/02-get-parameter-by-name.mdx
  docs/reference/javascript/auth/02-get-session.mdx
  docs/reference/javascript/auth/02-is-browser.mdx
  docs/reference/javascript/auth/02-is-valid-email.mdx
  docs/reference/javascript/auth/02-is-valid-password.mdx
  docs/reference/javascript/auth/02-is-valid-phone-number.mdx
  docs/reference/javascript/auth/02-is-valid-ticket.mdx
  docs/reference/javascript/auth/02-local-storage-getter.mdx
  docs/reference/javascript/auth/02-local-storage-setter.mdx
  docs/reference/javascript/auth/02-post-fetch.mdx
  docs/reference/javascript/auth/02-remove-parameter-from-window.mdx
  docs/reference/javascript/auth/02-reset-password-promise.mdx
  docs/reference/javascript/auth/02-rewrite-redirect-to.mdx
  docs/reference/javascript/auth/02-send-verification-email-promise.mdx
  docs/reference/javascript/auth/02-sign-in-anonymous-promise.mdx
  docs/reference/javascript/auth/02-sign-in-email-password-promise.mdx
  docs/reference/javascript/auth/02-sign-in-email-passwordless-promise.mdx
  docs/reference/javascript/auth/02-sign-in-email-security-key-promise.mdx
  docs/reference/javascript/auth/02-sign-in-mfa-totp-promise.mdx
  docs/reference/javascript/auth/02-sign-in-pat-promise.mdx
  docs/reference/javascript/auth/02-sign-in-sms-passwordless-otp-promise.mdx
  docs/reference/javascript/auth/02-sign-in-sms-passwordless-promise.mdx
  docs/reference/javascript/auth/02-sign-out-promise.mdx
  docs/reference/javascript/auth/02-sign-up-email-password-promise.mdx
  docs/reference/javascript/auth/02-sign-up-email-security-key-promise.mdx
  docs/reference/javascript/auth/auth-cookie-client.mdx
  docs/reference/javascript/auth/connect-provider.mdx
  docs/reference/javascript/auth/get-hasura-claim.mdx
  docs/reference/javascript/auth/get-session.mdx
  docs/reference/javascript/auth/hasura-auth-client.mdx
  docs/reference/javascript/auth/refresh-session.mdx
  docs/reference/javascript/auth/types/common-provider-options.mdx
  docs/reference/javascript/auth/types/jwt-claims.mdx
  docs/reference/javascript/auth/types/jwt-hasura-claims.mdx
  docs/reference/javascript/auth/types/provider-options.mdx
  docs/reference/javascript/auth/types/work-os-options.mdx
  docs/reference/react/use-provider-link.mdx
  docs/reference/vue/use-provider-link.mdx
  packages/react/src/useProviderLink.ts
  packages/vue/src/useProviderLink.ts
Labels: documentation, sdk, react, vue

#2633 feat (docs): added social connect docs
  .changeset/gorgeous-peaches-fold.md
  docs/guides/auth/social-connect.mdx
  docs/images/guides/auth/social-connect-permissions.png
  docs/mint.json
Labels: documentation

#2637 fix: hasura-auth-js: use RFC3339 format for `expiresAt` when creating a PAT
  .changeset/witty-oranges-brake.md
  packages/hasura-auth-js/src/promises/createPAT.ts
Labels: sdk

#2622 fix: dashboard: use service urls when running locally with the cli
  .changeset/moody-cups-punch.md
  dashboard/src/utils/nhost/nhost.ts
Labels: dashboard

#2639 fix: send email upon signin for unverified users
  .changeset/sixty-eggs-tickle.md
  dashboard/src/pages/signin/email.tsx
Labels: dashboard

#2636 feat (docs): added postmark native integration
  .changeset/wicked-avocados-melt.md
  docs/guides/auth/email-templates.mdx
Labels: documentation

#2653 feat (docs/observability): added docs and observability dashboard for "advanced graphql"
  .changeset/late-wasps-prove.md
  docs/guides/api/advanced_features.mdx
  docs/images/guides/graphql/logs.png
  docs/images/guides/graphql/observability.png
  docs/mint.json
  observability/dashboards/graphql.json
Labels: documentation

#2654 chore: update `@google-cloud/translate` to `8.2.0`
  integrations/google-translation/package.json
  pnpm-lock.yaml
Labels: integrations

#2612 feat: dashboard: add email field to account settings
  .changeset/wet-shoes-argue.md
  dashboard/src/features/account/settings/components/EmailSetting/EmailSetting.tsx
  dashboard/src/features/account/settings/components/EmailSetting/index.ts
  dashboard/src/pages/account/index.tsx
Labels: dashboard

#2662 fix (docs): update AI docs for 0.5.0
  .changeset/red-cows-listen.md
  docs/guides/ai/auto-embeddings.mdx
  docs/images/guides/ai/auto-embeddings/auto-embedding.png
Labels: documentation

#2663 fix (docs): update permissions page to indicate we use jsonpath
  .changeset/spicy-swans-own.md
  docs/guides/api/permissions.mdx
Labels: documentation

#2666 fix: dashboard: fix `isPlatform` check when opening run services form
  .changeset/tall-snakes-burn.md
  dashboard/src/pages/[workspaceSlug]/[appSlug]/services/index.tsx
Labels: dashboard

#2669 fix: dashboard: use config server url from env variable
  .changeset/short-months-reflect.md
  dashboard/Dockerfile
  dashboard/docker-entrypoint.sh
  dashboard/src/hooks/useLocalMimirClient/useLocalMimirClient.ts
  dashboard/src/utils/env/env.ts
  examples/docker-compose/docker-compose.yaml
Labels: dashboard, examples

#2671 fix: dashboard: check for undefined router query on Safari when accessing base64config
  .changeset/twenty-dragons-accept.md
  dashboard/src/pages/run-one-click-install.tsx
Labels: dashboard

#2673 fix: dashboard: include password in `GetSmtpSettings` query
  .changeset/ten-ladybugs-exist.md
  dashboard/src/gql/app/settings/smtp/getSmtpSettings.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/smtp/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2674 fix: dashboard: update graphql auto-embeddings configuration to use String type for model field
  .changeset/violet-swans-peel.md
  dashboard/src/gql/graphite/auto-embeddings/insertGraphiteAutoEmbeddingsConfiguration.gql
  dashboard/src/gql/graphite/auto-embeddings/updateGraphiteAutoEmbeddingsConfiguration.gql
  dashboard/src/utils/__generated__/graphite.graphql.ts
Labels: dashboard

#2679 fix (docs): update docs performance info
  .changeset/swift-jobs-add.md
  docs/platform/compute-resources.mdx
Labels: documentation

#2678 feat (dashboard): allow configuring postmark and deleting SMTP settings
  .changeset/thick-walls-smell.md
  dashboard/src/features/authentication/settings/components/DeleteSMTPSettings/DeleteSMTPSettings.tsx
  dashboard/src/features/authentication/settings/components/DeleteSMTPSettings/index.ts
  dashboard/src/features/authentication/settings/components/PostmarkSettings/PostmarkSettings.tsx
  dashboard/src/features/authentication/settings/components/PostmarkSettings/index.ts
  dashboard/src/features/authentication/settings/components/SMTPSettings/SMTPSettings.tsx
  dashboard/src/features/authentication/settings/components/SMTPSettings/index.ts
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/smtp/index.tsx
Labels: dashboard
