Repository nhost/nhost, pull requests merged in 2024-08, with the labels that each got.

#2806 chore: add e2e tests for run and ai pages
  .github/workflows/ci.yaml
  dashboard/e2e/account/pat/manage-pat.test.ts
  dashboard/e2e/ai/assistants.test.ts
  dashboard/e2e/ai/auto-embeddings.test.ts
  dashboard/e2e/env.ts
  dashboard/e2e/run/run.test.ts
  dashboard/global-teardown.ts
  dashboard/src/pages/[workspaceSlug]/[appSlug]/services/index.tsx
  package.json
  pnpm-lock.yaml
Labels: enhancement, dashboard, dependencies, Bug fix, tests, Review effort [1-5]: 3, Configuration changes

#2796 feat (dashboard): UI for postgres migration
  .changeset/old-years-return.md
  dashboard/src/components/layout/Header/Header.tsx
  dashboard/src/components/layout/SettingsContainer/SettingsContainer.tsx
  dashboard/src/components/ui/v2/icons/RepeatIcon/RepeatIcon.tsx
  dashboard/src/components/ui/v2/icons/RepeatIcon/index.ts
  dashboard/src/features/database/common/hooks/useEstimatedDatabaseMigrationDowntime/index.ts
  dashboard/src/features/database/common/hooks/useEstimatedDatabaseMigrationDowntime/useEstimatedDatabaseMigrationDowntime.ts
  dashboard/src/features/database/common/hooks/useGetPostgresVersion/index.ts
  dashboard/src/features/database/common/hooks/useGetPostgresVersion/useGetPostgresVersion.ts
  dashboard/src/features/database/common/hooks/useIsDatabaseMigrating/index.ts
  dashboard/src/features/database/common/hooks/useIsDatabaseMigrating/useIsDatabaseMigrating.ts
  dashboard/src/features/database/common/hooks/useMigrationLogs/index.ts
  dashboard/src/features/database/common/hooks/useMigrationLogs/useMigrationLogs.ts
  dashboard/src/features/database/settings/components/DatabaseMigrateDisabledError/DatabaseMigrateDisabledError.tsx
  dashboard/src/features/database/settings/components/DatabaseMigrateDisabledError/index.ts
  dashboard/src/features/database/settings/components/DatabaseMigrateDowntimeWarning/DatabaseMigrateDowntimeWarning.tsx
  dashboard/src/features/database/settings/components/DatabaseMigrateDowntimeWarning/index.ts
  dashboard/src/features/database/settings/components/DatabaseMigrateLogsModal/DatabaseMigrateLogsModal.tsx
  dashboard/src/features/database/settings/components/DatabaseMigrateLogsModal/index.ts
  dashboard/src/features/database/settings/components/DatabaseMigrateVersionConfirmationDialog/DatabaseMigrateVersionConfirmationDialog.tsx
  dashboard/src/features/database/settings/components/DatabaseMigrateVersionConfirmationDialog/index.ts
  dashboard/src/features/database/settings/components/DatabaseServiceVersionSettings/DatabaseServiceVersionSettings.tsx
  dashboard/src/features/database/settings/components/DatabaseUpdateInProgressWarning/DatabaseUpdateInProgressWarning.tsx
  dashboard/src/features/database/settings/components/DatabaseUpdateInProgressWarning/index.ts
  dashboard/src/features/projects/common/hooks/useNavigationVisible/useNavigationVisible.ts
  dashboard/src/gql/app/settings/updateDatabaseVersion.graphql
  dashboard/src/gql/logs/getSystemLogs.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2823 feat (docs): added postgres upgrade docs
  .changeset/two-gorillas-mix.md
  docs/guides/database/upgrade-major.mdx
  docs/images/guides/database/upgrade_01.png
  docs/images/guides/database/upgrade_02.png
  docs/images/guides/database/upgrade_03.png
  docs/mint.json
Labels: documentation

#2828 fix: eval vulnerabilities
  audit-ci.jsonc
  package.json
  pnpm-lock.yaml
Labels: enhancement, dependencies, Review effort [1-5]: 2

#2827 chore (dashboard): update pricing information
  .changeset/gorgeous-peaches-matter.md
  dashboard/src/features/projects/common/components/ChangePlanModal/ChangePlanModal.tsx
  dashboard/src/features/projects/common/utils/planDescriptions/planDescriptions.ts
Labels: dashboard

#2820 feat (docs): added subdomain/region information
  .changeset/shaggy-cameras-melt.md
  docs/guides/cli/connect-devices-to-local-nhost-project.mdx
  docs/guides/cli/subdomain.mdx
  docs/images/platform/subdomain.png
  docs/mint.json
  docs/platform/subdomain.mdx
  docs/reference/javascript/nhost-js/nhost-client.mdx
Labels: documentation

#2835 fix(hasura-auth-js): transition to the `signedOut` state when the token is invalid or expired
  .changeset/silent-lies-smoke.md
  audit-ci.jsonc
  dashboard/global-teardown.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/machines/authentication/machine.typegen.ts
  packages/hasura-auth-js/tests/refreshToken.test.ts
Labels: enhancement, dashboard, sdk, Bug fix, tests, Review effort [1-5]: 3

#2838 fix (dashboard): not allow run service creation form resubmission while creating a run service
  .changeset/nasty-vans-talk.md
  dashboard/src/features/services/components/ServiceForm/components/ServiceConfirmationDialog/ServiceConfirmationDialog.tsx
Labels: dashboard

#2832 feat (dashboard): change rate limits from dashboard
  .changeset/shy-carrots-yawn.md
  dashboard/src/components/layout/SettingsSidebar/SettingsSidebar.tsx
  dashboard/src/features/projects/rate-limiting/settings/components/AuthLimitingForm/AuthLimitingForm.tsx
  dashboard/src/features/projects/rate-limiting/settings/components/AuthLimitingForm/index.ts
  dashboard/src/features/projects/rate-limiting/settings/components/RateLimitField/RateLimitField.tsx
  dashboard/src/features/projects/rate-limiting/settings/components/RateLimitField/index.ts
  dashboard/src/features/projects/rate-limiting/settings/components/RateLimitingForm/RateLimitingForm.tsx
  dashboard/src/features/projects/rate-limiting/settings/components/RateLimitingForm/index.ts
  dashboard/src/features/projects/rate-limiting/settings/components/RunServiceLimitingForm/RunServiceLimitingForm.tsx
  dashboard/src/features/projects/rate-limiting/settings/components/RunServiceLimitingForm/index.ts
  dashboard/src/features/projects/rate-limiting/settings/components/validationSchemas.ts
  dashboard/src/features/projects/rate-limiting/settings/hooks/useGetRateLimits/index.ts
  dashboard/src/features/projects/rate-limiting/settings/hooks/useGetRateLimits/useGetRateLimits.ts
  dashboard/src/features/projects/rate-limiting/settings/hooks/useGetRunServiceRateLimits/index.ts
  dashboard/src/features/projects/rate-limiting/settings/hooks/useGetRunServiceRateLimits/useGetRunServiceRateLimits.ts
  dashboard/src/features/projects/rate-limiting/settings/utils/constants/constants.ts
  dashboard/src/features/projects/rate-limiting/settings/utils/constants/index.ts
  dashboard/src/features/projects/rate-limiting/settings/utils/parseIntervalNameUnit/index.ts
  dashboard/src/features/projects/rate-limiting/settings/utils/parseIntervalNameUnit/parseIntervalNameUnit.ts
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/features/services/components/ServicesList/ServicesList.tsx
  dashboard/src/gql/app/settings/rate-limiting/getRateLimitConfig.gql
  dashboard/src/gql/app/settings/rate-limiting/updateRateLimitConfig.gql
  dashboard/src/gql/services/getRunServices.graphql
  dashboard/src/gql/services/getRunServicesRateLimit.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/rate-limiting/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2843 feat (docs): run: added a guide on using a private registry
  .changeset/chilled-bees-tap.md
  docs/guides/run/registry.mdx
  docs/images/guides/run/registry_8.png
Labels: documentation

#2812 feat (docs): added docs about rate-limits
  .changeset/seven-worms-pull.md
  docs/images/platform/rate-limiting/auth.png
  docs/images/platform/rate-limiting/misc.png
  docs/mint.json
  docs/platform/rate-limits.mdx
Labels: documentation
