Repository nhost/nhost, pull requests merged in 2024-02, with the labels that each got.

#2510 chore: update nodemailer
  .changeset/six-eggs-tie.md
  examples/serverless-functions/package.json
  pnpm-lock.yaml
Labels: examples

#2468 doc: fix method name in example code at `refresh-session.mdx` doc page
  docs/reference/javascript/auth/refresh-session.mdx
Labels: documentation

#2507 feat: hasura-storage-js: add authenticated download of files
  .changeset/spicy-ducks-dress.md
  docs/mint.json
  docs/reference/javascript/storage/02-create-file-upload-machine.mdx
  docs/reference/javascript/storage/02-create-multiple-files-upload-machine.mdx
  docs/reference/javascript/storage/02-upload-file-promise.mdx
  docs/reference/javascript/storage/02-upload-multiple-files-promise.mdx
  docs/reference/javascript/storage/download.mdx
  docs/reference/javascript/storage/types/storage-download-file-params.mdx
  docs/reference/javascript/storage/types/storage-download-file-response.mdx
  examples/quickstarts/nextjs-server-components/src/components/input.tsx
  examples/quickstarts/nextjs-server-components/src/components/submit-button.tsx
  examples/quickstarts/nextjs-server-components/src/components/todo-item.tsx
  examples/quickstarts/nhost-backend/nhost/metadata/databases/default/tables/storage_files.yaml
  examples/quickstarts/nhost-backend/nhost/nhost.toml
  packages/hasura-storage-js/src/hasura-storage-api.ts
  packages/hasura-storage-js/src/hasura-storage-client.ts
  packages/hasura-storage-js/src/utils/types.ts
Labels: documentation, sdk, examples

#2500 feat: add elevate func to the SDKs and the react-apollo example project
  .changeset/eleven-experts-rule.md
  examples/react-apollo/graphql.config.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/public_notes.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/tables.yaml
  examples/react-apollo/nhost/migrations/default/1706611614371_create_table_public_notes/down.sql
  examples/react-apollo/nhost/migrations/default/1706611614371_create_table_public_notes/up.sql
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/pnpm-lock.yaml
  examples/react-apollo/src/App.tsx
  examples/react-apollo/src/components/NavBar.tsx
  examples/react-apollo/src/components/auth-gates.tsx
  examples/react-apollo/src/components/notes/index.tsx
  examples/react-apollo/src/generated.ts
  examples/vue-apollo/nhost/metadata/backend_configs.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_provider_requests.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_providers.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_refresh_token_types.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_refresh_tokens.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_roles.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_user_providers.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_user_roles.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_user_security_keys.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_users.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/public_notes.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/tables.yaml
  examples/vue-apollo/nhost/metadata/metrics_config.yaml
  examples/vue-apollo/nhost/metadata/opentelemetry.yaml
  examples/vue-apollo/nhost/migrations/default/1706824985181_create_table_public_notes/down.sql
  examples/vue-apollo/nhost/migrations/default/1706824985181_create_table_public_notes/up.sql
  examples/vue-apollo/nhost/nhost.toml
  examples/vue-apollo/pnpm-lock.yaml
  examples/vue-apollo/src/components/NavBar.vue
  examples/vue-apollo/src/pages/SecretNotesPage.vue
  examples/vue-apollo/src/pages/sign-in/CommonActions.vue
  examples/vue-apollo/src/pages/sign-in/SecurityKey.vue
  examples/vue-apollo/src/pages/sign-up/CommonActions.vue
  examples/vue-apollo/src/pages/sign-up/SecurityKey.vue
  examples/vue-apollo/src/routes.ts
  examples/vue-apollo/tsconfig.json
  packages/hasura-auth-js/nhost/nhost.toml
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/machines/index.typegen.ts
  packages/hasura-auth-js/src/promises/elevateEmailSecurityKey.ts
  packages/hasura-auth-js/src/promises/index.ts
  packages/hasura-auth-js/src/types/hasura-auth/common.ts
  packages/react/src/index.ts
  packages/react/src/useElevateSecurityKeyEmail.ts
  packages/vue/src/index.ts
  packages/vue/src/useElevateSecurityKeyEmail.ts
  packages/vue/src/useSignInEmailSecurityKey.ts
  packages/vue/src/useSignUpEmailSecurityKey.ts
  pnpm-lock.yaml
Labels: dashboard, sdk, react, examples, vue

#2512 fix(examples): revert back auth version to `0.24.1`
  examples/react-apollo/nhost/nhost.toml
  examples/vue-apollo/nhost/nhost.toml
Labels: react, examples, vue

#2505 chore: update dependencies
  .changeset/spicy-cars-wave.md
  .github/workflows/gen_schedule_update_deps.yaml
  dashboard/package.json
  docs/package.json
  examples/cli/package.json
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/multi-tenant-one-to-many/package.json
  examples/nextjs/package.json
  examples/node-storage/package.json
  examples/quickstarts/nextjs-server-components/next.config.js
  examples/quickstarts/nextjs-server-components/package.json
  examples/quickstarts/sveltekit/package.json
  examples/react-apollo/package.json
  examples/react-gqty/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  flake.lock
  flake.nix
  integrations/apollo/package.json
  integrations/google-translation/package.json
  integrations/react-apollo/package.json
  integrations/react-urql/package.json
  integrations/stripe-graphql-js/package.json
  nix/nhost-cli.nix
  nix/overlay.nix
  package.json
  packages/docgen/package.json
  packages/hasura-storage-js/package.json
  packages/nextjs/package.json
  packages/react/package.json
  packages/sync-versions/package.json
  packages/vue/package.json
  pnpm-lock.yaml
Labels: documentation, dashboard, sdk, nextjs, react, examples, vue, integrations

#2516 fix (dashboard): added discord.com to connect-src
  .changeset/cuddly-pumas-reflect.md
  dashboard/next.config.js
Labels: dashboard

#2506 fix (docs): indicate that custom domains for postgres doesn't require configuration
  .changeset/swift-fishes-scream.md
  docs/platform/custom-domains.mdx
Labels: documentation

#2475 fix: docs: remove auth method
  .changeset/polite-countries-dream.md
  docs/reference/openapi-auth.yaml
Labels: documentation

#2532 fix(dashboard): resolve change plan modal cache issue
  .changeset/friendly-kiwis-stare.md
  dashboard/next.config.js
  dashboard/package.json
  dashboard/src/features/projects/common/components/ChangePlanModal/ChangePlanModal.tsx
  examples/codegen-react-apollo/package.json
  examples/nextjs/package.json
  examples/quickstarts/nextjs-server-components/package.json
  examples/react-apollo/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  integrations/apollo/package.json
  integrations/react-apollo/package.json
  pnpm-lock.yaml
Labels: dashboard, nextjs, react, examples, vue, integrations

#2535 fix: fix headers sent with getPresignedUrl
  .changeset/afraid-drinks-jog.md
  packages/hasura-storage-js/src/hasura-storage-api.ts
Labels: sdk

#2521 feat: add elevate workflow to react-apollo and vue-apollo example projects
  .changeset/moody-avocados-grow.md
  examples/react-apollo/nhost/metadata/databases/default/tables/auth_user_security_keys.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/storage_virus.yaml
  examples/react-apollo/nhost/metadata/databases/default/tables/tables.yaml
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/src/components/NavBar.tsx
  examples/react-apollo/src/components/notes/index.tsx
  examples/react-apollo/src/profile/change-email.tsx
  examples/react-apollo/src/profile/change-password.tsx
  examples/react-apollo/src/profile/mfa.tsx
  examples/react-apollo/src/profile/security-keys.tsx
  examples/react-apollo/src/utils/index.ts
  examples/react-apollo/src/utils/security-keys.ts
  examples/react-apollo/vite.config.js
  examples/vue-apollo/nhost/metadata/databases/default/tables/auth_user_security_keys.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/storage_virus.yaml
  examples/vue-apollo/nhost/metadata/databases/default/tables/tables.yaml
  examples/vue-apollo/nhost/nhost.toml
  examples/vue-apollo/src/components/NavBar.vue
  examples/vue-apollo/src/pages/ProfilePage.vue
  examples/vue-apollo/src/pages/SecretNotesPage.vue
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/promises/elevateEmailSecurityKey.ts
  packages/react/src/useElevateSecurityKeyEmail.ts
  packages/vue/src/index.ts
  packages/vue/src/useAddSecurityKey.ts
  packages/vue/src/useElevateSecurityKeyEmail.ts
Labels: sdk, react, examples, vue

#2539 chore: docs: added a note about disk performance and CDN information
  .changeset/strong-carpets-push.md
  docs/guides/database/configuring-postgres.mdx
  docs/guides/database/performance.mdx
  docs/guides/storage/cdn.mdx
  docs/mint.json
  docs/platform/compute-resources.mdx
  docs/product/storage.mdx
Labels: documentation

#2397 Update docker-compose and .env-example
  .changeset/tall-suns-hunt.md
  examples/docker-compose/.env.example
  examples/docker-compose/docker-compose.yaml
  examples/docker-compose/functions/pnpm-lock.yaml
Labels: examples

#2543 chore: update docs and fix dashboard references
  .changeset/itchy-roses-add.md
  dashboard/src/features/authentication/settings/components/AllowedEmailSettings/AllowedEmailSettings.tsx
  dashboard/src/features/authentication/settings/components/AllowedRedirectURLsSettings/AllowedRedirectURLsSettings.tsx
  dashboard/src/features/authentication/settings/components/AppleProviderSettings/AppleProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/BlockedEmailSettings/BlockedEmailSettings.tsx
  dashboard/src/features/authentication/settings/components/ClientURLSettings/ClientURLSettings.tsx
  dashboard/src/features/authentication/settings/components/DisableNewUsersSettings/DisableNewUsersSettings.tsx
  dashboard/src/features/authentication/settings/components/DiscordProviderSettings/DiscordProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/EmailAndPasswordSettings/EmailAndPasswordSettings.tsx
  dashboard/src/features/authentication/settings/components/FacebookProviderSettings/FacebookProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/GitHubProviderSettings/GitHubProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/GoogleProviderSettings/GoogleProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/GravatarSettings/GravatarSettings.tsx
  dashboard/src/features/authentication/settings/components/LinkedInProviderSettings/LinkedInProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/MFASettings/MFASettings.tsx
  dashboard/src/features/authentication/settings/components/MagicLinkSettings/MagicLinkSettings.tsx
  dashboard/src/features/authentication/settings/components/SMSSettings/SMSSettings.tsx
  dashboard/src/features/authentication/settings/components/SpotifyProviderSettings/SpotifyProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/TwitchProviderSettings/TwitchProviderSettings.tsx
  dashboard/src/features/authentication/settings/components/WebAuthnSettings/WebAuthnSettings.tsx
  dashboard/src/features/authentication/settings/components/WorkOsProviderSettings/WorkOsProviderSettings.tsx
  dashboard/src/features/projects/permissions/settings/components/PermissionVariableSettings/PermissionVariableSettings.tsx
  dashboard/src/features/projects/resources/settings/components/ResourcesForm/ResourcesFormFooter.tsx
  dashboard/src/features/projects/roles/settings/components/RoleSettings/RoleSettings.tsx
  docs/guides/auth/overview.mdx
  docs/guides/auth/users.mdx
  docs/mint.json
  docs/platform/environment-variables.mdx
Labels: documentation, dashboard

#2546 fix: refactor DataGridHeader component to allow for selecting all rows
  .changeset/wicked-badgers-sniff.md
  dashboard/src/components/dataGrid/DataGridHeader/DataGridHeader.tsx
Labels: dashboard

#2548 fix(dashboard): handle `Error` alongside `ApolloError` properly in the `ErrorToast` component
  .changeset/fluffy-apples-prove.md
  dashboard/src/components/ui/v2/ErrorToast/ErrorToast.tsx
Labels: dashboard

#2549 fix(dashboard): refresh table list after running a SQL stmt using the editor
  .changeset/blue-camels-train.md
  dashboard/src/features/database/dataGrid/hooks/useRunSQL/useRunSQL.ts
Labels: dashboard

#2550 fix(hasura-auth-js): use `jose` instead of `jwt-decode` to decode the accessToken and get the Hasura claims
  .changeset/poor-panthers-shout.md
  packages/hasura-auth-js/package.json
  packages/hasura-auth-js/src/hasura-auth-client.ts
  pnpm-lock.yaml
Labels: sdk

#2533 fix: JWT expired bug
  .changeset/thirty-news-camp.md
  dashboard/src/tests/testUtils.tsx
  examples/docker-compose/docker-compose.yaml
  examples/docker-compose/test/docker-compose.test.ts
  integrations/apollo/package.json
  integrations/apollo/src/index.ts
  packages/graphql-js/package.json
  packages/graphql-js/src/client.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  pnpm-lock.yaml
Labels: dashboard, sdk, examples, integrations

#2545 feat: dashboard: add catch-all route
  .changeset/gold-hornets-sneeze.md
  dashboard/src/pages/_/_/[...slug].tsx
Labels: dashboard

#2553 fix (examples/docker-compose): timers
  .changeset/five-humans-cry.md
  examples/docker-compose/docker-compose.yaml
Labels: examples

#2555 fix(graphql-js): allow graphql requests with no access token
  .changeset/stupid-olives-kick.md
  packages/graphql-js/src/client.ts
Labels: sdk

#2558 fix: docs run references
  .changeset/chilled-elephants-approve.md
  docs/guides/ai/local-development.mdx
  docs/guides/run/configuration.mdx
  docs/guides/run/getting-started.mdx
  docs/guides/run/resources.mdx
Labels: documentation

#2567 fix(dashboard): show correct message when sending invite fails
  .changeset/orange-singers-guess.md
  dashboard/src/components/ui/v2/ErrorToast/ErrorToast.tsx
  dashboard/src/features/projects/workspaces/components/WorkspaceMembers/WorkspaceMembers.tsx
  dashboard/src/utils/execPromiseWithErrorToast/execPromiseWithErrorToast.tsx
Labels: dashboard

#2570 fix: sdk: graphql-js: replace `jwt-decode` with `jose` to decode access tokens in both node and the browser
  .changeset/fuzzy-weeks-refuse.md
  packages/graphql-js/package.json
  packages/graphql-js/src/client.ts
  pnpm-lock.yaml
Labels: sdk

#2552 feat(dashboard): query services list from be and filter the logs using a regex
  .changeset/lovely-monkeys-argue.md
  dashboard/next.config.js
  dashboard/package.json
  dashboard/src/features/projects/logs/components/LogsBody/LogsBody.tsx
  dashboard/src/features/projects/logs/components/LogsDatePicker/LogsDatePicker.tsx
  dashboard/src/features/projects/logs/components/LogsHeader/LogsHeader.tsx
  dashboard/src/features/projects/logs/components/LogsHeader/index.ts
  dashboard/src/features/projects/logs/components/LogsRangeSelector/LogsRangeSelector.tsx
  dashboard/src/features/projects/logs/components/LogsRangeSelector/index.ts
  dashboard/src/features/projects/logs/components/LogsTimePicker/LogsTimePicker.tsx
  dashboard/src/features/projects/logs/utils/constants/intervals/intervals.ts
  dashboard/src/gql/logs/getProjectLogs.gql
  dashboard/src/gql/logs/getServiceLabelValues.gql
  dashboard/src/hooks/useRemoteApplicationGQLClientWithSubscriptions/useRemoteApplicationGQLClientWithSubscriptions.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/logs/index.tsx
  dashboard/src/utils/__generated__/graphql.ts
  dashboard/src/utils/constants/common/common.ts
  dashboard/tailwind.config.js
  pnpm-lock.yaml
Labels: dashboard
