Repository nhost/nhost, pull requests merged in 2024-01, with the labels that each got.

#2441 feat(docs): add postgres wal settings to docs
  docs/guides/database/configuring-postgres.mdx
Labels: documentation

#2437 fix(quickstarts): fix auth issue and too many redirects error
  .changeset/spicy-donuts-cry.md
  examples/quickstarts/sveltekit/src/lib/nhost.js
Labels: examples

#2443 feat(docs): for run services health checks
  .vscode/settings.json
  docs/guides/run/health-checks.mdx
  docs/mint.json
  docs/product/run.mdx
Labels: documentation

#2442 chore: remove backendUrl deprecation notice and update providers alert
  .changeset/violet-pumpkins-impress.md
  .github/workflows/ci.yaml
  dashboard/src/components/common/DepricationNotice/DepricationNotice.tsx
  dashboard/src/components/common/DepricationNotice/index.ts
  dashboard/src/components/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/components/settings/ProvidersUpdatedAlert.tsx
  dashboard/src/components/settings/index.ts
  dashboard/src/features/projects/common/hooks/useCurrentWorkspaceAndProject/useCurrentWorkspaceAndProject.ts
  dashboard/src/gql/fragments/project.gql
  dashboard/src/gql/settings/confirmProvidersUpdated.gql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/backups.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/database/browser/[dataSourceSlug]/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/[deploymentId].tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/deployments/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/graphql.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/hasura/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/logs/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/metrics/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/services/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/settings/sign-in-methods/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/storage/index.tsx
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/tests/mocks.ts
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2447 fix(vue-sdk): include `ServiceUrls` in `NhostVueClientConstructorParams`
  .changeset/ninety-deers-whisper.md
  packages/vue/src/client.ts
Labels: sdk, vue

#2444 chore(dashboard): use env variables for graphql codegen
  .changeset/lucky-humans-kneel.md
  dashboard/.env.example
  dashboard/graphql.config.yaml
  dashboard/package.json
  pnpm-lock.yaml
Labels: dashboard

#2452 chore: change `Allowed Roles` to `Default Allowed Roles`
  .changeset/slimy-avocados-remain.md
  dashboard/src/features/projects/roles/settings/components/RoleSettings/RoleSettings.tsx
  docs/docs/authentication/users.mdx
Labels: documentation, dashboard

#2451 fix: remove hardcoded ai settings version
  .changeset/thick-poets-jog.md
  dashboard/src/features/ai/settings/components/AISettings.tsx
  dashboard/src/features/authentication/settings/components/AuthServiceVersionSettings/AuthServiceVersionSettings.tsx
  dashboard/src/features/database/settings/components/DatabaseServiceVersionSettings/DatabaseServiceVersionSettings.tsx
  dashboard/src/features/hasura/settings/components/HasuraServiceVersionSettings/HasuraServiceVersionSettings.tsx
  dashboard/src/features/storage/settings/components/HasuraServiceVersionSettings/StorageServiceVersionSettings.tsx
Labels: dashboard

#2450 remove migration step from ai guide
  docs/guides/ai/enabling-service.mdx
  docs/images/guides/ai/enabling/migration.png
Labels: documentation

#2453 chore(dashboard): update docs icon
  .changeset/rotten-gorillas-travel.md
  dashboard/public/logos/Note.svg
  dashboard/public/logos/light/Note.svg
  dashboard/src/features/projects/common/components/WorkspaceSidebar/WorkspaceSidebar.tsx
Labels: dashboard

#2458 feat (dashboard): don't show deprecated plans
  .changeset/sour-fishes-talk.md
  .gitignore
  dashboard/src/features/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/features/projects/workspaces/components/WorkspaceApps/WorkspaceApps.tsx
  dashboard/src/gql/app/prefetchNewApp.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2461 feat (dashboard): set redirectTo during sign-in with twitter to support preview environments
  .changeset/sweet-bananas-act.md
  dashboard/src/pages/signin.tsx
  packages/docgen/src/templates/TypeTemplate.ts
Labels: dashboard, sdk

#2457 feat(docs): added graphite/cli documentation
  .changeset/lovely-clocks-boil.md
  docs/guides/ai/enabling-service.mdx
  docs/guides/ai/local_development.mdx
  docs/images/guides/ai/local_development/git_status.png
  docs/images/guides/ai/local_development/git_status_functions.png
  docs/images/guides/ai/local_development/migration.png
  docs/images/guides/ai/local_development/nhost_up.png
  docs/mint.json
  docs/product/ai.mdx
Labels: documentation

#2129 chore: add maskedErrors param to CreateServerProps
  integrations/google-translation/src/server.ts
  integrations/google-translation/src/types.ts
  integrations/stripe-graphql-js/src/server.ts
  integrations/stripe-graphql-js/src/types.ts
Labels: integrations

#2471 fix(docs): set correct hostname for connecting to run service internally
  docs/guides/run/networking.mdx
Labels: documentation

#2473 feat: dashboard: new Team plan
  .changeset/brave-stingrays-argue.md
  dashboard/src/components/common/ContactUs/ContactUs.tsx
  dashboard/src/components/layout/Header/Header.tsx
  dashboard/src/features/projects/common/hooks/useIsCurrentUserOwner/useIsCurrentUserOwner.ts
  dashboard/src/features/projects/common/utils/planDescriptions/planDescriptions.ts
  dashboard/src/features/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/pages/new.tsx
Labels: dashboard

#2477 fix: dashboard: show upgrade option to pro projects
  .changeset/wild-clouds-rest.md
  dashboard/src/features/projects/common/components/ChangePlanModal/ChangePlanModal.tsx
  dashboard/src/features/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
Labels: dashboard

#2482 chore: update pnpm and turbo versions in Dockerfile
  .changeset/lazy-socks-perform.md
  dashboard/Dockerfile
  package.json
  pnpm-lock.yaml
Labels: dashboard

#2483 fix(quickstarts): use turbo to build nextjs-server-components and fix sveltekit lockfile
  examples/quickstarts/sveltekit/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: examples

#2485 chore: update sveltekit pnpm-lockl.yaml
  examples/quickstarts/sveltekit/pnpm-lock.yaml
Labels: examples

#2487 chore (general): added mintlify to docs devDependencies and manage node_modules with nix
  .gitignore
  docs/package.json
  flake.lock
  flake.nix
  nix/mintlify/default.nix
  nix/mintlify/node-env.nix
  nix/mintlify/node-packages.nix
  nix/mintlify/package.json
  nix/overlay.nix
  pnpm-lock.yaml
Labels: documentation

#2479 feat (dashboard): added CSP and X-Frame-Options
  .changeset/spotty-geese-cry.md
  dashboard/next.config.js
Labels: dashboard

#2490 fix(dashboard): add bare nhost.run to CSP
  .changeset/tall-hounds-hang.md
  dashboard/next.config.js
Labels: dashboard

#2488 feat (docs): added docs regarding local development for Run services
  .changeset/perfect-items-hug.md
  docs/guides/cli/configuration-overlays.mdx
  docs/guides/run/configuration-overlays.mdx
  docs/guides/run/local-development.mdx
  docs/images/guides/run/local_development_1.png
  docs/mint.json
  docs/product/run.mdx
Labels: documentation

#2494 fix(dashboard): fix bug with validation schema for create record form
  .changeset/thick-planes-join.md
  dashboard/src/features/database/dataGrid/utils/validationSchemaHelpers/validationSchemaHelpers.ts
Labels: dashboard

#2496 fix(dashboard): show internal error in toast message
  .changeset/fuzzy-pianos-tap.md
  dashboard/src/components/ui/v2/ErrorToast/ErrorToast.tsx
Labels: dashboard

#2486 fix: docs: small fixes
  docs/guides/cli/configuration-overlays.mdx
  docs/guides/cli/local-development.mdx
  docs/guides/cli/migrate-config.mdx
  docs/guides/cli/multiple-projects.mdx
  docs/guides/cli/seeds.mdx
  docs/guides/run/cli-deployments.mdx
  docs/guides/run/configuration.mdx
  docs/guides/run/health-checks.mdx
  docs/guides/run/networking.mdx
  docs/guides/run/registry.mdx
  docs/guides/run/resources.mdx
  docs/mint.json
  docs/product/functions.mdx
  docs/reference/javascript/functions/call.mdx
  docs/reference/javascript/functions/create-functions-client.mdx
  docs/reference/javascript/functions/nhost-functions-client.mdx
  docs/reference/javascript/functions/set-access-token.mdx
Labels: documentation

#2354 chore: Update peerDependency next to ^14.0.0
  .changeset/rich-zoos-draw.md
  examples/react-apollo/pnpm-lock.yaml
  packages/nextjs/package.json
Labels: sdk, nextjs, react, examples
