Repository nhost/nhost, pull requests merged in 2024-05, with the labels that each got.

#2687 Fixed typo in README.md
  examples/docker-compose/README.md
Labels: examples

#2690 fix (docs): broken link
  .changeset/metal-maps-enjoy.md
  docs/product/ai.mdx
Labels: documentation

#2692 fix(dashboard): improve error toast message handling
  .changeset/warm-feet-wonder.md
  dashboard/src/components/ui/v2/ErrorToast/ErrorToast.tsx
Labels: dashboard

#2689 feat (dashboard): send metadata in the edit form
  .changeset/cuddly-moons-smell.md
  dashboard/src/features/authentication/users/components/EditUserForm/EditUserForm.tsx
  dashboard/src/features/authentication/users/components/UsersBody/UsersBody.tsx
  dashboard/src/gql/remote-app/getUsers.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2688 chore: add e2e test project
  dashboard/e2e/e2e-tests-project/.gitignore
  dashboard/e2e/e2e-tests-project/nhost/config.yaml
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/email-confirm-change/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/email-confirm-change/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/email-verify/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/email-verify/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/password-reset/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/password-reset/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/signin-passwordless-sms/body.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/signin-passwordless/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/bg/signin-passwordless/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/email-confirm-change/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/email-confirm-change/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/email-verify/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/email-verify/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/password-reset/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/password-reset/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/signin-passwordless-sms/body.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/signin-passwordless/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/cs/signin-passwordless/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/en/email-confirm-change/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/en/email-confirm-change/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/en/email-verify/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/en/email-verify/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/en/password-reset/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/en/password-reset/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/en/signin-passwordless-sms/body.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/en/signin-passwordless/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/en/signin-passwordless/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/es/email-confirm-change/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/es/email-confirm-change/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/es/email-verify/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/es/email-verify/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/es/password-reset/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/es/password-reset/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/es/signin-passwordless-sms/body.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/es/signin-passwordless/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/es/signin-passwordless/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/email-confirm-change/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/email-confirm-change/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/email-verify/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/email-verify/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/password-reset/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/password-reset/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/signin-passwordless-sms/body.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/signin-passwordless/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/fr/signin-passwordless/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/emails/test/email-verify/body.html
  dashboard/e2e/e2e-tests-project/nhost/emails/test/email-verify/subject.txt
  dashboard/e2e/e2e-tests-project/nhost/nhost.toml
Labels: dashboard

#2686 fix: broadcast signout event to all tabs
  .changeset/clever-points-mate.md
  packages/hasura-auth-js/src/internal-client.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
Labels: sdk

#2697 feat: sdk: add `setHeaders` for setting global headers and make sure all client calls have a `headers` arg
  .changeset/spicy-trains-trade.md
  packages/graphql-js/src/client.ts
  packages/hasura-storage-js/src/hasura-storage-api.ts
  packages/hasura-storage-js/src/hasura-storage-client.ts
  packages/hasura-storage-js/src/utils/types.ts
  packages/nhost-js/src/clients/functions/index.ts
  packages/nhost-js/src/clients/nhost.ts
Labels: sdk

#2706 chore: update docs links for nhost-js setRole and unsetRole methods
  .changeset/seven-jobs-speak.md
  packages/nhost-js/src/clients/nhost.ts
Labels: sdk

#2707 feat: dashboard: add toggle switch to enable/disable database public access
  .changeset/violet-readers-suffer.md
  dashboard/src/features/database/settings/components/DatabaseConnectionInfo/DatabaseConnectionInfo.tsx
  dashboard/src/features/database/settings/gql/getPostgresSettings.gql
  dashboard/src/gql/app/settings/updateConfig.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard

#2708 feat (docs): added docs about how to connect to postgres
  .changeset/fifty-houses-grow.md
  docs/guides/database/access.mdx
  docs/images/guides/database/access/public.png
  docs/images/guides/database/access/reset.png
  docs/mint.json
Labels: documentation

#2705 fix: replace `jose` with `jwt-decode` version 4.0.0
  .changeset/hip-years-film.md
  examples/react-apollo/pnpm-lock.yaml
  integrations/apollo/package.json
  integrations/apollo/src/index.ts
  packages/graphql-js/package.json
  packages/graphql-js/src/client.ts
  packages/hasura-auth-js/package.json
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/react/package.json
  packages/react/src/useDecodedAccessToken.ts
  packages/vue/package.json
  packages/vue/src/useDecodedAccessToken.ts
  pnpm-lock.yaml
Labels: sdk, react, examples, vue, integrations

#2714 fix: examples: react-apollo: address e2e test issues
  .changeset/sweet-comics-melt.md
  examples/react-apollo/e2e/utils.ts
  examples/react-apollo/nhost/overlays/local.json
  examples/react-apollo/package.json
  pnpm-lock.yaml
Labels: react, examples

#2717 fix: update internal-client to use `payload.token` instead of `payload.token.data`
  .changeset/tidy-ads-battle.md
  packages/hasura-auth-js/src/internal-client.ts
Labels: sdk

#2716 fix(hasura-auth-js): resolve social sign-in issue in React Native
  .changeset/plenty-beers-warn.md
  packages/hasura-auth-js/src/utils/environment.ts
Labels: sdk

#2723 fix (docs): improvements to compute resources
  .changeset/brown-years-sin.md
  docs/guides/database/performance.mdx
  docs/images/platform/compute-resources/guaranteed-resources.png
  docs/images/platform/compute-resources/resource-utilization.png
  docs/platform/compute-resources.mdx
Labels: documentation

#2737 fix(dashboard): remove isPlatform check from verify button disable logic
  .changeset/brown-boats-trade.md
  dashboard/src/features/projects/custom-domains/settings/components/VerifyDomain/VerifyDomain.tsx
Labels: dashboard

#2738 chore (docs): various improvements
  .changeset/funny-starfishes-brake.md
  docs/guides/auth/custom-jwts.mdx
  docs/guides/auth/social/sign-in-apple.mdx
  docs/guides/auth/social/sign-in-discord.mdx
  docs/guides/auth/social/sign-in-facebook.mdx
  docs/guides/auth/social/sign-in-github.mdx
  docs/guides/auth/social/sign-in-google.mdx
  docs/guides/auth/social/sign-in-linkedin.mdx
  docs/guides/auth/social/sign-in-spotify.mdx
  docs/guides/auth/social/sign-in-twitch.mdx
  docs/guides/auth/social/sign-in-workos.mdx
  docs/images/platform/custom-domains/custom-domains-dashboard.png
  docs/mint.json
  docs/platform/custom-domains.mdx
  flake.lock
Labels: documentation

#2735 fix (dashboard): validate postgres version in ai service settings page
  .changeset/beige-lobsters-pay.md
  dashboard/src/features/ai/settings/components/AISettings.tsx
  dashboard/src/features/ai/settings/utils/isPostgresVersionValidForAI/index.ts
  dashboard/src/features/ai/settings/utils/isPostgresVersionValidForAI/isPostgresVersionValidForAI.test.ts
  dashboard/src/features/ai/settings/utils/isPostgresVersionValidForAI/isPostgresVersionValidForAI.ts
Labels: dashboard
