Repository nhost/nhost, pull requests merged in 2025-01, with the labels that each got.

#3109 chore (nextjs): fix nextjs tutorial quickstart commands in docs, add support to next.js 15
  .changeset/fresh-emus-greet.md
  docs/guides/quickstarts/nextjs.mdx
  docs/guides/quickstarts/vue.mdx
  docs/guides/tutorials/nextjs.mdx
  packages/nextjs/package.json
Labels: documentation, dashboard, sdk, nextjs, Review effort [1-5]: 2

#3118 chore: update dependencies with vulnerabilities, fix ci
  .changeset/smart-penguins-love.md
  dashboard/package.json
  examples/nextjs/package.json
  examples/quickstarts/nextjs-server-components/package.json
  packages/nextjs/package.json
  pnpm-lock.yaml
  templates/cra-template-nhost-react-apollo-template/template/package.json
Labels: dashboard, sdk, nextjs, examples, Review effort [1-5]: 2

#3120 chore: update actions/cache to v4
  .github/actions/install-dependencies/action.yaml
Labels: Review effort [1-5]: 1

#3106 feat (dashboard): allow to change postgres settings if project is paused
  .changeset/shy-geckos-switch.md
  dashboard/src/features/orgs/projects/common/hooks/useProjectRedirectWhenReady/useProjectRedirectWhenReady.ts
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseConnectionInfo/DatabaseConnectionInfo.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseServiceVersionSettings/DatabaseServiceVersionSettings.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseStorageCapacityWarning/DatabaseStorageCapacityWarning.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseStorageCapacityWarning/index.ts
Labels: dashboard, Review effort [1-5]: 4

#3110 fix (dashboard): allow decimal row insert
  .changeset/nice-mangos-act.md
  dashboard/src/features/orgs/projects/database/dataGrid/components/DataBrowserGrid/DataBrowserGrid.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/DatabaseRecordInputGroup/DatabaseRecordInputGroup.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/utils/postgresqlConstants/postgresqlConstants.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridDecimalCell/DataGridDecimalCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridDecimalCell/index.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridIntegerCell/DataGridIntegerCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridIntegerCell/index.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridNumericCell/index.ts
Labels: dashboard, Review effort [1-5]: 3

#3114 fix (dashboard): duplicate Run placeholders when there is a backend error
  .changeset/curly-hotels-hang.md
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ReplicasFormSection/ReplicasFormSection.tsx
  dashboard/src/features/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/gql/services/inserRunService.graphql
  dashboard/src/gql/services/insertRunServiceConfig.graphql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort [1-5]: 3

#3123 chore (docs): added pg_jsonschema docs
  .changeset/loud-years-know.md
  docs/guides/database/extensions.mdx
Labels: documentation, Review effort [1-5]: 1

#3116 feat (dashboard): unencrypted disk warning
  .changeset/sour-bats-repair.md
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
  dashboard/src/features/orgs/projects/database/settings/gql/getPersistentVolumesEncrypted.gql
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort [1-5]: 2

#3105 chore: update dependencies with vulnerabilities
  .changeset/clean-geckos-fix.md
  audit-ci.jsonc
  dashboard/package.json
  package.json
  packages/hasura-auth-js/package.json
  pnpm-lock.yaml
Labels: dashboard, sdk, Review effort [1-5]: 1

#3126 chore: added overlay for nhost cli
  nix/nhost-cli.nix
  nix/overlay.nix
Labels: Review effort [1-5]: 2

#3097 feat: add support for webauthn modern flow
  .changeset/clever-plums-unite.md
  .changeset/moody-peas-impress.md
  .changeset/seven-melons-change.md
  docs/mint.json
  docs/reference/javascript/auth/sign-in-security-key.mdx
  docs/reference/javascript/nhost-js/sign-in-security-key.mdx
  docs/reference/nextjs/use-sign-in-security-key.mdx
  docs/reference/react/use-sign-in-security-key.mdx
  docs/reference/vue/use-sign-in-security-key.mdx
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/src/components/routes/auth/sign-in/sign-in-security-key.tsx
  examples/vue-apollo/nhost/nhost.toml
  examples/vue-apollo/nhost/overlays/local.json
  examples/vue-apollo/src/pages/sign-in/SecurityKey.vue
  examples/vue-apollo/tsconfig.json
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/machines/authentication/events.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/machines/authentication/machine.typegen.ts
  packages/hasura-auth-js/src/promises/index.ts
  packages/hasura-auth-js/src/promises/signInSecurityKey.ts
  packages/react/src/index.ts
  packages/react/src/useSignInEmailOTP.ts
  packages/react/src/useSignInSecurityKey.ts
  packages/vue/src/index.ts
  packages/vue/src/useSignInSecurityKey.ts
Labels: documentation, sdk, react, examples, vue, Review effort [1-5]: 4

#3122 feat (dashboard): image preview toggle in storage
  .changeset/twelve-llamas-tap.md
  dashboard/src/features/orgs/projects/database/dataGrid/components/DataBrowserGridControls/DataBrowserGridControls.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGrid/DataGrid.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridBody/DataGridBody.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridBooleanCell/DataGridBooleanCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridCell/DataGridCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridConfigProvider/DataGridConfigContext.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridConfigProvider/DataGridConfigProvider.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridConfigProvider/useDataGridConfig.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridDateCell/DataGridDateCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridDecimalCell/DataGridDecimalCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridFrame/DataGridFrame.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridHeader/DataGridHeader.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridHeaderButton/DataGridHeaderButton.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridHeaderButton/index.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridIntegerCell/DataGridIntegerCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridPreviewCell/DataGridPreviewCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridTextCell/DataGridTextCell.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/FilesDataGrid/FilesDataGrid.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/FilesDataGridControls/FilesDataGridControls.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/PreviewHeader/PreviewHeader.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/PreviewHeader/index.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/hooks/usePreviewToggle/index.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/hooks/usePreviewToggle/usePreviewToggle.ts
Labels: dashboard, Review effort [1-5]: 3

#3136 fix (dashboard): undefined is not an object issue with paused projects
  .changeset/angry-zoos-learn.md
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.tsx
  dashboard/src/features/orgs/projects/ai/settings/components/AISettings.tsx
  dashboard/src/features/orgs/projects/common/components/AppLoader/AppLoader.tsx
  dashboard/src/features/orgs/projects/custom-domains/settings/components/AuthDomain/AuthDomain.tsx
  dashboard/src/features/orgs/projects/custom-domains/settings/components/DatabaseDomain/DatabaseDomain.tsx
  dashboard/src/features/orgs/projects/custom-domains/settings/components/HasuraDomain/HasuraDomain.tsx
  dashboard/src/features/orgs/projects/custom-domains/settings/components/ServerlessFunctionsDomain/ServerlessFunctionsDomain.tsx
  dashboard/src/features/orgs/projects/logs/components/LogsHeader/LogsHeader.tsx
  dashboard/src/features/orgs/projects/metrics/settings/components/MetricsSettings/MetricsSettings.tsx
  dashboard/src/features/orgs/projects/services/hooks/useRunServices/useRunServices.ts
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/backups.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/logs.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/authentication.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/custom-domains.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/database.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/metrics.tsx
Labels: dashboard, Review effort [1-5]: 4

#3140 chore (docs): added support for nodejs22 to functions
  .changeset/forty-keys-buy.md
  docs/guides/functions/runtimes.mdx
Labels: documentation, Review effort [1-5]: 1

#3142 chore (docs): add note about encryption at rest
  .changeset/brown-suits-drive.md
  docs/platform/compute-resources.mdx
Labels: documentation, Review effort [1-5]: 1

#3141 chore (docs): added pgmq extension to postgres docs
  .changeset/cyan-suits-provide.md
  docs/guides/database/extensions.mdx
Labels: documentation, Review effort [1-5]: 1

#3137 fix (dashboard): correct StorageErrorPayload TypeScript typing
  .changeset/wet-pants-promise.md
  packages/hasura-storage-js/src/utils/upload.ts
Labels: sdk, Review effort [1-5]: 2

#3144 chore (docs): add missing images in permissions API
  .changeset/five-panthers-swim.md
  docs/guides/api/permissions.mdx
Labels: documentation, Review effort [1-5]: 1

#3138 chore: update actions/upload-artifact to v4
  .github/workflows/ci.yaml
Labels: Review effort [1-5]: 1

#3153 fix (dashboard): can delete column in database page
  .changeset/two-dodos-jam.md
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useDeleteColumnMutation/useDeleteColumnMutation.ts
Labels: dashboard

#3157 fix (dashboard): postgres add rule group in table permissions
  .changeset/lovely-moose-study.md
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditPermissionsForm/validationSchemas.ts
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleGroupEditor.tsx
Labels: dashboard, Review effort [1-5]: 2

#3159 fix (dashboard): not redirect to 404 page if using local Nhost backend
  .changeset/olive-camels-laugh.md
  dashboard/src/features/projects/common/hooks/useNotFoundRedirect/useNotFoundRedirect.ts
Labels: dashboard, Review effort [1-5]: 2

#3164 chore: update dependencies with vulnerabilities
  .changeset/cold-toes-poke.md
  dashboard/package.json
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/quickstarts/sveltekit/package.json
  examples/react-apollo/package.json
  examples/react-gqty/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  package.json
  pnpm-lock.yaml
  templates/cra-template-nhost-react-apollo-template/template/package.json
Labels: dashboard, react, examples, vue, Review effort [1-5]: 2

#3165 fix (dashboard CI): e2e tests
  .changeset/forty-days-pull.md
  dashboard/e2e/database/delete-table.test.ts
  dashboard/playwright.config.ts
Labels: dashboard, Review effort [1-5]: 2

#3161 chore (@nhost/react): add react 19 as peer dependency
  .changeset/stale-knives-begin.md
  packages/react/package.json
Labels: sdk, react, Review effort [1-5]: 1

#3170 fix (dashboard): not fetch if preview toggle in storage is disabled
  .changeset/healthy-cars-admire.md
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridPreviewCell/DataGridPreviewCell.tsx
Labels: dashboard, Review effort [1-5]: 2

#3171 feat (dashboard): show Wake up while project is pausing
  .changeset/tough-feet-deny.md
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
Labels: dashboard, Review effort [1-5]: 3
