Repository nhost/nhost, pull requests merged in 2025-04, with the labels that each got.

#3283 fix: update vite because of vulnerability
  .changeset/stale-horses-run.md
  dashboard/src/features/orgs/projects/backups/components/ImportBackupTabContent/ImportBackupTabContent.test.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/tests/testUtils.tsx
  dashboard/vitest.config.ts
  examples/nextjs/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/.eslintrc
  examples/vue-quickstart/.eslintrc.js
  examples/vue-quickstart/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard, nextjs, examples, vue, Review effort 2/5

#3285 fix (ci): dashboard unittests
  dashboard/src/components/common/DateTimePicker/DateTimePicker.test.tsx
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.test.tsx
  dashboard/src/features/orgs/projects/backups/components/ImportBackupTabContent/ImportBackupTabContent.test.tsx
  dashboard/src/features/orgs/projects/backups/components/common/PointInTimeBackupInfo/PointInTimeBackupInfo.test.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabasePiTRSettings/DatabasePiTRSettings.test.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
Labels: dashboard, Review effort 2/5

#3281 chore (examples/react-apollo): update versions
  .changeset/spicy-sloths-cover.md
  examples/react-apollo/nhost/nhost.toml
Labels: react, examples, Review effort 2/5

#3280 chore (docs): remove community as it isn't ready
  .changeset/friendly-chairs-argue.md
  docs/community/coc.mdx
  docs/community/getting-involved.mdx
  docs/docs.json
Labels: documentation, react, examples, Review effort 1/5

#3284 fix (hasura-auth-js): update broadcasted session directly
  packages/hasura-auth-js/src/internal-client.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/tests/refreshToken.test.ts
Labels: sdk, Review effort 3/5

#3286 chore (auth-js): add missing changeset
  .changeset/honest-countries-melt.md
Labels: Review effort 1/5

#3288 chore (ci): re-add user event tests
  .changeset/nasty-cherries-cover.md
  dashboard/src/components/common/DateTimePicker/DateTimePicker.test.tsx
  dashboard/src/components/common/TimePicker/TimePicker.test.tsx
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.test.tsx
  dashboard/src/features/orgs/projects/backups/components/ImportBackupTabContent/ImportBackupTabContent.test.tsx
  dashboard/src/features/orgs/projects/backups/components/common/PointInTimeBackupInfo/PointInTimeBackupInfo.test.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabasePiTRSettings/DatabasePiTRSettings.test.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/tests/msw/mocks/graphql/resourceSettingsQuery.ts
  dashboard/src/tests/testUtils.tsx
  examples/quickstarts/sveltekit/package.json
Labels: dashboard, examples, Review effort 4/5

#3293 fix (ci lint): update vite and image-size dependencies to address security audit vulnerabilities
  .changeset/flat-suits-join.md
  dashboard/package.json
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.test.tsx
  dashboard/src/tests/testUtils.tsx
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/quickstarts/sveltekit/package.json
  examples/react-apollo/package.json
  examples/react-apollo/src/main.tsx
  examples/react-gqty/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard, react, examples, vue, Review effort 2/5

#3287 chore (workspaces): fixes to the workspace
  .changeset/late-ghosts-taste.md
  examples/quickstarts/sveltekit/package.json
  examples/quickstarts/sveltekit/vite.config.js
  examples/react-apollo/playwright.config.ts
  nix/nhost-cli.nix
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/machines/authentication/machine.typegen.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: sdk, react, examples, Review effort 2/5

#3294 chore: docs: add segment analytics
  docs/docs.json
Labels: documentation, Review effort 1/5

#3297 fix (docs): fixing mintlify breaking our docs
  .changeset/famous-apricots-hug.md
  docs/package.json
  docs/platform/overview.mdx
  docs/products/overview.mdx
  docs/welcome.mdx
  pnpm-lock.yaml
Labels: documentation

#3257 feat (dashboard): improve upgrade project
  .changeset/tame-planes-sleep.md
  .github/workflows/ci.yaml
  dashboard/e2e/env.ts
  dashboard/e2e/upgrade-project/upgrade-project.test.ts
  dashboard/e2e/utils.ts
  dashboard/package.json
  dashboard/playwright.config.ts
  dashboard/playwright.local.config.ts
  dashboard/src/components/common/DateTimePicker/DateTimePicker.test.tsx
  dashboard/src/components/common/SelectOrgAndProject/SelectOrgAndProject.tsx
  dashboard/src/components/common/UpgradeToProBanner/UpgradeToProBanner.tsx
  dashboard/src/features/orgs/components/StripeEmbeddedForm/StripeEmbeddedForm.tsx
  dashboard/src/features/orgs/components/TransferProject/TransferProject.tsx
  dashboard/src/features/orgs/components/common/FinishOrgCreationProcess/FinishOrgCreationProcess.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/FinishOrgCreation.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/TransferOrUpgradeProjectDialog.test.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/TransferOrUpgradeProjectDialog.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/TransferProjectDialogContent.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/TransferProjectForm.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/UpgradeProjectDialogContent.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/index.ts
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.tsx
  dashboard/src/features/orgs/components/common/TransferProjectDialog/index.ts
  dashboard/src/features/orgs/components/general/components/DeleteOrg/DeleteOrg.tsx
  dashboard/src/features/orgs/components/members/components/NotificationsTray/NotificationsTray.test.tsx
  dashboard/src/features/orgs/components/members/components/NotificationsTray/NotificationsTray.tsx
  dashboard/src/features/orgs/hooks/useFinishOrgCreation/useFinishOrgCreation.ts
  dashboard/src/features/orgs/projects/common/components/ApplicationPaused/ApplicationPaused.tsx
  dashboard/src/features/orgs/projects/database/settings/components/UpgradeNotification/UpgradeNotification.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewTopBar/UpgradeProjectDialog.tsx
  dashboard/src/pages/orgs/verify.tsx
Labels: dashboard, Review effort 4/5

#3295 chore (react-apollo): run e2e on preview instead of dev server
  .changeset/stale-timers-crash.md
  examples/quickstarts/nhost-backend/nhost/nhost.toml
  examples/react-apollo/package.json
  examples/react-apollo/playwright.config.ts
  package.json
Labels: react, examples, Review effort 2/5

#3282 fix: dashboard: add anonid to user's metadata
  .changeset/tall-eggs-battle.md
  dashboard/src/pages/signup.tsx
Labels: dashboard, Review effort 2/5

#3303 fix: update vite and nextjs because of vulnerability
  .changeset/serious-boxes-pay.md
  dashboard/package.json
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/nextjs/package.json
  examples/quickstarts/nextjs-server-components/package.json
  examples/quickstarts/sveltekit/package.json
  examples/react-apollo/package.json
  examples/react-gqty/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  package.json
  packages/nextjs/package.json
  pnpm-lock.yaml
Labels: dashboard, sdk, nextjs, react, examples, vue, Review effort 2/5

#3305 chore (examples/svelte): update @sveltejs/kit
  .changeset/neat-eggs-chew.md
  examples/quickstarts/sveltekit/package.json
  package.json
  pnpm-lock.yaml
Labels: examples, Review effort 1/5

#3310 chore (observability): make alerts less sensitive
  observability/grafana/rules_nhost.yaml
Labels: Review effort 2/5

#3291 fix (dashboard): correct graphql role dropdown source
  .changeset/silent-elephants-pretend.md
  dashboard/src/features/orgs/projects/graphql/common/components/UserAndRoleSelect/UserAndRoleSelect.tsx
  dashboard/src/features/orgs/projects/graphql/common/components/UserAndRoleSelect/index.ts
  dashboard/src/features/orgs/projects/graphql/common/components/UserSelect/UserSelect.tsx
  dashboard/src/features/orgs/projects/graphql/common/utils/constants/constants.ts
  dashboard/src/features/orgs/projects/graphql/common/utils/constants/index.ts
  dashboard/src/features/orgs/projects/roles/settings/utils/getAdminRoles/getAdminRoles.test.ts
  dashboard/src/features/orgs/projects/roles/settings/utils/getAdminRoles/getAdminRoles.ts
  dashboard/src/features/orgs/projects/roles/settings/utils/getAdminRoles/index.ts
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/graphql.tsx
Labels: dashboard, Review effort 3/5

#3302 docs: add sveltekit quickstart
  .changeset/rare-shoes-flash.md
  docs/docs.json
  docs/getting-started/overview.mdx
  docs/getting-started/quickstart/sveltekit.mdx
Labels: documentation

#3314 chore (dashboard CI): refresh hasura metadata before e2e tests
  .changeset/itchy-cheetahs-tickle.md
  dashboard/e2e/setup/refresh-metadata.setup.ts
Labels: dashboard, Review effort 2/5

#3306 fix (packages): update storage/auth e2e config
  .changeset/fluffy-shoes-cross.md
  .github/workflows/ci.yaml
  examples/node-storage/README.md
  examples/react-apollo/package.json
  package.json
  packages/hasura-auth-js/e2e/email.test.ts
  packages/hasura-auth-js/e2e/helpers.ts
  packages/hasura-auth-js/functions/pnpm-lock.yaml
  packages/hasura-auth-js/nhost/metadata/backend_configs.yaml
  packages/hasura-auth-js/nhost/metadata/databases/default/tables/auth_refresh_token_types.yaml
  packages/hasura-auth-js/nhost/metadata/databases/default/tables/auth_refresh_tokens.yaml
  packages/hasura-auth-js/nhost/metadata/databases/default/tables/storage_virus.yaml
  packages/hasura-auth-js/nhost/metadata/databases/default/tables/tables.yaml
  packages/hasura-auth-js/nhost/metadata/metrics_config.yaml
  packages/hasura-auth-js/nhost/metadata/opentelemetry.yaml
  packages/hasura-auth-js/nhost/nhost.toml
  packages/hasura-auth-js/package.json
  packages/hasura-storage-js/functions/pnpm-lock.yaml
  packages/hasura-storage-js/nhost/metadata/databases/default/tables/storage_buckets.yaml
  packages/hasura-storage-js/nhost/metadata/databases/default/tables/storage_files.yaml
  packages/hasura-storage-js/nhost/metadata/databases/default/tables/storage_virus.yaml
  packages/hasura-storage-js/nhost/metadata/databases/default/tables/tables.yaml
  packages/hasura-storage-js/nhost/nhost.toml
  packages/hasura-storage-js/package.json
  packages/hasura-storage-js/tests/assets/transformations/height.jpeg
  packages/hasura-storage-js/tests/assets/transformations/width.jpeg
  packages/hasura-storage-js/tests/image-transformation.test.ts
  packages/hasura-storage-js/tests/upload.test.ts
  pnpm-lock.yaml
Labels: dashboard, sdk, react, examples, Review effort 2/5

#3309 fix (examples/nextjs): typo
  .changeset/neat-lobsters-kiss.md
  examples/nextjs/pages/public-csr.tsx
Labels: nextjs, examples

#3313 feat: dashboard: add additional segment events
  .changeset/hungry-terms-retire.md
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/UpgradeProjectDialogContent.tsx
  dashboard/src/features/orgs/components/members/components/PendingInvites/PendingInvites.tsx
  dashboard/src/features/orgs/projects/git/common/components/EditRepositorySettingsModal/EditRepositorySettingsModal.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/new.tsx
  dashboard/src/pages/orgs/verify.tsx
Labels: dashboard, Review effort 3/5

#3317 chore (ci): send message to discord
  .github/workflows/deploy-dashboard.yaml
Labels: Review effort 2/5
