Repository nhost/nhost, pull requests merged in 2025-03, with the labels that each got.

#3222 chore (ci): local dashboard e2e tests with CLI
  .changeset/dirty-snakes-tell.md
  .github/actions/nhost-cli/action.yaml
  .github/workflows/ci.yaml
  .github/workflows/test-nhost-cli-action.yaml
  dashboard/e2e/cli-local-dashboard/cli-local-dashboard.test.ts
  dashboard/package.json
  dashboard/playwright.config.ts
  dashboard/playwright.local.config.ts
Labels: dashboard, Review effort 3/5

#3225 chore (dashboard): simplify personal project deletion checkboxes
  .changeset/grumpy-pigs-cough.md
  dashboard/src/features/orgs/projects/common/components/RemoveApplicationModal/RemoveApplicationModal.tsx
Labels: dashboard, Review effort 2/5

#3208 fix (dashboard): run services with secrets in the command field
  .changeset/famous-seahorses-taste.md
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceForm.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/ServiceFormTypes.ts
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/CommandFormSection/CommandFormSection.tsx
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/CommandFormSection/index.ts
  dashboard/src/features/orgs/projects/services/components/ServiceForm/components/ServiceConfirmationDialog/ServiceConfirmationDialog.tsx
  dashboard/src/features/orgs/projects/services/components/ServicesList/ServicesList.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/run.tsx
Labels: dashboard, Review effort 3/5

#3224 feat (dashboard): add PITR setting to database setting page
  .changeset/sour-dodos-mix.md
  dashboard/src/features/database/settings/gql/getPostgresSettings.gql
  dashboard/src/features/orgs/hooks/useDatabasePITRSettings/index.ts
  dashboard/src/features/orgs/hooks/useDatabasePITRSettings/useUpdateDatabasePITRConfig.ts
  dashboard/src/features/orgs/hooks/useIsPITREnabled/index.ts
  dashboard/src/features/orgs/hooks/useIsPITREnabled/useIsPITREnabled.ts
  dashboard/src/features/orgs/hooks/useUpdateDatabasePITRConfig/index.ts
  dashboard/src/features/orgs/hooks/useUpdateDatabasePITRConfig/useUpdateDatabasePITRConfig.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/postgresqlConstants/postgresqlConstants.ts
  dashboard/src/features/orgs/projects/database/settings/components/DatabasePITRSettings/DatabasePITRSettings.test.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabasePITRSettings/DatabasePITRSettings.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabasePITRSettings/index.ts
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
  dashboard/src/features/orgs/projects/database/settings/components/UpgradeNotification/UpgradeNotification.tsx
  dashboard/src/features/orgs/projects/database/settings/components/UpgradeNotification/index.ts
  dashboard/src/features/orgs/projects/database/settings/gql/getPostgresSettings.gql
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/database.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort 3/5

#3223 feat (docs): added pitr docs
  .changeset/afraid-seahorses-remain.md
  dashboard/next.config.js
  docs/guides/database/backups.mdx
  docs/images/guides/backups/pitr-import-1.png
  docs/images/guides/backups/pitr-restore-1.png
  docs/images/guides/backups/pitr-restore-2.png
  docs/images/guides/backups/pitr-restore-3.png
  docs/images/guides/backups/pitr-restore-4.png
  docs/images/guides/backups/pitr-settings.png
  docs/mint.json
  docs/platform/billing.mdx
Labels: documentation, dashboard, Review effort 2/5

#3201 fix (auth): allow to pass headers to email/password sign up
  .changeset/afraid-dogs-tan.md
  docs/reference/javascript/auth/sign-up.mdx
  docs/reference/javascript/auth/types/request-options.mdx
  examples/react-apollo/package.json
  packages/hasura-auth-js/src/hasura-auth-client.ts
  packages/hasura-auth-js/src/machines/authentication/events.ts
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/promises/signUpEmailSecurityKey.ts
  packages/hasura-auth-js/src/utils/fetch.ts
  packages/hasura-auth-js/tests/hasura-auth-client.test.ts
  packages/react/src/useSignUpEmailPassword.ts
  packages/react/src/useSignUpEmailSecurityKey.ts
Labels: documentation, sdk, react, examples, Review effort 3/5

#3227 chore (react/react-apollo): replace depreacted `NhostReactProvider` with `NhostProvider` in `README.md`
  integrations/react-apollo/README.md
  packages/react/README.md
Labels: sdk, react, integrations

#3228 chore (nextjs): Update create-server-side-client.ts comment - typo
  packages/nextjs/src/create-server-side-client.ts
Labels: sdk, nextjs

#3235 Update README.md
  README.md
Labels: Review effort 1/5

#3236 fix (ci): update PNPM dependencies to fix audit security vulnerabilities
  .changeset/quick-keys-carry.md
  package.json
  pnpm-lock.yaml
Labels: Review effort 2/5

#3248 chore (dashboard): update page context after each navigation
  .changeset/many-forks-call.md
  dashboard/e2e/account/pat/manage-pat.test.ts
  dashboard/e2e/ai/assistants.test.ts
  dashboard/e2e/ai/auto-embeddings.test.ts
  dashboard/e2e/auth/ban-user.test.ts
  dashboard/e2e/auth/create-user.test.ts
  dashboard/e2e/auth/delete-user.test.ts
  dashboard/e2e/auth/edit-user.test.ts
  dashboard/e2e/auth/verify-user.test.ts
  dashboard/e2e/database/create-table.test.ts
  dashboard/e2e/database/delete-table.test.ts
  dashboard/e2e/database/permissions-table.test.ts
  dashboard/e2e/fixtures/auth-hook.ts
  dashboard/e2e/overview/overview.test.ts
  dashboard/e2e/run/run.test.ts
  dashboard/e2e/teardown/database.teardown.ts
  dashboard/e2e/utils.ts
Labels: dashboard, Review effort 2/5

#3240 fix (dashboard): stop content overflowing in projects and database permissions page
  .changeset/proud-mugs-speak.md
  dashboard/src/components/ui/v3/command.tsx
  dashboard/src/features/orgs/components/projects/projects-grid/projects-grid.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.tsx
Labels: dashboard, Review effort 2/5

#3251 chore (dashboard): update nextjs to fix middleware exploit
  .changeset/nervous-shirts-rush.md
  dashboard/package.json
  examples/quickstarts/sveltekit/package.json
  pnpm-lock.yaml
  turbo.json
Labels: dashboard, examples, Review effort 1/5

#3247 chore (dashboard): update PiTR
  .changeset/flat-bags-accept.md
  dashboard/package.json
  dashboard/src/components/common/DateTimePicker/DateTimePicker.test.tsx
  dashboard/src/components/common/DateTimePicker/DateTimePicker.tsx
  dashboard/src/components/common/DateTimePicker/TimezoneSettings.tsx
  dashboard/src/components/common/TimePicker/time-picker-utils.ts
  dashboard/src/components/common/TimezonePicker/TimezonePicker.tsx
  dashboard/src/components/common/VirtualizedCombobox/VirtualizedCombobox.tsx
  dashboard/src/components/ui/v3/calendar.tsx
  dashboard/src/features/orgs/components/InfoAlert/InfoAlert.tsx
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.test.tsx
  dashboard/src/features/orgs/projects/backups/components/BackupsContent/BackupsContent.test.tsx
  dashboard/src/features/orgs/projects/backups/components/BackupsContent/BackupsContent.tsx
  dashboard/src/features/orgs/projects/backups/components/ImportBackupTabContent/ImportBackupTabContent.test.tsx
  dashboard/src/features/orgs/projects/backups/components/ImportBackupTabContent/PiTRNotEnabledOnSourceProject.tsx
  dashboard/src/features/orgs/projects/backups/components/PointInTimeTabsContent/PointInTimeRecovery.tsx
  dashboard/src/features/orgs/projects/backups/components/PointInTimeTabsContent/PointInTimeTabsContent.test.tsx
  dashboard/src/features/orgs/projects/backups/components/PointInTimeTabsContent/RestoreRecommendationNote.tsx
  dashboard/src/features/orgs/projects/backups/components/ScheduledBackupTabContent/PiTREnabledInfoBanner.tsx
  dashboard/src/features/orgs/projects/backups/components/ScheduledBackupTabContent/ScheduledBackupTabContent.test.tsx
  dashboard/src/features/orgs/projects/backups/components/common/PointInTimeBackupInfo/BackupScheduledInfo.tsx
  dashboard/src/features/orgs/projects/backups/components/common/PointInTimeBackupInfo/PointInTimeBackupInfo.test.tsx
  dashboard/src/features/orgs/projects/backups/components/common/PointInTimeBackupInfo/PointInTimeBackupInfo.tsx
  dashboard/src/features/orgs/projects/backups/components/common/PointInTimeBackupInfo/RestoreBackupDialogButton.tsx
  dashboard/src/features/orgs/projects/common/components/TextLink/TextLink.tsx
  dashboard/src/features/orgs/projects/database/settings/components/DatabasePiTRSettings/DatabasePiTRSettings.tsx
  dashboard/src/tests/mocks.ts
  dashboard/src/tests/msw/mocks/graphql/getPostgresSettings.ts
  dashboard/src/tests/msw/mocks/graphql/getProjectsQuery.ts
  dashboard/src/utils/timezoneUtils/timezone-utils.ts
  dashboard/vitest.config.ts
  dashboard/vitest.global-setup.ts
  examples/nextjs/package.json
  examples/quickstarts/nextjs-server-components/package.json
  packages/nextjs/package.json
  pnpm-lock.yaml
  templates/cra-template-nhost-react-apollo-template/template/package.json
Labels: dashboard, sdk, nextjs, examples

#3252 chore (changeset): add dashboard prettier plugins to root of monorepo as devDependencies
  .changeset/angry-rabbits-fly.md
  package.json
  pnpm-lock.yaml
Labels: Review effort 1/5

#3255 fix (ci): update vite to fix vulnerabilities audit
  .changeset/little-peaches-bathe.md
  dashboard/package.json
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/quickstarts/sveltekit/package.json
  examples/react-apollo/package.json
  examples/react-gqty/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  package.json
  pnpm-lock.yaml
Labels: dashboard, react, examples, vue, Review effort 2/5

#3274 chore (docs): reorganize Auth product
  docs/docs.json
  docs/platform/cloud/git.mdx
  docs/platform/cloud/overview.mdx
  docs/products/auth/client_and_redirect_urls.mdx
  docs/products/auth/email-templates.mdx
  docs/products/auth/gravatar.mdx
  docs/products/auth/overview.mdx
  docs/products/auth/restricting_emails_and_domains.mdx
  docs/products/functions/getting-started.mdx
  docs/products/run/configuration.mdx
Labels: documentation, Review effort 2/5
