Repository nhost/nhost, pull requests merged in 2025-09, with the labels that each got.

#3458 fix (dashboard): Parse foreign key relations correctly
  .changeset/cold-toys-bow.md
  dashboard/src/features/orgs/projects/database/dataGrid/components/DataBrowserSidebar/DataBrowserSidebar.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditTableForm/EditTableForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/utils/extractForeignKeyRelation/extractForeignKeyRelation.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/extractForeignKeyRelation/extractForeignKeyRelation.ts
Labels: dashboard, Review effort 3/5

#3442 feat (dashboard): add custom types to column types
  .changeset/rich-dragons-attend.md
  dashboard/src/components/form/ControlledAutocomplete/ControlledAutocomplete.tsx
  dashboard/src/components/ui/v2/Autocomplete/Autocomplete.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseColumnForm/BaseColumnForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/ColumnEditorRow/ColumnEditorRow.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/DataBrowserGrid/DataBrowserGrid.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/DatabaseRecordInputGroup/DatabaseRecordInputGroup.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useCreateColumnMutation/prepareCreateColumnQuery.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useCreateTableMutation/prepareCreateTableQuery.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useCreateTableMutation/prepareCreateTableQuery.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useTableQuery/fetchTable.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useUpdateColumnMutation/prepareUpdateColumnQuery.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useUpdateColumnMutation/prepareUpdateColumnQuery.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useUpdateTableMutation/prepareUpdateTableQuery.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/types/dataBrowser/dataBrowser.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/inputHelpers/getInputType/getInputType.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/normalizeColumnType/index.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/normalizeColumnType/normalizeColumnType.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/normalizeDatabaseColumn/normalizeDatabaseColumn.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/normalizeDatabaseColumn/normalizeDatabaseColumn.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/postgresqlConstants/postgresqlConstants.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridTextCell/DataGridTextCell.tsx
Labels: dashboard, Review effort 4/5

#3473 fix (dashboard): Show nested relationships in row permissions
  .changeset/new-eels-run.md
  dashboard/src/features/orgs/projects/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.test.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/ColumnAutocomplete/ColumnAutocomplete.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useTableQuery/useTableQuery.ts
  dashboard/src/tests/msw/mocks/rest/hasuraMetadataQuery.ts
  dashboard/src/tests/msw/mocks/rest/tableQuery.ts
  dashboard/src/tests/testUtils.tsx
Labels: dashboard, Review effort 3/5

#3461 fix (dashboard): allow permission variables with in operator
  .changeset/dry-snails-type.md
  dashboard/src/components/ui/v3/fancy-multi-select.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleValueInput.test.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/RuleGroupEditor/RuleValueInput.tsx
  dashboard/src/pages/signup.tsx
Labels: dashboard, Review effort 3/5

#3478 chore (docs): udpate graphql documentation to include example with variables
  docs/reference/javascript/nhost-js/graphql.mdx
  packages/nhost-js/src/graphql/__tests__/docstrings.test.ts
  packages/nhost-js/src/graphql/index.ts
Labels: Review effort 2/5, skip-changelog

#3482 fix (dashboard): typo in test filename
  .changeset/rude-chicken-try.md
  dashboard/src/features/orgs/projects/deployments/components/DeploymentServiceLogs/DeploymentServiceLogsHeader.test.tsx
Labels: dashboard, Review effort 2/5

#3486 chore(ci): release dashboard workflow
  .github/actions/discord-notification/action.yml
  .github/workflows/ci_release.yaml
  .github/workflows/dashboard_release_staging.yaml
  .github/workflows/wf_deploy_vercel.yaml
  .github/workflows/wf_release_npm.yaml
  dashboard/package.json
  dashboard/pnpm-lock.yaml
  docs/pnpm-lock.yaml
  examples/guides/react-apollo/pnpm-lock.yaml
  examples/guides/react-query/pnpm-lock.yaml
  flake.nix
  pnpm-lock.yaml
Labels: Review effort 1/5

#3492 chore(docs): update README
  README.md
  packages/nhost-js/README.md
Labels: Review effort 1/5

#3493 fix(ci): fixed ci_create_release.yaml
  .github/workflows/ci_create_release.yaml
  build/makefiles/release.makefile
Labels: Review effort 1/5

#3497 chore(ci): fix build for the cli
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/cli_checks.yaml
  .github/workflows/wf_check.yaml
  .gitignore
  build/makefiles/general.makefile
  cli/.gitignore
  cli/.golangci.bck.yaml
  cli/.golangci.yaml
  cli/.goreleaser.yml
  cli/CODE_OF_CONDUCT.md
  cli/LICENSE
  cli/Makefile
  cli/SECURITY.md
  cli/dockercompose/compose.go
  cli/flake.lock
  cli/flake.nix
  cli/get_access_token.sh
  cli/project.nix
  flake.nix
Labels: Review effort 3/5

#3498 chore(ci): test cli can create and start new project
  .github/workflows/cli_checks.yaml
  .github/workflows/cli_test_new_project.yaml
  cli/Makefile
  cli/get.sh
  cli/project.nix
  flake.nix
Labels: Review effort 3/5

#3502 chore(ci): add e2e remote schema name repository variable to CI workflow
  .github/workflows/dashboard_checks.yaml
  .github/workflows/wf_dashboard_e2e_staging.yaml
  dashboard/README.md
Labels: Review effort 2/5

#3475 chore(dashboard): fix defects in basetable form and add comment to columns
  DEVELOPERS.md
  dashboard/e2e/database/create-table.test.ts
  dashboard/playwright.config.ts
  dashboard/src/components/ui/v2/Autocomplete/Autocomplete.tsx
  dashboard/src/components/ui/v3/multi-select.tsx
  dashboard/src/components/ui/v3/textarea.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/BaseTableForm.test.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/BaseTableForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/ColumnEditorRow/ColumnComment.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/ColumnEditorRow/ColumnEditorRow.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/ColumnEditorTable.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/ForeignKeyEditorSection.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/PrimaryKeySelect.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/CreateTableForm/CreateTableForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/DatabaseRecordInputGroup/DatabaseRecordInputGroup.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditTableForm/EditTableForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useCreateTableMutation/prepareCreateTableQuery.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useCreateTableMutation/prepareCreateTableQuery.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useUpdateTableMutation/prepareUpdateTableQuery.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/types/dataBrowser/dataBrowser.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/inputHelpers/getInputType/getInputType.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/normalizeColumnType/normalizeColumnType.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/normalizeDatabaseColumn/normalizeDatabaseColumn.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/postgresqlConstants/postgresqlConstants.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridTextCell/DataGridTextCell.tsx
  dashboard/src/tests/testUtils.tsx
  package.json
Labels: dashboard, Review effort 3/5

#3525 chore(ci): implement storage releases
  .github/dependabot.yaml
  .github/workflows/ci_release.yaml
  .github/workflows/cli_release.yaml
  .github/workflows/dashboard_release.yaml
  .github/workflows/storage_release.yaml
  .github/workflows/wf_docker_push_image_ecr.yaml
Labels: Review effort 2/5

#3500 feat(dashboard): datatable column header redesign
  dashboard/package.json
  dashboard/pnpm-lock.yaml
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/components/ui/v3/inline-code.tsx
  dashboard/src/components/ui/v3/switch.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseColumnForm/BaseColumnForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseColumnForm/ForeignKeyEditor.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseColumnForm/index.ts
  dashboard/src/features/orgs/projects/database/dataGrid/components/BaseTableForm/BaseTableForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/DataBrowserGrid/DataBrowserGrid.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditColumnForm/EditColumnForm.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditColumnForm/index.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useDeleteColumnMutation/deleteColumn.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useDeleteColumnMutation/deleteColumnMigration.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useDeleteColumnMutation/index.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useDeleteColumnMutation/useDeleteColumnMutation.ts
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useDeleteColumnMutation/useDeleteColumnWithToastMutation.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/convertDataBrowserGridColumnToDatabaseColumn/convertDataBrowserGridColumnToDatabaseColumn.test.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/convertDataBrowserGridColumnToDatabaseColumn/convertDataBrowserGridColumnToDatabaseColumn.ts
  dashboard/src/features/orgs/projects/database/dataGrid/utils/convertDataBrowserGridColumnToDatabaseColumn/index.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGrid/DataGrid.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGrid/useDataGrid.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridBody/DataGridBody.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridHeader/DataGridHeader.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/DataGridHeaderButton/DataGridHeaderButton.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/FilesDataGrid/FilesDataGrid.tsx
  dashboard/src/features/orgs/projects/storage/dataGrid/components/PreviewHeader/PreviewHeader.tsx
Labels: Review effort 3/5

#3532 fix(ci): specify base when bumping the dashboard in the cli
  .github/workflows/dashboard_wf_release.yaml
Labels: Review effort 1/5

#3529 chore(cli): update schema
  cli/CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/nhost/be/services/mimir/schema/schema.cue
  vendor/modules.txt
Labels: Review effort 1/5

#3534 chore(ci): use variables in gen_ai_review workflow to configure models
  .github/workflows/gen_ai_review.yaml
Labels: Review effort 2/5

#3530 fix (dashboard): delay generating auth service url when creating users
  dashboard/package.json
  dashboard/src/features/orgs/layout/OrgLayout/ProjectLayoutContent.tsx
  dashboard/src/features/orgs/projects/authentication/users/components/CreateUserForm/CreateUserForm.tsx
Labels: Review effort 2/5

#3537 chore(ci): validate PR title
  .github/actions/validate-pr-title/action.yaml
  .github/workflows/wf_build_artifacts.yaml
  .github/workflows/wf_check.yaml
Labels: Review effort 2/5

#3540 fix(dashboard): update remote schemas url tooltip
  dashboard/src/features/orgs/projects/remote-schemas/components/BaseRemoteSchemaForm/GraphQLServiceURLInput.tsx
  dashboard/src/features/orgs/projects/remote-schemas/components/RemoteSchemaDetails/RemoteSchemaDetails.tsx
Labels: Review effort 1/5
