Repository nhost/nhost, pull requests merged in 2025-08, with the labels that each got.

#3408 fix (dashboard): support page, can scroll all the way down in Chrome for iOS
  .changeset/stupid-phones-act.md
  dashboard/src/pages/support/index.tsx
Labels: dashboard, Review effort 1/5

#3403 chore (dashboard): refactor redirect behaviour
  .changeset/stale-seas-scream.md
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/features/orgs/layout/OrgLayout/OrgLayout.tsx
  dashboard/src/features/orgs/layout/OrgLayout/OrganizationGuard.test.tsx
  dashboard/src/features/orgs/layout/OrgLayout/OrganizationGuard.tsx
  dashboard/src/features/orgs/layout/OrgLayout/ProjectLayoutContent.test.tsx
  dashboard/src/features/orgs/layout/OrgLayout/ProjectLayoutContent.tsx
  dashboard/src/features/orgs/layout/OrgLayout/index.ts
  dashboard/src/features/orgs/projects/backups/components/common/PointInTimeBackupInfo/PointInTimeBackupInfo.test.tsx
  dashboard/src/features/orgs/projects/common/hooks/useNotFoundRedirect/index.ts
  dashboard/src/features/orgs/projects/common/hooks/useNotFoundRedirect/useNotFoundRedirect.ts
  dashboard/src/features/orgs/projects/hooks/useProjectWithState/useProjectWithState.ts
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/index.tsx
  dashboard/src/providers/Auth/AuthContext.ts
  dashboard/src/providers/Auth/AuthProvider.tsx
Labels: dashboard, Review effort 4/5

#3410 fix (dashboard): Clear isSigningOut variable on Signin page
  .changeset/clever-dots-complain.md
  dashboard/src/pages/signin.tsx
  dashboard/src/providers/Auth/AuthContext.ts
  dashboard/src/providers/Auth/AuthProvider.tsx
Labels: dashboard, Review effort 2/5

#3416 fix (docs): functions: added response payload limit
  .changeset/cool-toes-impress.md
  docs/products/functions/overview.mdx
Labels: Review effort 1/5

#3419 fix (dashboard): Check if user is logged in before redirecting
  .changeset/mighty-kids-double.md
  dashboard/src/features/orgs/layout/OrgLayout/OrganizationGuard.tsx
  dashboard/src/features/orgs/layout/OrgLayout/ProjectLayoutContent.tsx
  dashboard/src/pages/index.tsx
Labels: dashboard, Review effort 2/5

#3420 chore (docker-example): update dashboard image version
  .changeset/quick-kangaroos-perform.md
  dashboard/src/features/orgs/components/billing/SubscriptionPlan/SubscriptionPlan.tsx
  examples/docker-compose/docker-compose.yaml
Labels: dashboard, Review effort 2/5

#3422 fix (docs): fixes to changes in mintlify breaking our docs
  .changeset/bright-forks-breathe.md
  docs/style.css
Labels: Review effort 2/5

#3433 fix (dashboard): Update navbar after org and project operations
  .changeset/few-fans-collect.md
  dashboard/e2e/fixtures/auth-hook.ts
  dashboard/e2e/setup/auth.setup.ts
  dashboard/e2e/utils.ts
  dashboard/package.json
  dashboard/src/components/layout/MainNav/NavTree.tsx
  dashboard/src/features/orgs/components/billing/FinishUpgradeOrganizationProcess/FinishUpgradeOrganizationProcess.tsx
  pnpm-lock.yaml
Labels: dashboard, Review effort 2/5

#3441 fix (dashboard): Allow creating tables without primary key
  .changeset/little-coats-call.md
  dashboard/src/features/orgs/projects/database/dataGrid/hooks/useCreateTableMutation/prepareCreateTableQuery.ts
Labels: dashboard, Review effort 2/5

#3447 fix (dashboard): update packages because of vulnerability
  package.json
  pnpm-lock.yaml
Labels: Review effort 2/5

#3450 fix (dashboard): Disable segment
  dashboard/src/features/auth/AuthProviders/Github/hooks/useGithubAuthentication/useGithubAuthentication.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithEmailAndPassword/hooks/useOnSignUpWithPasswordHandler.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithSecurityKey/hooks/useSignupWithSecurityKeyHandler.ts
  dashboard/src/features/auth/SignUp/SignUpWithGithub/SignUpWithGithub.tsx
  dashboard/src/lib/segment.ts
  dashboard/src/pages/signup.tsx
Labels: dashboard, Review effort 2/5
