Repository nhost/nhost, pull requests merged in 2025-07, with the labels that each got.

#3382 fix (dashboard): Fix announcement layout when title is too short
  .changeset/wet-sheep-bake.md
  dashboard/src/features/orgs/components/CreateOrgFormDialog/CreateOrgFormDialog.tsx
  dashboard/src/features/orgs/components/members/components/AnnouncementsTray/AnnouncementsTray.tsx
Labels: dashboard, Review effort 2/5

#3384 fix (dashboard): Use the correct http method when connecting to new github installation
  .changeset/big-students-crash.md
  dashboard/src/pages/github-app-installation/index.tsx
Labels: dashboard, Review effort 1/5

#3388 chore: dashboard: add gtag
  .changeset/thin-steaks-poke.md
  dashboard/src/components/common/CookieConsent/CookieConsent.tsx
  dashboard/src/components/common/CookieConsent/index.ts
  dashboard/src/pages/signup.tsx
Labels: dashboard, Review effort 2/5

#3380 fix (dashboard): Remove second loading indicator on projects page
  .changeset/tame-suits-rest.md
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/components/ui/v2/ThemeProvider/ThemeProvider.tsx
  dashboard/src/features/orgs/components/projects/projects-grid/projects-grid.tsx
  dashboard/src/features/orgs/layout/OrgLayout/OrgLayout.tsx
  dashboard/src/features/orgs/layout/OrgLayout/index.ts
  dashboard/src/features/orgs/layout/ProjectLayout/index.ts
  dashboard/src/features/orgs/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/features/orgs/layout/SettingsLayout/index.ts
  dashboard/src/gql/organizations/getOrganizationProjects.gql
  dashboard/src/pages/orgs/[orgSlug]/billing.tsx
  dashboard/src/pages/orgs/[orgSlug]/members.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/ai/assistants/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/ai/auto-embeddings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/ai/file-stores/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/backups.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/database/browser/[dataSourceSlug]/[schemaSlug]/[tableSlug].tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/database/browser/[dataSourceSlug]/editor.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/database/browser/[dataSourceSlug]/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/deployments/[deploymentId].tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/deployments/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/graphql.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/hasura.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/logs.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/metrics.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/run.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/ai.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/authentication.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/compute-resources.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/custom-domains.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/database.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/editor.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/environment-variables.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/git.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/hasura.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/jwt.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/metrics.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/rate-limiting.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/roles-and-permissions.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/secrets.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/sign-in-methods.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/smtp.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/storage.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/storage.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/users.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/new.tsx
  dashboard/src/pages/orgs/[orgSlug]/settings.tsx
  dashboard/src/pages/signup.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort 2/5

#3399 fix: update dependencies to fix vulnerabilities
  .changeset/slow-oranges-jump.md
  dashboard/package.json
  examples/nextjs/package.json
  examples/quickstarts/nextjs-server-components/package.json
  package.json
  packages/nextjs/package.json
  pnpm-lock.yaml
Labels: dashboard, Review effort 2/5

#3394 fix (dashboard): disable settings when there is no config server env variable present
  .changeset/sixty-turtles-fetch.md
  dashboard/docker-entrypoint.sh
  dashboard/src/components/layout/AuthenticatedLayout/AuthenticatedLayout.tsx
  dashboard/src/components/layout/MainNav/NavTree.tsx
  dashboard/src/features/account/settings/components/SocialProvidersSettings/SocialProvidersSettings.tsx
  dashboard/src/features/orgs/components/common/TransferOrUpgradeProjectDialog/TransferOrUpgradeProjectDialog.tsx
  dashboard/src/features/orgs/layout/OrgLayout/OrgLayout.tsx
  dashboard/src/features/orgs/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/features/orgs/projects/ai/DevAssistant/DevAssistant.tsx
  dashboard/src/features/orgs/projects/common/hooks/useIsHealthy/useIsHealthy.ts
  dashboard/src/features/orgs/projects/hasura/settings/components/HasuraCorsDomainSettings/HasuraCorsDomainSettings.test.tsx
  dashboard/src/features/orgs/utils/local-dashboard/index.ts
  dashboard/src/hooks/useSettingsDisabled/index.ts
  dashboard/src/hooks/useSettingsDisabled/useSettingsDisabled.ts
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/ai/assistants/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/ai/auto-embeddings/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/ai/file-stores/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/graphql.tsx
  dashboard/src/utils/env/env.ts
  examples/docker-compose/docker-compose.yaml
Labels: dashboard, Review effort 4/5

#3404 chore (docs): updated postgres extension and added new custom claims default option
  .changeset/short-jars-report.md
  docs/products/database/configuring-postgres.mdx
  docs/products/database/extensions.mdx
  docs/products/graphql/permissions.mdx
Labels: Review effort 2/5

#3401 chore (dashboard): re-enable upgrade project e2e tests
  .github/workflows/ci.yaml
Labels: dashboard, Review effort 2/5

#3406 fix (dashboard): Fix upgrade project e2e tests
  .changeset/big-bananas-roll.md
  dashboard/e2e/upgrade-project/upgrade-project.test.ts
Labels: dashboard, Review effort 2/5

#3407 fix: dashboard: don't upgrade to starter
  dashboard/src/features/orgs/components/billing/components/SubscriptionPlan/SubscriptionPlan.tsx
Labels: dashboard, Review effort 2/5
