Repository nhost/nhost, pull requests merged in 2025-02, with the labels that each got.

#3178 chore: docs: add mention to pg 17 to upgrade major guide
  docs/guides/database/upgrade-major.mdx
Labels: documentation, Review effort [1-5]: 1

#3145 feat(dashboard): filter files by id
  dashboard/src/features/orgs/projects/storage/dataGrid/hooks/useFiles/useFiles.ts
  dashboard/src/features/orgs/projects/storage/dataGrid/hooks/useFilesAggregate/useFilesAggregate.ts
  dashboard/src/features/storage/dataGrid/hooks/useFiles/useFiles.ts
  dashboard/src/features/storage/dataGrid/hooks/useFilesAggregate/useFilesAggregate.ts
Labels: dashboard

#3185 feat (docs): added billing page
  .changeset/fifty-books-push.md
  .changeset/strange-schools-kick.md
  dashboard/src/features/orgs/components/billing/components/SubscriptionPlan/SubscriptionPlan.tsx
  dashboard/src/features/orgs/projects/common/components/RemoveApplicationModal/RemoveApplicationModal.tsx
  docs/mint.json
  docs/platform/billing.mdx
Labels: documentation, dashboard, Review effort [1-5]: 2

#3183 fix (dashboard): fix edit permission form cannot be saved
  .changeset/curly-toys-peel.md
  dashboard/src/features/orgs/projects/database/dataGrid/components/EditPermissionsForm/validationSchemas.ts
  package.json
Labels: dashboard, Review effort [1-5]: 2

#3186 fix (dashboard CI): e2e tests teardown
  dashboard/e2e/database/permissions-table.test.ts
  dashboard/e2e/teardown/database.teardown.ts
  dashboard/e2e/utils.ts
  dashboard/global-teardown.ts
  dashboard/playwright.config.ts
Labels: dashboard, Review effort [1-5]: 4

#3169 feat (dashboard): allow to create new org from the transfer project dialog
  .changeset/shiny-feet-rest.md
  .gitignore
  dashboard/.vscode/settings.json
  dashboard/src/components/common/OpenTransferDialogButton/OpenTransferDialogButton.tsx
  dashboard/src/components/common/OpenTransferDialogButton/index.ts
  dashboard/src/components/common/UpgradeToProBanner/UpgradeToProBanner.tsx
  dashboard/src/features/orgs/components/CreateOrgFormDialog/CreateOrgFormDialog.tsx
  dashboard/src/features/orgs/components/common/FinishOrgCreationProcess/FinishOrgCreationProcess.tsx
  dashboard/src/features/orgs/components/common/FinishOrgCreationProcess/index.ts
  dashboard/src/features/orgs/components/common/TransferProjectDialog/FinishOrgCreation.tsx
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.test.tsx
  dashboard/src/features/orgs/components/common/TransferProjectDialog/TransferProjectDialog.tsx
  dashboard/src/features/orgs/components/members/components/NotificationsTray/NotificationsTray.test.tsx
  dashboard/src/features/orgs/components/members/components/NotificationsTray/NotificationsTray.tsx
  dashboard/src/features/orgs/hooks/useFinishOrgCreation/index.ts
  dashboard/src/features/orgs/hooks/useFinishOrgCreation/useFinishOrgCreation.ts
  dashboard/src/features/orgs/projects/overview/components/OverviewTopBar/OverviewTopBar.tsx
  dashboard/src/features/orgs/projects/overview/components/OverviewTopBar/UpgradeProjectDialog.tsx
  dashboard/src/lib/utils.test.ts
  dashboard/src/lib/utils.ts
  dashboard/src/pages/orgs/verify.tsx
  dashboard/src/setupTests.ts
  dashboard/src/tests/mocks.ts
  dashboard/src/tests/msw/mocks/graphql/getOrganizationQuery.ts
  dashboard/src/tests/msw/mocks/graphql/getProjectQuery.ts
  dashboard/src/tests/msw/mocks/graphql/organizationRequests.ts
  dashboard/src/tests/msw/mocks/graphql/prefetchNewAppQuery.ts
  dashboard/src/tests/orgs/testUtils.tsx
  dashboard/tsconfig.test.json
Labels: dashboard, Review effort [1-5]: 4

#3179 fix (dashboard): fetch allowed roles from the project's auth.roles table
  .changeset/tall-houses-mix.md
  dashboard/src/features/authentication/users/components/EditUserForm/EditUserForm.tsx
  dashboard/src/features/authentication/users/components/EditUserPasswordForm/EditUserPasswordForm.tsx
  dashboard/src/features/orgs/projects/authentication/users/components/EditUserForm/EditUserForm.tsx
  dashboard/src/features/orgs/projects/authentication/users/components/EditUserPasswordForm/EditUserPasswordForm.tsx
  dashboard/src/features/orgs/projects/authentication/users/components/UsersBody/UsersBody.tsx
  dashboard/src/gql/remote-app/getUsers.graphql
  dashboard/src/pages/[workspaceSlug]/[appSlug]/users/index.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/users.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort [1-5]: 3

#3172 fix (dashboard): invalid slug/subdomain should open 404
  .changeset/heavy-eyes-smile.md
  dashboard/Dockerfile
  dashboard/src/components/layout/Header/OrgPagesComboBox.tsx
  dashboard/src/components/layout/Header/ProjectPagesComboBox.tsx
  dashboard/src/features/projects/common/hooks/useNotFoundRedirect/useNotFoundRedirect.ts
Labels: dashboard, Review effort [1-5]: 3

#3192 chore (dashboard): update schema
  .changeset/stale-schools-type.md
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesConfirmationDialog/ResourcesConfirmationDialog.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesForm.tsx
  dashboard/src/features/orgs/projects/resources/settings/components/ResourcesForm/ResourcesFormFooter.tsx
  dashboard/src/features/orgs/projects/resources/settings/gql/getResources.gql
  dashboard/src/features/orgs/projects/resources/settings/utils/resourceSettingsValidationSchema/resourceSettingsValidationSchema.ts
  dashboard/src/features/projects/resources/settings/components/ResourcesForm/ResourcesForm.tsx
  dashboard/src/utils/__generated__/graphql.ts
Labels: dashboard, Review effort [1-5]: 3

#3199 chore: update links in README
  README.md
Labels: Review effort 1/5

#3197 fix(nhost-js): update service URL generation for local environments
  .changeset/hip-falcons-applaud.md
  .github/workflows/test-nhost-cli-action.yaml
  dashboard/.env.example
  dashboard/README.md
  dashboard/graphite.graphql.config.yaml
  dashboard/src/features/orgs/projects/overview/components/OverviewDeployments/OverviewDeployments.test.tsx
  dashboard/src/features/projects/overview/components/OverviewDeployments/OverviewDeployments.test.tsx
  dashboard/src/tests/msw/mocks/graphql/nhostGraphQLLink.ts
  dashboard/src/tests/msw/mocks/rest/hasuraMetadataQuery.ts
  dashboard/src/tests/msw/mocks/rest/tableQuery.ts
  dashboard/src/tests/msw/mocks/rest/tokenQuery.ts
  dashboard/src/tests/orgs/testUtils.tsx
  dashboard/src/tests/testUtils.tsx
  dashboard/src/utils/env/env.ts
  docs/development/cli/commands.mdx
  docs/development/cli/getting-started.mdx
  docs/development/cli/overview.mdx
  docs/guides/ai/assistants.mdx
  docs/guides/auth/custom-jwts.mdx
  docs/guides/cli/local-development.mdx
  docs/guides/cli/migrate-config.mdx
  docs/guides/cli/multiple-projects.mdx
  docs/guides/cli/seeds.mdx
  docs/guides/run/local-development.mdx
  docs/guides/storage/overview.mdx
  docs/images/guides/ai/assistants/diagrams.txt
  docs/reference/openapi-auth-old.yaml
  docs/reference/openapi-storage.yaml
  docs/reference/storage/upload-file.mdx
  examples/codegen-react-query/src/components/SignIn.tsx
  examples/quickstarts/nextjs-server-components/README.md
  examples/quickstarts/nextjs-server-components/src/app/server-actions/auth/sign-in-apple.ts
  examples/quickstarts/nextjs-server-components/src/app/server-actions/auth/sign-in-google.ts
  examples/quickstarts/nhost-backend/functions/pnpm-lock.yaml
  examples/quickstarts/nhost-backend/nhost/nhost.toml
  examples/react-apollo/e2e/config.ts
  examples/react-apollo/nhost/nhost.toml
  examples/seed-data-storage/README.md
  examples/seed-data-storage/seed-storage.sh
  integrations/google-translation/README.md
  packages/hasura-auth-js/e2e/helpers.ts
  packages/hasura-auth-js/tests/helpers/config.ts
  packages/hasura-storage-js/tests/utils/helpers.ts
  packages/nhost-js/src/utils/helpers.ts
  packages/nhost-js/tests/utils.test.ts
Labels: documentation, dashboard, sdk, react, examples, integrations, Review effort 3/5

#3204 fix (CI): update PNPM overrides to address security vulnerabilities
  package.json
  pnpm-lock.yaml
Labels: Review effort 2/5

#3213 chore: dashboard: add segment analytics
  .changeset/weak-clocks-approve.md
  dashboard/.env.example
  dashboard/package.json
  dashboard/src/components/analytics/analytics.tsx
  dashboard/src/lib/segment.ts
  dashboard/src/pages/_app.tsx
  pnpm-lock.yaml
Labels: dashboard, Review effort 2/5

#3214 fix (dashboard): database storage capacity setting paywall
  .changeset/neat-bikes-provide.md
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
Labels: dashboard, Review effort 3/5

#3218 chore: update nix config to use pnpm10
  flake.nix
Labels: Review effort 1/5

#3217 fix (ci): github actions signature checks when installing packages
  .github/actions/install-dependencies/action.yaml
Labels: Review effort 2/5

#3216 chore: dashboard: add org slug and project subdomain properites to se…
  .changeset/wild-rings-count.md
  dashboard/src/components/analytics/analytics.tsx
Labels: dashboard, Review effort 2/5

#3220 fix: dashboard: run analytics only in prod
  .changeset/short-games-sniff.md
  dashboard/src/pages/_app.tsx
Labels: dashboard, Review effort 2/5

#3211 fix (dashboard): split postgres version if using a beta like 17.2-0.0.0-beta1
  .changeset/twenty-pets-brake.md
  dashboard/src/features/orgs/projects/database/common/hooks/useGetPostgresVersion/useGetPostgresVersion.ts
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseServiceVersionSettings/DatabaseServiceVersionSettings.tsx
  dashboard/src/features/orgs/projects/database/settings/utils/splitPostgresMajorMinorVersions/index.ts
  dashboard/src/features/orgs/projects/database/settings/utils/splitPostgresMajorMinorVersions/splitPostgresMajorMinorVersions.test.ts
  dashboard/src/features/orgs/projects/database/settings/utils/splitPostgresMajorMinorVersions/splitPostgresMajorMinorVersions.ts
Labels: dashboard, Review effort 2/5
