Repository nhost/nhost, pull requests merged in 2025-06, with the labels that each got.

#3351 fix (docs): fix audit
  .changeset/yellow-drinks-sort.md
  audit-ci.jsonc
  package.json
  pnpm-lock.yaml
Labels: Review effort 2/5

#3349 feat: dashboard: add download button for soc2 report
  .changeset/spicy-walls-joke.md
  dashboard/.env.example
  dashboard/src/features/orgs/components/general/components/Soc2Download/Soc2Download.tsx
  dashboard/src/features/orgs/components/general/components/Soc2Download/index.ts
  dashboard/src/pages/orgs/[orgSlug]/settings.tsx
Labels: dashboard, Review effort 3/5

#3354 fix (dashboard): fix e2e test
  .changeset/giant-crabs-love.md
  dashboard/e2e/upgrade-project/upgrade-project.test.ts
Labels: dashboard, Review effort 3/5

#3320 feat (dashboard): Add Webauthn to dashboard
  .changeset/rich-bottles-taste.md
  dashboard/.eslintrc.js
  dashboard/package.json
  dashboard/src/components/form/FormInput/FormInput.tsx
  dashboard/src/components/form/FormInput/index.ts
  dashboard/src/features/account/settings/components/SecurityKeysSettings/components/AddSecurityKeyButton.tsx
  dashboard/src/features/account/settings/components/SecurityKeysSettings/components/NewSecurityKeyForm.tsx
  dashboard/src/features/account/settings/components/SecurityKeysSettings/components/RemoveSecurityKeyButton.tsx
  dashboard/src/features/account/settings/components/SecurityKeysSettings/components/SecurityKeyList.tsx
  dashboard/src/features/account/settings/components/SecurityKeysSettings/components/SecurityKeysSettings.tsx
  dashboard/src/features/account/settings/components/SecurityKeysSettings/hooks/useElevatedPermissions.ts
  dashboard/src/features/account/settings/components/SecurityKeysSettings/hooks/useGetSecurityKeys.ts
  dashboard/src/features/account/settings/components/SecurityKeysSettings/hooks/useNewSecurityKeyForm.ts
  dashboard/src/features/account/settings/components/SecurityKeysSettings/hooks/useOnAddNewSecurityKeyHandler.ts
  dashboard/src/features/account/settings/components/SecurityKeysSettings/hooks/useRemoveSecurityKey.ts
  dashboard/src/features/account/settings/components/SecurityKeysSettings/index.ts
  dashboard/src/features/account/settings/gql/getSecurityKeys.gql
  dashboard/src/features/account/settings/gql/removeSecurityKey.gql
  dashboard/src/features/auth/AuthProviders/Github/components/GithubAuthButton/GithubAuthButton.tsx
  dashboard/src/features/auth/AuthProviders/Github/components/GithubAuthButton/index.ts
  dashboard/src/features/auth/AuthProviders/Github/hooks/useGithubAuthentication/index.ts
  dashboard/src/features/auth/AuthProviders/Github/hooks/useGithubAuthentication/useGithubAuthentication.ts
  dashboard/src/features/auth/SignIn/SecurityKey/components/SignInWithSecurityKey/SignInWithSecurityKey.tsx
  dashboard/src/features/auth/SignIn/SecurityKey/components/SignInWithSecurityKey/VerifyEmailDialog.tsx
  dashboard/src/features/auth/SignIn/SecurityKey/hooks/useSignInWithSecurityKey/index.ts
  dashboard/src/features/auth/SignIn/SecurityKey/hooks/useSignInWithSecurityKey/useSignInWithSecurityKey.ts
  dashboard/src/features/auth/SignIn/SecurityKey/index.ts
  dashboard/src/features/auth/SignIn/SignInWithGithub/SignInWithGithub.tsx
  dashboard/src/features/auth/SignIn/SignInWithGithub/index.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpTabs.tsx
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithEmailAndPassword/components/SignUpWithEmailAndPasswordForm.tsx
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithEmailAndPassword/hooks/useOnSignUpWithPasswordHandler.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithEmailAndPassword/hooks/useSignUpWithEmailAndPasswordForm.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithEmailAndPassword/index.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithSecurityKey/components/SignUpWithSecurityKeyForm.tsx
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithSecurityKey/hooks/useSignupWithSecurityKeyForm.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithSecurityKey/hooks/useSignupWithSecurityKeyHandler.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/SignUpWithSecurityKey/index.ts
  dashboard/src/features/auth/SignUp/SignUpTabs/index.ts
  dashboard/src/features/auth/SignUp/SignUpWithGithub/SignUpWithGithub.tsx
  dashboard/src/features/auth/SignUp/SignUpWithGithub/index.ts
  dashboard/src/lib/segment.ts
  dashboard/src/pages/_app.tsx
  dashboard/src/pages/account/index.tsx
  dashboard/src/pages/signin.tsx
  dashboard/src/pages/signup.tsx
  dashboard/src/utils/__generated__/graphql.ts
  examples/react-apollo/src/components/routes/auth/sign-up/sign-up-security-key.tsx
  packages/hasura-auth-js/src/machines/authentication/machine.ts
  packages/hasura-auth-js/src/promises/elevateEmailSecurityKey.ts
  packages/react/src/useSignUpEmailSecurityKey.ts
  pnpm-lock.yaml
Labels: dashboard, sdk, react

#3348 chore: dashboard: improve messaging then git connected
  .changeset/rich-pillows-teach.md
  dashboard/src/features/orgs/layout/SettingsLayout/SettingsLayout.tsx
  dashboard/src/features/orgs/projects/database/dataGrid/components/DataBrowserSidebar/DataBrowserSidebar.tsx
  dashboard/src/utils/constants/common/common.ts
Labels: dashboard, Review effort 2/5

#3363 chore (dashboard): Add link about antivirus integration
  .changeset/pink-grapes-cheat.md
  dashboard/src/features/orgs/projects/storage/settings/components/StorageAVSettings/HasuraStorageAVSettings.tsx
Labels: dashboard, Review effort 1/5

#3367 chore (docs): added limits section
  docs/products/functions/overview.mdx
Labels: Review effort 1/5

#3371 fix (dashboard): Limit new project name to a max of 32 chars
  .changeset/weak-bottles-stare.md
  dashboard/e2e/upgrade-project/upgrade-project.test.ts
Labels: dashboard, Review effort 2/5
