Repository nhost/nhost, pull requests merged in 2025-05, with the labels that each got.

#3323 fix (ci): update vite to solve vulnerability audit
  .changeset/chatty-kids-exist.md
  .github/workflows/labeler.yaml
  dashboard/package.json
  examples/codegen-react-apollo/package.json
  examples/codegen-react-query/package.json
  examples/codegen-react-urql/package.json
  examples/quickstarts/sveltekit/package.json
  examples/react-apollo/package.json
  examples/react-gqty/package.json
  examples/vue-apollo/package.json
  examples/vue-quickstart/package.json
  nix/nhost-cli.nix
  package.json
  pnpm-lock.yaml
Labels: dashboard, react, examples, vue, Review effort 2/5

#3328 fix: update labeler config
  .github/labeler.yml
  .github/workflows/labeler.yaml
  flake.lock
Labels: Review effort 1/5

#3316 feat (dashboard): Add information about that free organization cannot be upgraded
  .changeset/good-frogs-share.md
  .github/workflows/ci.yaml
  dashboard/e2e/setup/refresh-metadata.setup.ts
  dashboard/src/features/orgs/components/InfoAlert/InfoAlert.tsx
  dashboard/src/features/orgs/components/billing/components/SubscriptionPlan/SubscriptionPlan.tsx
  dashboard/src/features/orgs/projects/common/components/TextLink/TextLink.tsx
Labels: dashboard

#3292 fix (dashboard): downsize postgres using local dashboard
  .changeset/new-tips-fold.md
  dashboard/src/features/orgs/projects/database/common/hooks/useGetPostgresVersion/useGetPostgresVersion.ts
  dashboard/src/features/orgs/projects/database/settings/components/DatabaseStorageCapacity/DatabaseStorageCapacity.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/settings/index.tsx
Labels: dashboard, Review effort 2/5

#3300 fix (dashboard): logs persist time range selector, fix validation
  .changeset/cool-forks-type.md
  dashboard/src/features/orgs/projects/logs/components/LogsDatePicker/LogsDatePicker.tsx
  dashboard/src/features/orgs/projects/logs/components/LogsHeader/LogsHeader.tsx
  dashboard/src/features/orgs/projects/logs/components/LogsRangeSelector/LogsRangeSelector.tsx
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/logs.tsx
  dashboard/src/utils/constants/common/common.ts
Labels: dashboard, Review effort 3/5

#3301 fix (examples/react-apollo): fix settings
  .changeset/lazy-years-kneel.md
  examples/react-apollo/nhost/nhost.toml
  examples/react-apollo/nhost/overlays/local.json
Labels: react, examples, Review effort 2/5

#3331 fix (dashboard): Use the correct payload to reset metadata before e2 tests
  .changeset/lemon-flies-live.md
  dashboard/e2e/setup/refresh-metadata.setup.ts
Labels: dashboard, Review effort 2/5

#3333 fix (dashboard): logs page, fetch job-backup services logs using Live filter
  .changeset/hungry-waves-destroy.md
  dashboard/src/pages/orgs/[orgSlug]/projects/[appSubdomain]/logs.tsx
Labels: dashboard, Review effort 2/5

#3334 fix (dashboard ci): stop playwright e2e tests run after first failure
  .changeset/wild-stingrays-help.md
  dashboard/e2e/setup/refresh-metadata.setup.ts
  dashboard/package.json
Labels: dashboard, Review effort 2/5

#3341 fix (dashboard): collapsed main navigation sidebar overlaps mobile navbar
  .changeset/small-dragons-tell.md
  dashboard/src/components/layout/MainNav/MainNav.tsx
Labels: dashboard, Review effort 2/5

#3343 fix (docs): remove nodejs18
  .changeset/brave-garlics-act.md
  docs/products/functions/runtimes.mdx
Labels: Review effort 1/5

#3345 fix: update requirements in DEVELOPERS.md
  DEVELOPERS.md
Labels: Review effort 1/5
